<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Apperance</title>
    <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"></link>
</head>
<body>
<div th:replace="fragments/navigation :: nav-for-admin"></div>
<div class="container">
    <h3>Eyes</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="eyes : ${eyesList}">
            <td th:text="${eyes.getId()}">1</td>
            <td th:text="#{${eyes.getName()}}">name</td>
            <td th:text="${eyes.getType()}">name</td>
        </tr>
        </tbody>
    </table>
    <h3>Head</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="head : ${headList}">
            <td th:text="${head.getId()}">1</td>
            <td th:text="#{${head.getName()}}">name</td>
            <td th:text="${head.getType()}">name</td>
        </tr>
        </tbody>
    </table>
    <h3>Height</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="height : ${heightList}">
            <td th:text="${height.getId()}">1</td>
            <td th:text="#{${height.getName()}}">name</td>
            <td th:text="${height.getType()}">name</td>
        </tr>
        </tbody>
    </table>
    <h3>Skin color</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="skinColor : ${skinColorList}">
            <td th:text="${skinColor.getId()}">1</td>
            <td th:text="#{${skinColor.getName()}}">name</td>
            <td th:text="${skinColor.getType()}">name</td>
        </tr>
        </tbody>
    </table>
</div>
<script th:src="@{/webjars/jquery/1.9.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
</body>
</html>