<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Здания</title>
    <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"></link>
    <link th:href="@{/css/common.css}" rel="stylesheet"></link>
</head>
<body>
<div th:replace="fragments/navigation :: nav-for-admin"></div>
<div class="container">

    <h3>Здания бизнеса (
        <th:block th:text="${#lists.size(buildingList)}"></th:block>
        )
    </h3>
    <!--<table class="table table-striped table-condensed">-->
    <table class="table table-striped table-condensed" style="font-size: 10px;">
        <thead>
        <tr>
            <th>Building</th>
            <th>Desc</th>
            <th>Project name</th>
            <th>Cost</th>
            <th>Res</th>
            <th>Thing</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="building : ${buildingList}" th:with="project = ${building.getProduction()}">
            <!--/*@thymesVar id="building" type="dyn.model.House"*/-->
            <td><a th:href="${'/admin/buildings#building'+building.getId()}" th:text="${building.getName()+'('+building.getId()+')'}">Home</a></td>
            <td th:text="${building.getDesc()}">name</td>
            <td th:text="${project.getName()+'('+project.getId()+')'}">name</td>
            <td th:text="${project.getCost()}">name</td>
            <td>
                <div th:replace="fragments/custom :: resView (resHolder=${project})"></div>

            </td>
            <td th:text="${building.getProduction().getThing().getName()}">name</td>
        </tr>
        </tbody>
    </table>

    <h3>Интерьер зданий города</h3>
    <h3>Ваши здания:</h3>
    <ul class="list-inline">
        <!--/*@thymesVar id="buildingList" type="List<Building>"*/-->
        <li th:each="building : ${buildingList}">
            <a th:href="${'/admin/buildings#building'+building.getId()}" th:text="${building.getName()}">Home</a>
        </li>
    </ul>
    <th:block th:each="mapEntry : ${buildingMap}" th:with="building = ${mapEntry.getKey()}, roomViewList = ${mapEntry.getValue()}">
        <a th:name="${'building'+building.getId()}" class="anchor"></a>
        <div class="well">
            <h3 th:text="${#strings.toUpperCase(building.getName()) + ' (' + building.getId() + ')'}">Здание</h3>
            <p th:text="${building.getDesc()}"></p>

            <th:block th:with="roomView = ${roomViewList.get(0)}">
                <!--/*@thymesVar id="roomView" type="dyn.model.RoomView"*/-->

                <p>Крафт-пойнты:
                    <th:block th:text="${roomView.getSumOfCraftPoints()}"></th:block>
                </p>
            </th:block>

            <form th:action="@{/admin/newRoomThing}" method="post" class="form-inline" style="padding-bottom: 10px;">
                <div class="form-group"><label>Добавить вещь:</label>
                    <select name="roomThingThingId" class="form-control">
                        <option th:each="thing : ${thingList}"
                                th:value="${thing.getId()}"
                                th:text="${thing.getName()} + ' (' + ${thing.getId()} + ')'">option
                        </option>
                    </select>
                </div>
                <div class="form-group"><label>X:</label>
                    <input type="text" name="roomThingX" value="" class="form-control" style="width: 60px;"/></div>
                <div class="form-group"><label>Y:</label>
                    <input type="text" name="roomThingY" value="" class="form-control" style="width: 60px;"/></div>
                <div class="form-group"><label>Слой:</label>
                    <input type="text" name="roomThingLayer" value="1" class="form-control" style="width: 60px;"/>
                </div>
                <input type="hidden" name="roomThingRoomId" th:value="${building.getRoomList().get(0).getId()}"/>
                <input type="hidden" name="roomThingHouseId" th:value="${building.getId()}"/>
                <button type="submit" class="btn btn-info">Создать</button>
            </form>


            <th:block th:with="roomView = ${roomViewList.get(0)}">
                <div style="width: 1035px; height: 405px; position: relative; background: url(/graphics/room_grid.png) repeat-y #ffffff">
                    <th:block th:each="roomThingWithItems : ${roomView.getRoomThingWithItemsList()}" th:with="roomThing = ${roomThingWithItems.getRoomThing()}">
                        <div align="center" style="border: solid 1px darkslategray; display: table; position: absolute; "
                             th:styleappend="${'width: '+ roomThing.getThing().getWidth() +'px;'+
                                 'height: ' + roomThing.getThing().getHeight()+'px;'+
                                 'left: ' + roomThing.getX()+'px;'+
                                 'top: ' + roomThing.getY()+'px;'}">

                            <!--<div th:text="${roomThing.getThing().getName()}"
                                 data-toggle="tooltip" th:title="${roomThing.getThing().getName() + ' (' + roomThing.getX() + ',' + roomThing.getY() + ')'}"
                                 style="color: dimgrey; display: table-cell; vertical-align: middle; font-size: 10px;">Нет вещи
                            </div>-->
                            <a th:text="${roomThing.getThing().getName()}" th:title="${roomThing.getThing().getName() + ' (' + roomThing.getX() + ',' + roomThing.getY() + ')' + roomThing.getThing().getCost() + ' б.'}"
                               data-toggle="modal" data-target="#myModal" style="cursor: pointer; font-size: 10px;color: cornflowerblue;"
                               th:onclick="'javascript:passData('+${roomThing.getId()}+',\'' + ${roomThing.getX()} + '\','+${roomThing.getY()}+','+${roomThing.getLayer()}+','+${roomThing.getHouse().getId()}+');'">Thing
                            </a>
                            <a th:href="${'/admin/projectsForThing?thingId='+roomThing.getThing().getId()}" target="_blank"><span class="glyphicon glyphicon-bookmark" style="color: black;"></span></a>
                        </div>
                    </th:block>
                </div>
            </th:block>
        </div>
    </th:block>
    <!-- Modal -->
    <script>
        function passData(id, x, y, layer, houseId) {
            $(".modal-body #roomThingId").val(id);
            $(".modal-body #roomThingX").val(x);
            $(".modal-body #roomThingY").val(y);
            $(".modal-body #roomThingLayer").val(layer);
            $(".modal-body #roomThingHouseId").val(houseId);
        }
    </script>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Изменение положения вещи в интерьере комнаты</h4>
                </div>
                <div class="modal-body">
                    <p>Удалить вещь (все items, размещенные в этой ячейке, будут перемещены на склад игроков ):</p>
                    <form th:action="@{/admin/removeRoomThing}" method="post">
                        <input type="hidden" name="roomThingHouseId" id="roomThingHouseId" value=""/>
                        <input type="hidden" name="roomThingId" id="roomThingId" value=""/>
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                    <p>Для изменения положения вещи, введите новые значения:</p>
                    <form th:action="@{/admin/changeRoomThing}" method="post">
                        <div class="form-group"><label>X:</label>
                            <input type="text" name="roomThingX" id="roomThingX" value="" class="form-control"/></div>
                        <div class="form-group"><label>Y:</label>
                            <input type="text" name="roomThingY" id="roomThingY" value="" class="form-control"/></div>
                        <div class="form-group"><label>Layer:</label>
                            <input type="text" name="roomThingLayer" id="roomThingLayer" value="" class="form-control"/>
                        </div>
                        <input type="hidden" name="roomThingHouseId" id="roomThingHouseId" value=""/>
                        <input type="hidden" name="roomThingId" id="roomThingId" value=""/>
                        <button type="submit" class="btn btn-info">Изменить</button>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/1.9.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
</body>
</html>