<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Семьи</title>
    <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"></link>
    <link th:href="@{/css/common.css}" rel="stylesheet"></link>
</head>
<body>
<div th:replace="fragments/navigation :: nav-for-admin"></div>
<div class="container">
    <h3>Семьи</h3>
    <!--/*@thymesVar id="family" type="dyn.model.Family"*/-->
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Фамилия</th>
            <th>Уровень</th>
            <th>Активна</th>
            <th>Дом</th>
            <th>Баллы</th>
            <th>Деньги</th>

            <th>food</th>
            <th>wood</th>
            <th>metall</th>
            <th>plastic</th>
            <th>microel</th>
            <th>cloth</th>
            <th>stone</th>
            <th>chemical</th>

            <th>items</th>
            <th>projects</th>
            <th>things</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${family.getId()}">id</td>
            <td th:text="${family.getFamilyName()}">title</td>
            <td th:text="${family.getLevel()}">type</td>
            <td th:text="${family.isCurrent()}">type</td>
            <td th:text="${family.getHouse().getName()}">type</td>
            <td th:text="${family.getCraftPoint()}">type</td>
            <td th:text="${family.getMoney()}">type</td>

            <td th:text="${family.getFamilyResources().getFood()}">type</td>
            <td th:text="${family.getFamilyResources().getWood()}">type</td>
            <td th:text="${family.getFamilyResources().getMetall()}">type</td>
            <td th:text="${family.getFamilyResources().getPlastic()}">type</td>
            <td th:text="${family.getFamilyResources().getMicroelectronics()}">type</td>
            <td th:text="${family.getFamilyResources().getCloth()}">type</td>
            <td th:text="${family.getFamilyResources().getStone()}">type</td>
            <td th:text="${family.getFamilyResources().getChemical()}">type</td>

            <td th:text="${family.getItems().size()}">type</td>
            <td th:text="${family.getCraftProjects().size()}">type</td>
            <td th:text="${family.getCraftThings().size()}">type</td>
        </tr>

        </tbody>
    </table>
    <h3>Доход по уровням</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Уровень</th>
            <th>Баллы</th>
            <th>Деньги</th>
            <th>Income</th>

            <th>food</th>
            <th>wood</th>
            <th>metall</th>
            <th>plastic</th>
            <th>microel</th>
            <th>cloth</th>
            <th>stone</th>
            <th>chemical</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="familyLog : ${family.getFamilyLogs()}">
            <!--/*@thymesVar id="familyLog" type="dyn.model.FamilyLog"*/-->
            <td th:text="${familyLog.getLevel()}">type</td>
            <td th:text="${familyLog.getCraftpoint()}">type</td>
            <td th:text="${familyLog.getMoney()}">type</td>
            <td th:text="${familyLog.getIncome()}">type</td>

            <td th:text="${familyLog.getFood()}">type</td>
            <td th:text="${familyLog.getWood()}">type</td>
            <td th:text="${familyLog.getMetall()}">type</td>
            <td th:text="${familyLog.getPlastic()}">type</td>
            <td th:text="${familyLog.getMicroelectronics()}">type</td>
            <td th:text="${familyLog.getCloth()}">type</td>
            <td th:text="${familyLog.getStone()}">type</td>
            <td th:text="${familyLog.getChemical()}">type</td>
        </tr>
        </tbody>
    </table>

    <h3>Логи</h3>
    <div class="well" th:each="log : ${family.getFamilyLogs()}">
        <p th:text="${'Уровень: '+log.getLevel()}"></p>
        <p th:utext="${log.getText()}"></p>
    </div>
</div>
<script th:src="@{/webjars/jquery/1.9.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
</body>
</html>