<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Семьи</title>
    <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"></link>
    <link th:href="@{/css/common.css}" rel="stylesheet"></link>
</head>
<body>
<div th:replace="fragments/navigation :: nav-for-admin"></div>
<div>
    <h3>Семья CURRENT</h3>
    <table id="cFamilyTable" class="table table-striped table-condensed" style="font-size: 12px;">
        <thead>
        <tr>
            <th onclick="sortTable(0,'cFamilyTable')">ID</th>
            <th onclick="sortTable(1,'cFamilyTable')">Игрок</th>
            <th onclick="sortTable(2,'cFamilyTable')">lastlogin</th>
            <th onclick="sortTable(3,'cFamilyTable')">Фамилия</th>
            <th onclick="sortTable(4,'cFamilyTable')">Дата</th>
            <th onclick="sortTable(5,'cFamilyTable')">Ур.</th>
            <th onclick="sortTable(6,'cFamilyTable')">M</th>
            <th onclick="sortTable(7,'cFamilyTable')">Дом</th>
            <th onclick="sortTable(8,'cFamilyTable')">Баллы</th>
            <th onclick="sortTable(9,'cFamilyTable')">Деньги</th>

            <th onclick="sortTable(10,'cFamilyTable')">food</th>
            <th onclick="sortTable(11,'cFamilyTable')">wood</th>
            <th onclick="sortTable(12,'cFamilyTable')">metall</th>
            <th onclick="sortTable(13,'cFamilyTable')">plastic</th>
            <th onclick="sortTable(14,'cFamilyTable')">microel</th>
            <th onclick="sortTable(15,'cFamilyTable')">cloth</th>
            <th onclick="sortTable(16,'cFamilyTable')">stone</th>
            <th onclick="sortTable(17,'cFamilyTable')">chemical</th>

            <th onclick="sortTable(18,'cFamilyTable')">items</th>
            <th onclick="sortTable(19,'cFamilyTable')">projects</th>
            <th onclick="sortTable(20,'cFamilyTable')">things</th>
            <th onclick="sortTable(21,'cFamilyTable')">achiev</th>


            <th>Лог</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="family : ${curFamilyList}">
            <!--/*@thymesVar id="family" type="dyn.model.Family"*/-->
            <td th:text="${family.getId()}">id</td>
            <td th:text="${family.getUser().getUserName()}">id</td>
            <td th:text="${family.getUser().getLastLoginDate()}">title</td>
            <td th:text="${family.getFamilyName()}">title</td>
            <td th:text="${family.getCreationDate()}">title</td>
            <td th:text="${family.getLevel()}">type</td>
            <td><span class="glyphicon glyphicon-envelope" th:if="${@mailService.hasNewMail(family.getUser())}" title="Новое письмо!" style="color: green;"></span></td>
            <td th:text="${family.getHouse().getName()}">type</td>
            <td th:text="${family.getCraftPoint()}">type</td>
            <td th:text="${family.getMoney()}">type</td>

            <td th:text="${family.getFamilyResources().getFood()}">type</td>
            <td th:text="${family.getFamilyResources().getWood()}">type</td>
            <td th:text="${family.getFamilyResources().getMetall()}">type</td>
            <td th:text="${family.getFamilyResources().getPlastic()}">type</td>
            <td th:text="${family.getFamilyResources().getMicroelectronics()}">type</td>
            <td th:text="${family.getFamilyResources().getCloth()}">type</td>
            <td th:text="${family.getFamilyResources().getStone()}">type</td>
            <td th:text="${family.getFamilyResources().getChemical()}">type</td>

            <td th:text="${family.getItems().size()}">type</td>
            <td th:text="${family.getCraftProjects().size()}">type</td>
            <td th:text="${family.getCraftThings().size()}">type</td>
            <td><span th:each="achiev : ${family.getUser().getUserAchievements()}" th:text="${achiev.getAchievement().getId()+'; '}"
                      th:title="${achiev.getAchievement().getName() + '('+achiev.getDate()+')'}"></span></td>

            <td><a th:href="${'/admin/family?familyId='+family.getId()}">Лог</a></td>


        </tr>
        </tbody>
    </table>

    <h3>Семья GUEST</h3>
    <table id="gFamilyTable" class="table table-striped table-condensed" style="font-size: 12px;">
        <thead>
        <tr>
            <th onclick="sortTable(0,'gFamilyTable')">ID</th>
            <th onclick="sortTable(1,'gFamilyTable')">Игрок</th>
            <th onclick="sortTable(2,'gFamilyTable')">lastlogin</th>
            <th onclick="sortTable(3,'gFamilyTable')">Фамилия</th>
            <th onclick="sortTable(4,'gFamilyTable')">Дата</th>
            <th onclick="sortTable(5,'gFamilyTable')">Ур.</th>
            <th onclick="sortTable(6,'gFamilyTable')">M</th>
            <th onclick="sortTable(7,'gFamilyTable')">Дом</th>
            <th onclick="sortTable(8,'gFamilyTable')">Баллы</th>
            <th onclick="sortTable(9,'gFamilyTable')">Деньги</th>

            <th onclick="sortTable(10,'gFamilyTable')">food</th>
            <th onclick="sortTable(11,'gFamilyTable')">wood</th>
            <th onclick="sortTable(12,'gFamilyTable')">metall</th>
            <th onclick="sortTable(13,'gFamilyTable')">plastic</th>
            <th onclick="sortTable(14,'gFamilyTable')">microel</th>
            <th onclick="sortTable(15,'gFamilyTable')">cloth</th>
            <th onclick="sortTable(16,'gFamilyTable')">stone</th>
            <th onclick="sortTable(17,'gFamilyTable')">chemical</th>

            <th onclick="sortTable(18,'gFamilyTable')">items</th>
            <th onclick="sortTable(19,'gFamilyTable')">projects</th>
            <th onclick="sortTable(20,'gFamilyTable')">things</th>
            <th onclick="sortTable(21,'gFamilyTable')">achiev</th>


            <th>Лог</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="family : ${guestFamilies}">
            <!--/*@thymesVar id="family" type="dyn.model.Family"*/-->
            <td th:text="${family.getId()}">id</td>
            <td th:text="${family.getUser().getUserName()}">id</td>
            <td th:text="${family.getUser().getLastLoginDate()}">title</td>
            <td th:text="${family.getFamilyName()}">title</td>
            <td th:text="${family.getCreationDate()}">title</td>
            <td th:text="${family.getLevel()}">type</td>
            <td><span class="glyphicon glyphicon-envelope" th:if="${@mailService.hasNewMail(family.getUser())}" title="Новое письмо!" style="color: green;"></span></td>
            <td th:text="${family.getHouse().getName()}">type</td>
            <td th:text="${family.getCraftPoint()}">type</td>
            <td th:text="${family.getMoney()}">type</td>

            <td th:text="${family.getFamilyResources().getFood()}">type</td>
            <td th:text="${family.getFamilyResources().getWood()}">type</td>
            <td th:text="${family.getFamilyResources().getMetall()}">type</td>
            <td th:text="${family.getFamilyResources().getPlastic()}">type</td>
            <td th:text="${family.getFamilyResources().getMicroelectronics()}">type</td>
            <td th:text="${family.getFamilyResources().getCloth()}">type</td>
            <td th:text="${family.getFamilyResources().getStone()}">type</td>
            <td th:text="${family.getFamilyResources().getChemical()}">type</td>

            <td th:text="${family.getItems().size()}">type</td>
            <td th:text="${family.getCraftProjects().size()}">type</td>
            <td th:text="${family.getCraftThings().size()}">type</td>
            <td><span th:each="achiev : ${family.getUser().getUserAchievements()}" th:text="${achiev.getAchievement().getId()+'; '}"
                      th:title="${achiev.getAchievement().getName() + '('+achiev.getDate()+')'}"></span></td>

            <td><a th:href="${'/admin/family?familyId='+family.getId()}">Лог</a></td>


        </tr>
        </tbody>
    </table>

    <h3>Семьи NOT CURRENT</h3>
    <table id="ncFamilyTable" class="table table-striped table-condensed" style="font-size: 12px;">
        <thead>
        <tr>
            <th onclick="sortTable(0,'ncFamilyTable')">ID</th>
            <th onclick="sortTable(1,'ncFamilyTable')">Игрок</th>
            <th onclick="sortTable(2,'ncFamilyTable')">lastlogin</th>
            <th onclick="sortTable(3,'ncFamilyTable')">Фамилия</th>
            <th onclick="sortTable(4,'ncFamilyTable')">Дата</th>
            <th onclick="sortTable(5,'ncFamilyTable')">Уровень</th>
            <th onclick="sortTable(6,'ncFamilyTable')">Активна</th>
            <th onclick="sortTable(7,'ncFamilyTable')">Дом</th>
            <th onclick="sortTable(8,'ncFamilyTable')">Баллы</th>
            <th onclick="sortTable(9,'ncFamilyTable')">Деньги</th>

            <th onclick="sortTable(10,'ncFamilyTable')">food</th>
            <th onclick="sortTable(11,'ncFamilyTable')">wood</th>
            <th onclick="sortTable(12,'ncFamilyTable')">metall</th>
            <th onclick="sortTable(13,'ncFamilyTable')">plastic</th>
            <th onclick="sortTable(14,'ncFamilyTable')">microel</th>
            <th onclick="sortTable(15,'ncFamilyTable')">cloth</th>
            <th onclick="sortTable(16,'ncFamilyTable')">stone</th>
            <th onclick="sortTable(17,'ncFamilyTable')">chemical</th>

            <th onclick="sortTable(18,'ncFamilyTable')">items</th>
            <th onclick="sortTable(19,'ncFamilyTable')">projects</th>
            <th onclick="sortTable(20,'ncFamilyTable')">things</th>
            <th onclick="sortTable(21,'ncFamilyTable')">achiev</th>


            <th>Лог</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="family : ${notCurFamilyList}">
            <!--/*@thymesVar id="family" type="dyn.model.Family"*/-->
            <td th:text="${family.getId()}">id</td>
            <td th:text="${family.getUser().getUserName()}">id</td>
            <td th:text="${family.getUser().getLastLoginDate()}">title</td>
            <td th:text="${family.getFamilyName()}">title</td>
            <td th:text="${family.getCreationDate()}">title</td>
            <td th:text="${family.getLevel()}">type</td>
            <td th:text="${family.isCurrent()}">type</td>
            <td th:text="${family.getHouse().getName()}">type</td>
            <td th:text="${family.getCraftPoint()}">type</td>
            <td th:text="${family.getMoney()}">type</td>

            <td th:text="${family.getFamilyResources().getFood()}">type</td>
            <td th:text="${family.getFamilyResources().getWood()}">type</td>
            <td th:text="${family.getFamilyResources().getMetall()}">type</td>
            <td th:text="${family.getFamilyResources().getPlastic()}">type</td>
            <td th:text="${family.getFamilyResources().getMicroelectronics()}">type</td>
            <td th:text="${family.getFamilyResources().getCloth()}">type</td>
            <td th:text="${family.getFamilyResources().getStone()}">type</td>
            <td th:text="${family.getFamilyResources().getChemical()}">type</td>

            <td th:text="${family.getItems().size()}">type</td>
            <td th:text="${family.getCraftProjects().size()}">type</td>
            <td th:text="${family.getCraftThings().size()}">type</td>
            <td><span th:each="achiev : ${family.getUser().getUserAchievements()}" th:text="${achiev.getAchievement().getId()+'; '}"
                      th:title="${achiev.getAchievement().getName() + '('+achiev.getDate()+')'}"></span></td>

            <td><a th:href="${'/admin/family?familyId='+family.getId()}">Лог</a></td>


        </tr>
        </tbody>
    </table>

    <h3>Семья NOT PLAYER</h3>
    <table id="notPlayerFamilyTable" class="table table-striped table-condensed" style="font-size: 12px;">
        <thead>
        <tr>
            <th onclick="sortTable(0,'notPlayerFamilyTable')">ID</th>
            <th onclick="sortTable(1,'notPlayerFamilyTable')">Игрок</th>
            <th onclick="sortTable(2,'notPlayerFamilyTable')">lastlogin</th>
            <th onclick="sortTable(3,'notPlayerFamilyTable')">Фамилия</th>
            <th onclick="sortTable(4,'notPlayerFamilyTable')">Дата</th>
            <th onclick="sortTable(5,'notPlayerFamilyTable')">Ур.</th>
            <th onclick="sortTable(6,'notPlayerFamilyTable')">M</th>
            <th onclick="sortTable(7,'notPlayerFamilyTable')">Дом</th>
            <th onclick="sortTable(8,'notPlayerFamilyTable')">Баллы</th>
            <th onclick="sortTable(9,'notPlayerFamilyTable')">Деньги</th>

            <th onclick="sortTable(10,'notPlayerFamilyTable')">food</th>
            <th onclick="sortTable(11,'notPlayerFamilyTable')">wood</th>
            <th onclick="sortTable(12,'notPlayerFamilyTable')">metall</th>
            <th onclick="sortTable(13,'notPlayerFamilyTable')">plastic</th>
            <th onclick="sortTable(14,'notPlayerFamilyTable')">microel</th>
            <th onclick="sortTable(15,'notPlayerFamilyTable')">cloth</th>
            <th onclick="sortTable(16,'notPlayerFamilyTable')">stone</th>
            <th onclick="sortTable(17,'notPlayerFamilyTable')">chemical</th>

            <th onclick="sortTable(18,'notPlayerFamilyTable')">items</th>
            <th onclick="sortTable(19,'notPlayerFamilyTable')">projects</th>
            <th onclick="sortTable(20,'notPlayerFamilyTable')">things</th>
            <th onclick="sortTable(21,'notPlayerFamilyTable')">achiev</th>


            <th>Лог</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="family : ${notPlayerFamilies}">
            <!--/*@thymesVar id="family" type="dyn.model.Family"*/-->
            <td th:text="${family.getId()}">id</td>
            <td th:text="${family.getUser().getUserName()}">id</td>
            <td th:text="${family.getUser().getLastLoginDate()}">title</td>
            <td th:text="${family.getFamilyName()}">title</td>
            <td th:text="${family.getCreationDate()}">title</td>
            <td th:text="${family.getLevel()}">type</td>
            <td><span class="glyphicon glyphicon-envelope" th:if="${@mailService.hasNewMail(family.getUser())}" title="Новое письмо!" style="color: green;"></span></td>
            <td th:text="${family.getHouse().getName()}">type</td>
            <td th:text="${family.getCraftPoint()}">type</td>
            <td th:text="${family.getMoney()}">type</td>

            <td th:text="${family.getFamilyResources().getFood()}">type</td>
            <td th:text="${family.getFamilyResources().getWood()}">type</td>
            <td th:text="${family.getFamilyResources().getMetall()}">type</td>
            <td th:text="${family.getFamilyResources().getPlastic()}">type</td>
            <td th:text="${family.getFamilyResources().getMicroelectronics()}">type</td>
            <td th:text="${family.getFamilyResources().getCloth()}">type</td>
            <td th:text="${family.getFamilyResources().getStone()}">type</td>
            <td th:text="${family.getFamilyResources().getChemical()}">type</td>

            <td th:text="${family.getItems().size()}">type</td>
            <td th:text="${family.getCraftProjects().size()}">type</td>
            <td th:text="${family.getCraftThings().size()}">type</td>
            <td><span th:each="achiev : ${family.getUser().getUserAchievements()}" th:text="${achiev.getAchievement().getId()+'; '}"
                      th:title="${achiev.getAchievement().getName() + '('+achiev.getDate()+')'}"></span></td>

            <td><a th:href="${'/admin/family?familyId='+family.getId()}">Лог</a></td>


        </tr>
        </tbody>
    </table>

    <h3>Константы</h3>
    <div class="col-sm-4">
        <table class="table table-striped">
            <tr>
                <td>PERCENTAGE_GEN_MOD</td>
                <td th:text="${@const.PERCENTAGE_GEN_MOD}"></td>
            </tr>
            <tr>
                <td>PERCENTAGE_GEN_MOD_BUFFED</td>
                <td th:text="${@const.PERCENTAGE_GEN_MOD_BUFFED}"></td>
            </tr>
            <tr>
                <td>SKILL_COEFFICIENT</td>
                <td th:text="${@const.SKILL_COEFFICIENT}"></td>
            </tr>
            <tr>
                <td>RACE_RESOURCE_COEFFICIENT</td>
                <td th:text="${@const.RACE_RESOURCE_COEFFICIENT}"></td>
            </tr>
            <tr>
                <td>AUTOGEN_PRODUCTION_COST_COEFFICIENT</td>
                <td th:text="${@const.AUTOGEN_PRODUCTION_COST_COEFFICIENT}"></td>
            </tr>

        </table>
    </div>
</div>
<script>
    //<![CDATA[
    function isInteger(x) {
        return x % 1 === 0;
    }

    function sortTable(n, tabl) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById(tabl);
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc";
        /*Make a loop that will continue until
         no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.getElementsByTagName("TR");
            /*Loop through all table rows (except the
             first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
                //start by saying there should be no switching:
                shouldSwitch = false;
                /*Get the two elements you want to compare,
                 one from current row and one from the next:*/
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                x = x.innerHTML;
                y = y.innerHTML;
                if (isInteger(x))
                    x = Number(x);
                else
                    x = x.toLowerCase();
                if (isInteger(y))
                    y = Number(y);
                else
                    y = y.toLowerCase();
                /*check if the two rows should switch place,
                 based on the direction, asc or desc:*/
                if (dir == "asc") {
                    if (x > y) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x < y) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /*If a switch has been marked, make the switch
                 and mark that a switch has been done:*/
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                //Each time a switch is done, increase this count by 1:
                switchcount++;
            } else {
                /*If no switching has been done AND the direction is "asc",
                 set the direction to "desc" and run the while loop again.*/
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
    //]]>
</script>
<script th:src="@{/webjars/jquery/1.9.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
</body>
</html>