<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Random</title>
    <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"></link>
</head>
<body>
<div th:replace="fragments/navigation :: nav-for-admin"></div>
<div class="container">
    <h3>Random</h3>

    <div th:switch="${character.getSex()}">
        <a th:case="'male'" href="\" data-toggle="tooltip" title="Male">
            <img th:src="@{/graphics/male.png}"/>
        </a>
        <a th:case="'female'" href="\" data-toggle="tooltip"
           th:alt-title="#{tooltip(#{${character.getSex()}},#{${character.getHeight().getName()}},#{${character.getSkinColor().getName()}},#{${character.getHead().getName()}},#{${character.getEyes().getName()}})}">
            <img th:src="@{'data:image/png;base64,'+${character.getEncodedView()}}"/>
        </a>


    </div>
</div>
<script th:src="@{/webjars/jquery/1.9.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
</body>
</html>