<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Random</title>
    <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"></link>
    <style type="text/css">
        .ava IMG { position: relative; }
        .head { left: -204px; }
        .eyes { left: -408px; }
        .pupil { left: -612px; }

    </style>
</head>
<body>
<div th:replace="fragments/navigation :: nav-for-admin"></div>
<div class="container">
    <h3>Random</h3>

    <div th:switch="${character.getSex()}">
        <a th:case="'male'" href="\" data-toggle="tooltip" title="Male">
            <img th:src="@{/graphics/male.png}"/>
        </a>
        <a th:case="'female'" href="\" data-toggle="tooltip" title="Female">
            <img th:src="@{/graphics/female.png}"/>
        </a>
        <p th:text="${character.getSkinColor().getName()}"></p>
        <p class="ava">
            <img th:src="@{/graphics/female/{path}.png(path=${character.getSkinColor().getName()})}"/>
            <img th:src="@{/graphics/female/{path}.png(path=${character.getHead().getName()})}" class="head"/>
            <img th:src="@{/graphics/female/{path}.png(path=${character.getEyes().getName()})}" class="eyes"/>
            <img th:src="@{/graphics/female/app.pupil.png}" class="pupil"/>
        </p>
        <p>
            <img th:src="@{'data:image/png;base64,'+${character.getEncodedView()}}"/>
        </p>


    </div>
    <table>
        <tr th:each="element : ${map}">
            <td th:text="${element.key}">keyvalue</td>
            <td th:text="${element.value}">Some name</td>
        </tr>
    </table>
</div>
<script th:src="@{/webjars/jquery/1.9.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
</body>
</html>