<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Создание новой семьи</title>
    <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"></link>
    <link th:href="@{/css/common.css}" rel="stylesheet"></link>
</head>
<body>
<div th:replace="fragments/navigation :: nav-for-game"></div>
<div class="container">
    <div class="col-md-5">
        <div class="form-area">
            <!--/*@thymesVar id="familyForm" type="dyn.form.FamilyForm"*/-->
            <form class="form-horizontal" th:action="@{/game/addNewFamily}" th:object="${familyForm}" method="POST">
                <h3>Создание семьи</h3>
                <p>Так будут выглядеть основатели вашей династии:</p>
                <div>
                    <div class="char-view-div">
                        <div th:replace="fragments/char :: char-panel (character=*{founder}, nolink=true)"></div>
                    </div>
                    <div class="char-view-div">
                        <div th:replace="fragments/char :: char-panel (character=*{foundress}, nolink=true)"></div>
                    </div>
                </div>
                <p align="center"><a href="/game/addNewFamily">Сгенерировать заново</a></p>

                <input type="hidden" th:field="*{founder.name}"/>
                <input type="hidden" th:field="*{founder.sex}"/>
                <input type="hidden" th:field="*{founder.race}"/>
                <input type="hidden" th:field="*{founder.level}"/>
                <input type="hidden" th:field="*{founder.body}"/>
                <input type="hidden" th:field="*{founder.ears}"/>
                <input type="hidden" th:field="*{founder.eyebrows}"/>
                <input type="hidden" th:field="*{founder.eyeColor}"/>
                <input type="hidden" th:field="*{founder.eyes}"/>
                <input type="hidden" th:field="*{founder.hairColor}"/>
                <input type="hidden" th:field="*{founder.hairStyle}"/>
                <input type="hidden" th:field="*{founder.hairType}"/>
                <input type="hidden" th:field="*{founder.head}"/>
                <input type="hidden" th:field="*{founder.height}"/>
                <input type="hidden" th:field="*{founder.mouth}"/>
                <input type="hidden" th:field="*{founder.nose}"/>
                <input type="hidden" th:field="*{founder.skinColor}"/>

                <input type="hidden" th:field="*{founder.career.vocation}"/>
                <input type="hidden" th:field="*{founder.career.intelligence}"/>
                <input type="hidden" th:field="*{founder.career.charisma}"/>
                <input type="hidden" th:field="*{founder.career.strength}"/>
                <input type="hidden" th:field="*{founder.career.creativity}"/>
                <input type="hidden" th:field="*{founder.career.education}"/>

                <input type="hidden" th:field="*{foundress.name}"/>
                <input type="hidden" th:field="*{foundress.sex}"/>
                <input type="hidden" th:field="*{foundress.race}"/>
                <input type="hidden" th:field="*{foundress.level}"/>
                <input type="hidden" th:field="*{foundress.body}"/>
                <input type="hidden" th:field="*{foundress.ears}"/>
                <input type="hidden" th:field="*{foundress.eyebrows}"/>
                <input type="hidden" th:field="*{foundress.eyeColor}"/>
                <input type="hidden" th:field="*{foundress.eyes}"/>
                <input type="hidden" th:field="*{foundress.hairColor}"/>
                <input type="hidden" th:field="*{foundress.hairStyle}"/>
                <input type="hidden" th:field="*{foundress.hairType}"/>
                <input type="hidden" th:field="*{foundress.head}"/>
                <input type="hidden" th:field="*{foundress.height}"/>
                <input type="hidden" th:field="*{foundress.mouth}"/>
                <input type="hidden" th:field="*{foundress.nose}"/>
                <input type="hidden" th:field="*{foundress.skinColor}"/>

                <input type="hidden" th:field="*{foundress.career.vocation}"/>
                <input type="hidden" th:field="*{foundress.career.intelligence}"/>
                <input type="hidden" th:field="*{foundress.career.charisma}"/>
                <input type="hidden" th:field="*{foundress.career.strength}"/>
                <input type="hidden" th:field="*{foundress.career.creativity}"/>
                <input type="hidden" th:field="*{foundress.career.education}"/>

                <div class="form-group" th:classappend="${#fields.hasErrors('family.familyName')}? 'has-error'">
                    <label>Фамилия для вашей новой семьи:</label>
                    <input class="form-control" type="text" th:field="*{family.familyName}" placeholder="Ивановы"/>
                    <p th:if="${#fields.hasErrors('family.familyName')}" th:errors="*{family.familyName}">Incorrect</p>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('family.maleLastname')}? 'has-error'">
                    <label>Фамилия мужчин:</label>
                    <input class="form-control" type="text" th:field="*{family.maleLastname}" placeholder="Иванов"/>
                    <p th:if="${#fields.hasErrors('family.maleLastname')}" th:errors="*{family.maleLastname}">
                        Incorrect</p>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('family.femaleLastname')}? 'has-error'">
                    <label>Фамилия женщин:</label>
                    <input class="form-control" type="text" th:field="*{family.femaleLastname}" placeholder="Иванова"/>
                    <p th:if="${#fields.hasErrors('family.femaleLastname')}" th:errors="*{family.femaleLastname}">
                        Incorrect</p>
                </div>
                <button type="submit" id="submit" name="addNewFamilyButton" class="btn btn-primary">Создать</button>
            </form>
        </div>
    </div>
    <div class="col-md-7" style="text-align: justify;">
        Все элементы окна персонажа имеют всплывающие подсказки, просто наведите курсор.<br/><br/>
        <strong>Имена</strong> генерируются случайным образом из базы данных имен. Особого смысла пока не несут. <br/>
        <strong>Раса</strong> основателей: <em>Человек</em>. В процессе игры вы сможете заменить некоторые черты персонажей на генно-модифицированные (ГМ). Тогда раса изменится на <em>ГМ-человек</em>.
        При определенных комбинациях обычных и ГМ-черт появляются другие расы, например, Эльфы, Орки и т.п.
        <div class="my_tooltip"><span class="glyphicon glyphicon-question-sign" style="color: lightslategray;"></span>
            <span class="my_tooltiptext">Эльф имеет следующие особенности (остальные черты любые обычные): <br/>
                <ul>
                    <li>Тело: средние плечи или узкие плечи</li>
                    <li>Уши: высокие и длинные (ГМ-черта)</li>
                    <li>Голова: овальная или круглая</li>
                    <li>Рост: сверхвысокий (ГМ-черта)</li>
                    <li>Нос: заостренный, прямой или вздернутый</li>
                </ul>
        </span>
        </div>
        <br/><br/>
        Каждый персонаж имеет набор <strong>черт</strong>: рост, цвет кожи, цвет глаз (полный список во всплывающей подсказке к портрету персонажа). Эти черты передаются потомкам.
        Шкала слева от портрета отображает рост персонажа. <br/><br/><br/><br/>
        Под портретом персонажа находится панель <strong>карьеры</strong>.
        <strong>Призвание</strong> указывает в какой области будет работать персонаж (какие ресурсы получит в конце хода). Передается по наследству от родителей, но есть малая вероятность того, что сгенерируется новое призвание.
        <strong>Навыки</strong> - <em>интеллект, харизма, сила и творчество</em> - наследуются как случайное число между минимальным и максимальным значением навыка родителей плюс
        <th:block th:text="${@const.SKILL_COEFFICIENT}"></th:block>
        .
        Повышение навыков открывает возможность достижения более высокооплачиваемых <strong>профессий</strong>. Подробнее узнать о профессиях можно кликнув по значку призвания.
        <br/><br/>
        <strong>Фамилия</strong> вашей династии будет видна всем игрокам и фигурировать в названии предметов, которые вы будете производить.

    </div>
</div>
<th:block th:replace="fragments/scripts :: webjars"></th:block>
</body>
</html>