<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Add new family</title>
    <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"></link>
    <link th:href="@{/css/common.css}" rel="stylesheet"></link>
</head>
<body>
<div th:replace="fragments/navigation :: nav-for-game"></div>
<div class="container">
    <p class="has-error" th:text="${mess}"></p>
    <div class="col-md-5">
        <div class="form-area">
            <!--/*@thymesVar id="familyForm" type="dyn.form.FamilyForm"*/-->
            <form class="form-horizontal" th:action="@{/game/addNewFamily}" th:object="${familyForm}" method="POST">
                <h3>Family form</h3>
                <div>
                    <div class="char-view-div">
                        <div th:replace="fragments/char :: char-view (character=*{founder}, nolink=true)"></div>
                    </div>
                    <div class="char-view-div">
                        <div th:replace="fragments/char :: char-view (character=*{foundress}, nolink=true)"></div>
                    </div>
                </div>
                <p align="center"><a href="/game/addNewFamily">Generate again</a></p>

                <input type="hidden" th:field="*{founder.name}"/>
                <input type="hidden" th:field="*{founder.sex}"/>
                <input type="hidden" th:field="*{founder.race}"/>
                <input type="hidden" th:field="*{founder.level}"/>
                <input type="hidden" th:field="*{founder.body}"/>
                <input type="hidden" th:field="*{founder.ears}"/>
                <input type="hidden" th:field="*{founder.eyebrows}"/>
                <input type="hidden" th:field="*{founder.eyeColor}"/>
                <input type="hidden" th:field="*{founder.eyes}"/>
                <input type="hidden" th:field="*{founder.hairColor}"/>
                <input type="hidden" th:field="*{founder.hairStyle}"/>
                <input type="hidden" th:field="*{founder.hairType}"/>
                <input type="hidden" th:field="*{founder.head}"/>
                <input type="hidden" th:field="*{founder.height}"/>
                <input type="hidden" th:field="*{founder.mouth}"/>
                <input type="hidden" th:field="*{founder.nose}"/>
                <input type="hidden" th:field="*{founder.skinColor}"/>

                <input type="hidden" th:field="*{founder.career.vocation}"/>
                <input type="hidden" th:field="*{founder.career.intelligence}"/>
                <input type="hidden" th:field="*{founder.career.charisma}"/>
                <input type="hidden" th:field="*{founder.career.strength}"/>
                <input type="hidden" th:field="*{founder.career.creativity}"/>
                <input type="hidden" th:field="*{founder.career.education}"/>

                <input type="hidden" th:field="*{foundress.name}"/>
                <input type="hidden" th:field="*{foundress.sex}"/>
                <input type="hidden" th:field="*{foundress.race}"/>
                <input type="hidden" th:field="*{foundress.level}"/>
                <input type="hidden" th:field="*{foundress.body}"/>
                <input type="hidden" th:field="*{foundress.ears}"/>
                <input type="hidden" th:field="*{foundress.eyebrows}"/>
                <input type="hidden" th:field="*{foundress.eyeColor}"/>
                <input type="hidden" th:field="*{foundress.eyes}"/>
                <input type="hidden" th:field="*{foundress.hairColor}"/>
                <input type="hidden" th:field="*{foundress.hairStyle}"/>
                <input type="hidden" th:field="*{foundress.hairType}"/>
                <input type="hidden" th:field="*{foundress.head}"/>
                <input type="hidden" th:field="*{foundress.height}"/>
                <input type="hidden" th:field="*{foundress.mouth}"/>
                <input type="hidden" th:field="*{foundress.nose}"/>
                <input type="hidden" th:field="*{foundress.skinColor}"/>

                <input type="hidden" th:field="*{foundress.career.vocation}"/>
                <input type="hidden" th:field="*{foundress.career.intelligence}"/>
                <input type="hidden" th:field="*{foundress.career.charisma}"/>
                <input type="hidden" th:field="*{foundress.career.strength}"/>
                <input type="hidden" th:field="*{foundress.career.creativity}"/>
                <input type="hidden" th:field="*{foundress.career.education}"/>

                <div class="form-group" th:classappend="${#fields.hasErrors('family.familyName')}? 'has-error'">
                    <label>Family name:</label>
                    <input class="form-control" type="text" th:field="*{family.familyName}"/>
                    <p th:if="${#fields.hasErrors('family.familyName')}" th:errors="*{family.familyName}">Incorrect</p>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('family.maleLastname')}? 'has-error'">
                    <label>Family name for males:</label>
                    <input class="form-control" type="text" th:field="*{family.maleLastname}"/>
                    <p th:if="${#fields.hasErrors('family.maleLastname')}" th:errors="*{family.maleLastname}">
                        Incorrect</p>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('family.femaleLastname')}? 'has-error'">
                    <label>Family name for females:</label>
                    <input class="form-control" type="text" th:field="*{family.femaleLastname}"/>
                    <p th:if="${#fields.hasErrors('family.femaleLastname')}" th:errors="*{family.femaleLastname}">
                        Incorrect</p>
                </div>
                <button type="submit" id="submit" name="submit" class="btn btn-primary pull-right">Submit Form</button>
            </form>
        </div>
    </div>

</div>
<script th:src="@{/webjars/jquery/1.9.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
</body>
</html>