<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Достижения</title>
    <th:block th:replace="fragments/custom :: headLinks"></th:block>
</head>
<body>
<th:block th:replace="fragments/scripts :: counters"></th:block>
<div th:replace="fragments/navigation :: nav-for-game"></div>
<div class="container" style="width: 1200px;">
    <!--/*@thymesVar id="family" type="dyn.model.Family"*/-->
    <th:block th:if="${family.getLevel() == 0}">
        <div class="alert alert-success">
            Здесь будут отображены ваши достижения. Например, когда в семье родится первый Эльф, вы будете иметь достижение "Эльф: первый новорожденный!"<br/>
        </div>
    </th:block>
    <h3>Достижения</h3>
    <th:block th:if="${not #lists.isEmpty(achievements)}">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Достижение</th>
                <th>Семья</th>
                <th>Когда получено</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="userAchievement : ${achievements}">
                <!--/*@thymesVar id="userAchievement" type="dyn.model.UserAchievement"*/-->
                <td th:text="${userAchievement.getAchievement().getName()}">name</td>
                <td th:utext="${userAchievement.getFamily().link()}">name</td>
                <td th:text="${userAchievement.getDate()}">date</td>
            </tr>
            </tbody>
        </table>
    </th:block>
    <th:block th:unless="${not #lists.isEmpty(achievements)}">
        <p>Нет достижений</p>
    </th:block>

</div>

<th:block th:replace="fragments/scripts :: webjars"></th:block>

</body>
</html>