<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Здание</title>
    <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"></link>
    <link th:href="@{/css/common.css}" rel="stylesheet"></link>
</head>
<body style="padding-top: 100px;">
<div th:replace="fragments/navigation :: nav-for-game"></div>
<div class="container">
    <th:block th:if="${family.getLevel() == 0}">
        <div class="alert alert-success">
            На этой вкладке будут отображены здания в городе, которыми вы владеете. Ну, пока здесь пусто... <br/>
        </div>
    </th:block>
    <div class="well">
        <h3>Ваши здания:</h3>
        <ul class="list-inline">
            <!--/*@thymesVar id="buildingList" type="List<dyn.model.House>"*/-->
            <li th:each="building : ${buildingList}">
                <a th:href="${'/game/buildings#building'+building.getId()}" th:text="${building.getName()}">Home</a>
            </li>
        </ul>
    </div>
    <th:block th:if="${#lists.size(buildingList) > 0}">
        <th:block th:each="mapEntry : ${buildingMap}" th:with="building = ${mapEntry.getKey()}, roomViewList = ${mapEntry.getValue()}">
            <a th:name="${'building'+building.getId()}" class="anchor"></a>
            <h3 th:text="${#strings.toUpperCase(building.getName())}">Здание</h3>
            <th:block th:with="roomView = ${roomViewList.get(0)}">
                <!--/*@thymesVar id="roomView" type="dyn.model.RoomView"*/-->
                <th:block th:if="${roomView.isFull()}" th:with="production = ${building.getProduction()}">
                    <!--/*@thymesVar id="production" type="dyn.model.Project"*/-->
                    <th:block th:if="${production ne null}">

                        <form th:action="@{/game/makeItem}" method="post">
                            <label>
                                <th:block th:text="${production.getName() + ' (' + production.getCost() + ' р.'+ (production.resString()!=''?', '+production.resString():'')+')'}"></th:block>
                            </label>
                            <input type="hidden" name="projectId" th:value="${production.getId()}"/>
                            <button id="makeItemButton" type="submit" class="btn btn-default btn-md" th:disabled="${not family.hasResourcesForProject(production)}">Изготовить предмет</button>
                        </form>

                    </th:block>

                </th:block>
                <div th:replace="fragments/roomView :: room-view (roomView=${roomView})"></div>
            </th:block>


        </th:block>

    </th:block>
    <!--/*@thymesVar id="family" type="dyn.model.Family"*/-->
    <!--/*@thymesVar id="building" type="dyn.model.buildings.Building"*/-->
    <!--/*@thymesVar id="buildingMap" type="Map<Building, List<BuildingThingWithItems>>"*/-->
</div>

<!-- Modal -->
<div id="roomThing" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!--/*@thymesVar id="roomThingWithItems" type="dyn.model.RoomThingWithItems"*/-->
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="thingName">
                </h4>
            </div>
            <div class="modal-body">
                <p>Доступные действия:</p>
                <a id="formCraftKnownThing" href="#">Создать вещь</a>
                <form id="formUnsetItem" th:action="@{/game/unsetItem}" method="post" class="form-inline" style="margin-top: 5px;">
                    <label>Установленная вещь:</label>
                    <span id="curItemName"></span>
                    <input type="hidden" name="itemId" id="curItemId" value=""/>
                    <button type="submit" id="curItemUnsetButton" class="btn btn-default">Убрать</button>
                </form>
                <form id="formSetItemToThing" th:action="@{/game/setItemToThing}" method="post" class="form-inline" style="margin-top: 5px;">
                    <label>Установить вещь:</label>
                    <input type="hidden" name="roomThingId" id="roomThingId" value=""/>
                    <div class="form-group">
                        <select class="form-control" id="selectAvItems" name="itemId">
                            <option value="0">0</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-default">Выбрать</button>
                </form>
                <form th:action="@{/game/chooseItemToBuy}" method="post" class="form-inline" style="margin-top: 5px;">
                    <label>Приобрести вещь на маркете:</label>
                    <input type="hidden" name="thingId" id="thingId" value=""/>
                    <button type="submit" class="btn btn-default">Купить</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<script>
    //<![CDATA[
    function roomViewPassDataToHouse(thingId, thingName, roomThingId, isKnownThing, curItemId, curItemName, availableItemNames, availableItemIds) {
        $(".modal-header #thingName").text(thingName);
        $(".modal-body #thingId").val(thingId);
        $(".modal-body #roomThingId").val(roomThingId);
        $(".modal-body #isKnownThing").text(isKnownThing);
        $(".modal-body #curItemId").val(curItemId);
        $(".modal-body #curItemName").text(curItemName);
        $(".modal-body #availableItemNames").text(availableItemNames);
        $(".modal-body #availableItemIds").text(availableItemIds);


        if (curItemId == '0') {
            document.getElementById("formUnsetItem").style.display = "none";
        } else {
            document.getElementById("formUnsetItem").style.display = "block";
        }

        var select = document.getElementById("selectAvItems");
        var i;
        for (i = select.options.length - 1; i >= 0; i--) {
            select.remove(i);
        }
        if (availableItemIds.length > 0) {
            for (var i = 0; i < availableItemNames.length; i++) {
                var opt = document.createElement('option');
                opt.innerHTML = availableItemNames[i];
                opt.value = availableItemIds[i];
                select.appendChild(opt);
            }
            document.getElementById("formSetItemToThing").style.display = "block";
        } else {
            document.getElementById("formSetItemToThing").style.display = "none";
        }
        if (isKnownThing) {
            document.getElementById("formCraftKnownThing").style.display = "block"; //th:href="${'/game/chooseProject?thingId='+roomThingWithItems.getRoomThing().getThing().getId()}"
            document.getElementById("formCraftKnownThing").href = "/game/chooseProject?thingId=" + thingId;
        } else {
            document.getElementById("formCraftKnownThing").style.display = "none";
        }
    }
    //]]>
</script>
<th:block th:replace="fragments/scripts :: webjars"></th:block>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
</body>
</html>