<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Здание</title>
    <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"></link>
    <link th:href="@{/css/common.css}" rel="stylesheet"></link>
</head>
<body>
<div th:replace="fragments/navigation :: nav-for-game"></div>
<div class="container">
    <div class="well">
        <h3>Ваши здания:</h3>
        <ul class="list-inline">
            <!--/*@thymesVar id="buildingList" type="List<Building>"*/-->
            <li th:each="building : ${buildingList}">
                <a th:href="${'/game/buildings#building'+building.getId()}" th:text="${building.getName()}">Home</a>
            </li>
        </ul>
    </div>
    <th:block th:if="${#lists.size(buildingList) > 0}">
        <th:block th:each="mapEntry : ${buildingMap}" th:with="building = ${mapEntry.getKey()}, buildingThingWithItemsList = ${mapEntry.getValue()}">
            <div class="well">
                <a th:name="${'building'+building.getId()}"></a>
                <h3 th:text="${building.getName()}">Здание</h3>
                <!--buildingThingWithItemsList-->
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Тип предмета</th>
                        <th>Установленная вещь</th>
                        <th>Выбрать со склада</th>
                        <th>Купить</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--/*@thymesVar id="buildingThingWithItems" type="dyn.model.buildings.BuildingThingWithItems"*/-->
                    <tr th:each="buildingThingWithItems : ${buildingThingWithItemsList}">
                        <td class="col-md-4">
                            <th:block th:if="${buildingThingWithItems.isKnownThing()}">
                                <a th:href="${'/game/chooseProject?thingId='+buildingThingWithItems.getThing().getId()}"
                                   th:text="${buildingThingWithItems.getThing().getName()}"></a>
                            </th:block>
                            <th:block th:unless="${buildingThingWithItems.isKnownThing()}" th:text="${buildingThingWithItems.getThing().getName()}"></th:block>
                        </td>
                        <td class="col-md-4">
                            <th:block th:with="curItem = ${buildingThingWithItems.getCurrentItem()}">
                                <th:block th:if="${curItem==null}">Нет вещи</th:block>
                                <th:block th:unless="${curItem==null}">
                                    <form class="form-inline" th:action="@{/game/unsetItemFromBuildingThing}" method="post">
                                    <span th:text="${curItem.getProject().getName()}"
                                          data-toggle="tooltip"
                                          th:title="${curItem.getProject().getThing().getName() + ' '+curItem.getProject().getName()+' от '+curItem.getAuthor().getFamilyName()}"></span>
                                        <input type="hidden" name="itemId" th:value="${curItem.getId()}"/>
                                        <button type="submit" class="btn btn-default">Убрать</button>
                                    </form>
                                </th:block>
                            </th:block>
                        </td>
                        <td class="col-md-4">
                            <th:block th:if="${buildingThingWithItems.getAvailableItems().size()>0}">
                                <form class="form-inline" th:action="@{/game/setItemToBuildingThing}" method="post">
                                    <input type="hidden" name="buildingThingId" th:value="${buildingThingWithItems.getBuildingThing().getId()}"/>
                                    <div class="form-group">
                                        <select class="form-control" id="sel1" name="itemId">
                                            <option th:each="item : ${buildingThingWithItems.getAvailableItems()}"
                                                    th:value="${item.getId()}"
                                                    th:text="${item.getProject().getName()}">
                                            </option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-default">Выбрать</button>
                                </form>
                            </th:block>

                        </td>
                        <td class="col-md-4">
                            <form class="form-inline" th:action="@{/game/chooseItemToBuy}" method="post">
                                <input type="hidden" name="thingId" th:value="${buildingThingWithItems.getThing().getId()}"/>
                                <button type="submit" class="btn btn-default">Купить</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div style="width: 1035px; height: 405px; position: relative; background: url(/graphics/room_grid.png) repeat-y #fc0">
                    <!--/*@thymesVar id="buildingThingWithItems" type="dyn.model.buildings.BuildingThingWithItems"*/-->
                    <th:block th:each="buildingThingWithItems : ${buildingThingWithItemsList}">
                        <div align="center" style="border: solid 1px darkslategray; display: table; position: absolute; "
                             th:styleappend="${'width: '+ buildingThingWithItems.getBuildingThing().getThing().getWidth() +'px;'+
                                 'height: ' + buildingThingWithItems.getBuildingThing().getThing().getHeight()+'px;'+
                                 'left: ' + buildingThingWithItems.getBuildingThing().getX()+'px;'+
                                 'top: ' + buildingThingWithItems.getBuildingThing().getY()+'px;'}">
                            <th:block th:with="curItem = ${buildingThingWithItems.getCurrentItem()}">
                                <th:block th:if="${curItem==null}">
                                    <span th:text="${buildingThingWithItems.getBuildingThing().getThing().getName()}" style="color: dimgrey; display: table-cell; vertical-align: middle;"></span>
                                </th:block>
                                <th:block th:unless="${curItem==null}">
                    <span th:text="${curItem.getProject().getName()}"
                          style="color: cornflowerblue;  display: table-cell; vertical-align: middle;"
                          data-toggle="tooltip"
                          th:title="${curItem.getProject().getThing().getName() + ' '+curItem.getProject().getName()+' от '+curItem.getAuthor().getFamilyName()}"></span>
                                </th:block>
                            </th:block>
                        </div>
                    </th:block>
                </div>
            </div>
        </th:block>

    </th:block>
    <!--/*@thymesVar id="family" type="dyn.model.Family"*/-->
    <!--/*@thymesVar id="building" type="dyn.model.buildings.Building"*/-->
    <!--/*@thymesVar id="buildingMap" type="Map<Building, List<BuildingThingWithItems>>"*/-->
</div>
<script th:src="@{/webjars/jquery/1.9.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
</body>
</html>