<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Здание</title>
    <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"></link>
    <link th:href="@{/css/common.css}" rel="stylesheet"></link>
</head>
<body>
<div th:replace="fragments/navigation :: nav-for-game"></div>
<div class="container">
    <div class="well">
        <h3>Ваши здания:</h3>
        <ul class="list-inline">
            <!--/*@thymesVar id="buildingList" type="List<dyn.model.House>"*/-->
            <li th:each="building : ${buildingList}">
                <a th:href="${'/game/buildings#building'+building.getId()}" th:text="${building.getName()}">Home</a>
            </li>
        </ul>
    </div>
    <th:block th:if="${#lists.size(buildingList) > 0}">
        <th:block th:each="mapEntry : ${buildingMap}" th:with="building = ${mapEntry.getKey()}, roomViewList = ${mapEntry.getValue()}">
            <a th:name="${'building'+building.getId()}"></a>
            <h3 th:text="${#strings.toUpperCase(building.getName())}">Здание</h3>
            <th:block th:with="roomView = ${roomViewList.get(0)}">
                <!--/*@thymesVar id="roomView" type="dyn.model.RoomView"*/-->
                <th:block th:if="${roomView.isFull()}">
                    <span>Здесь будет кнопка Изготовить предмет. Будет создан итем: place - склад, project - "Приемный ребенок". У проекта: thing - "Бафф на родителя": craft_branch - новый бранч "баффы", у крафтбранчей сделать тип - обычный и редкий.
                        так вот у "баффов" будет редкий тип, который не будет виден на вкладке крафт.
                    к house добавляем свойство production. туда пишем thing.id ("Бафф на родителя"). Здесь смотрим, какой production у хауса, ищем проект для этой вещи. находим "Приемный ребенок". У него есть кост и ресурсы. Берем кост и ресурсы
                        как сырье и производим несколько айтемов проекта "Приемный ребенок". Они появляются на складе.
                        На складе. Если у вещи крафтбранч "баффы", то смотрим какая вещь. Если "Бафф на родителя", то ставим селект на отцов текущего уровня и кнопку Применить. Если "Бафф на женатого сына", то ставим селект на всех женатых сыновей
                        и кнопку применить. Также game.html должен проверять, есть ли на складе вещи "Бафф на женатого сына", и предлагать применить у каждого портрета женатого сына.
                        На складе есть обычная кнопка "Выставить на продажу". Надо сделать еще "просмотреть магазин этой вещи". Можно выставить этот айтем на продажу по нужной цене. Купить его игрок сможет, перейдя на вкладку Город и выбрав
                        здание. По зданию.production мы находим Id вещи и в йтемсах ищем все айтемы у которых вещь проекта наша production  и место в store. Кнопка купить. ПОпадает на склад. Можно также применить к персонажу.
                        Бафф на родителя
                        Бафф на женатого сына
                        Бафф на семью (под текстом семьи будет выбор баффов если есть)
                        Применить бафф уже обрабатывается внутри кода по switch project. если это "Приемный ребенок", то добавляем случ.ребенка. надо ведь еще выбор ребенка как-то сделать...
                    </span>
                </th:block>
                <div th:replace="fragments/roomView :: room-view (roomView=${roomView})"></div>
            </th:block>


        </th:block>

    </th:block>
    <!--/*@thymesVar id="family" type="dyn.model.Family"*/-->
    <!--/*@thymesVar id="building" type="dyn.model.buildings.Building"*/-->
    <!--/*@thymesVar id="buildingMap" type="Map<Building, List<BuildingThingWithItems>>"*/-->
</div>
<script th:src="@{/webjars/jquery/1.9.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
</body>
</html>