<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Character view</title>
    <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"></link>
    <link th:href="@{/css/common.css}" rel="stylesheet"></link>
    <style>
        .floating-box {
            display: inline-block;
        }

    </style>
</head>
<body>
<div th:replace="fragments/navigation :: nav-for-game"></div>
<div class="container">
    <!--/*@thymesVar id="character" type="dyn.model.Character"*/-->
    <div style="float: left">
        <p th:inline="text">
            Династия: <a th:href="${'/game/userview?userId='+character.getFamily().getUser().getUserid() +'&amp;familyId='+character.getFamily().getId()}" th:text="${character.getFamily().familyNameAndUserName()}"></a><br/>
            Имя: [[${character.getName()}]]<br/>
            Уровень: [[${character.getLevel()}]]<br/>
            Пол: [[${character.getSex()}]]<br/>
            Раса: [[${character.getRace().getName()}]]<br/>
        </p>
        <p>Баффы:
            <th:block th:each="buff : ${character.getBuffs()}">
                <li th:text="#{${buff.getTitle()}}"></li>
            </th:block>
        </p>
        <p th:if="${character.getCareer().getProfession() == null}" th:with="profession = ${@careerService.getAvailableProfession(character)}">
            Предполагаемая профессия:
            <!--/*@thymesVar id="profession" type="dyn.model.career.Profession"*/-->
            <th:block th:text="${profession.getName() +' ('+profession.getLevel()+' ур.)'}"></th:block>

        </p>
    </div>
    <div style="float: right" align="center">

        <strong th:if="${character.getFather() != null}">Родители:</strong>
        <div>
            <div class="char-view-div" th:if="${character.getFather() != null}" style="zoom: 0.5">
                <div th:replace="fragments/char :: char-panel (character=${character.getFather()})"></div>
            </div>
            <div class="char-view-div" style="zoom: 0.5" th:if="${character.getFather() != null}">
                <div th:replace="fragments/char :: char-panel (character=${character.getFather().getSpouse()})"></div>
            </div>
        </div>
        <br></br>
        <div class="char-view-div">
            <div th:replace="fragments/char :: char-panel (character=${character})"></div>
        </div>
        <div class="char-view-div" th:if="${character.getSpouse() != null}">
            <div th:replace="fragments/char :: char-panel (character=${character.getSpouse()})"></div>
        </div>
        <br></br>

        <th:block th:switch="${character.getSex()}">
            <th:block th:case="'male'">
                <strong th:if="${character.getChildren().size() gt 0}">Дети:</strong>
                <div>
                    <div style="display: inline-block; zoom: 0.5" th:each="child : ${character.getChildren()}">

                        <div class="char-view-div">
                            <div th:replace="fragments/char :: char-panel (character=${child})"></div>
                        </div>
                    </div>
                </div>
            </th:block>
            <th:block th:case="'female'">
                <th:block th:if="${character.getSpouse() != null}">
                    <strong th:if="${character.getSpouse().getChildren().size() gt 0}">Дети:</strong>
                    <div>
                        <div style="display: inline-block; zoom: 0.5" th:each="child : ${character.getSpouse().getChildren()}">
                            <div class="char-view-div">
                                <div th:replace="fragments/char :: char-panel (character=${child})"></div>
                            </div>

                        </div>
                    </div>
                </th:block>
            </th:block>

        </th:block>

    </div>
</div>
<th:block th:replace="fragments/scripts :: webjars"></th:block>
</body>
</html>