<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Проекты</title>
    <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"></link>
    <link th:href="@{/css/common.css}" rel="stylesheet"></link>
</head>
<body>
<div th:replace="fragments/navigation :: nav-for-game"></div>
<div class="container">
    <!--/*@thymesVar id="thing" type="dyn.model.Thing"*/-->
    <!--/*@thymesVar id="project" type="dyn.model.Project"*/-->
    <!--/*@thymesVar id="family" type="dyn.model.Family"*/-->
    <th:block th:if="${family.getLevel() == 0}">
        <div class="alert alert-success">
            Давайте приобретем проект стула "Табуретка Самсколотил"!
            В самом низу страницы выберите проект табуретки и нажмите "Приобрести проект". Семейный бюджет указан в рублях в правом верхнем углу страницы.<br/>
            Наконец-то можно заняться крафтом! Под заголовком "Изготовление предметов..." выберите приобретенный проект и нажмите кнопку "Изготовить предмет".
            Обратите внимание, изготовление вещей происходит из накопленных вашей семьей ресурсов.
            Призвание персонажа определяет какой ресурс будет накоплен за ход, а уровень профессии - его количество. Ресурсы также могут быть получены и другим путем. Об этом позже.<br/>
            Изготовленный предмет помещается на ваш склад, а оттуда он может быть установлен в доме или выставлен на продажу. Пожалуйста, вернитесь на вкладку "Дом" и разместите новенькую табуретку на кухне.
            А потом, вернитесь на вкладку Игра, и пусть игра начнется!
        </div>
    </th:block>
    <h3 th:text="${#strings.toUpperCase(thing.getName())}"></h3>
    <div class="well"><h4>Изготовление предметов по имеющимся проектам:</h4>
        <script>
            function enableMakeItemButton() {
                $("#makeItemButton").attr("disabled", false);
            }
        </script>
        <th:block th:if="${not #lists.isEmpty(familyProjects)}">
            <form th:action="@{/game/makeItem}" method="post">

                <div class="radio" th:each="project : ${familyProjects}">
                    <label>
                        <input type="radio" name="projectId" th:value="${project.getId()}" th:required="required" onclick="enableMakeItemButton()" th:disabled="${not family.hasResourcesForProject(project)}"/>
                        <th:block th:text="${project.getName() + ' ('+project.resString()+')'}"></th:block>
                    </label>
                </div>
                <button id="makeItemButton" type="submit" class="btn btn-default btn-md" th:disabled="${true}">Изготовить предмет</button>
            </form>
        </th:block>
        <th:block th:unless="${not #lists.isEmpty(familyProjects)}">
            <p>Нет проектов для изготовления</p>
        </th:block>
    </div>

    <div class="well"><h4>Покупка новых проектов:</h4>
        <script>
            function enableBuyProjectButton() {
                $("#buyProjectButton").attr("disabled", false);
            }
        </script>
        <th:block th:if="${not #lists.isEmpty(projects)}">
            <form th:action="@{/game/buyProject}" method="post">
                <div class="radio" th:each="project : ${projects}">
                    <label>
                        <input type="radio" name="projectId" th:value="${project.getId()}" th:required="required" onclick="enableBuyProjectButton()" th:disabled="${family.getMoney() lt project.getCost()}"/>
                        <th:block th:text="${project.getName()+' ('+project.getCost() +' р.) ('+project.resString()+')'}"></th:block>
                    </label>
                </div>
                <button id="buyProjectButton" type="submit" class="btn btn-default btn-md" th:disabled="${true}">Приобрести проект</button>
            </form>
        </th:block>
        <th:block th:unless="${not #lists.isEmpty(projects)}">
            <p>Нет проектов для покупки</p>
        </th:block>
    </div>
    <div class="well">
            <h4>Создание нового проекта</h4>
        <p>
            Вы можете создать свой проект вещи '
            <th:block th:text="${thing.getName()}"></th:block>
            '. Для этого вам потребуется немного денег и желание рисовать!
        </p>
        <form th:action="@{/game/newProject}" method="post">
            <input type="hidden" name="newProjectThingId" th:value="${thing.getId()}"/>
            <button type="submit" class="btn btn-success">Создать проект</button>
        </form>
    </div>
</div>
<th:block th:replace="fragments/scripts :: webjars"></th:block>
</body>
</html>