<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Проекты</title>
    <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"></link>
    <link th:href="@{/css/common.css}" rel="stylesheet"></link>
</head>
<body>
<div th:replace="fragments/navigation :: nav-for-game"></div>
<div class="container">
    <!--/*@thymesVar id="thing" type="dyn.model.Thing"*/-->
    <!--/*@thymesVar id="project" type="dyn.model.Project"*/-->
    <!--/*@thymesVar id="family" type="dyn.model.Family"*/-->
    <th:block th:if="${family.getLevel() == 0}">
        <div class="alert alert-success">
            Теперь ваша семья умеет изготавливать кухонный стул. Но, чтобы его изготовить, нужна схема или проект. Давайте приобретем проект табуретки "Самсколотил"! В самом низу страницы выберите проект табуретки и нажмите "Приобрести проект"<br/>
            Наконец-то можно заняться крафтом! Под заголовком "Изготовление предметов..." выберите вашу табуретку и нажмите кнопку "Изготовить предмет". Обратите внимание, изготовление вещей происходит из накопленных вашей семьей ресурсов (они
            представлены в таблице). Призвание персонажа определяет какой ресурс будет накоплен за ход, а уровень профессии - его количество.<br/>
            Изготовленный предмет помещается на ваш склад, а оттуда он может быть установлен в доме или выставлен на продажу.
        </div>
    </th:block>
    <h3 th:text="${#strings.toUpperCase(thing.getName())}"></h3>
    <div class="well"><h4>Имеющиеся ресурсы:</h4>
        <table class="table-bordered" width="100%">
            <thead>
            <tr>
                <th>Дерево</th>
                <th>Металл</th>
                <th>Пластик, резина</th>
                <th>Микроэлектроника</th>
                <th>Ткань, кожа, бумага</th>
                <th>Камень, стекло, керамика</th>
                <th>Химия, краски</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${family.getFamilyResources().getWood()}">John</td>
                <td th:text="${family.getFamilyResources().getMetall()}">John</td>
                <td th:text="${family.getFamilyResources().getPlastic()}">John</td>
                <td th:text="${family.getFamilyResources().getMicroelectronics()}">John</td>
                <td th:text="${family.getFamilyResources().getCloth()}">John</td>
                <td th:text="${family.getFamilyResources().getStone()}">John</td>
                <td th:text="${family.getFamilyResources().getChemical()}">John</td>
            </tr>
            <tr>
                <td>
                    <form th:action="@{/game/buyResources}" method="post">
                        <input type="hidden" name="res" value="wood"/>
                        <input type="hidden" name="thingId" th:value="${thing.getId()}"/>
                        <button type="submit" class="btn btn-default btn-xs" th:disabled="${family.getMoney() lt T(dyn.model.FamilyResources).BUYCOST}">Купить 5 ед. за 500 р.</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{/game/buyResources}" method="post">
                        <input type="hidden" name="res" value="metall"/>
                        <input type="hidden" name="thingId" th:value="${thing.getId()}"/>
                        <button type="submit" class="btn btn-default btn-xs" th:disabled="${family.getMoney() lt T(dyn.model.FamilyResources).BUYCOST}">Купить 5 ед. за 500 р.</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{/game/buyResources}" method="post">
                        <input type="hidden" name="res" value="plastic"/>
                        <input type="hidden" name="thingId" th:value="${thing.getId()}"/>
                        <button type="submit" class="btn btn-default btn-xs" th:disabled="${family.getMoney() lt T(dyn.model.FamilyResources).BUYCOST}">Купить 5 ед. за 500 р.</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{/game/buyResources}" method="post">
                        <input type="hidden" name="res" value="microelectronics"/>
                        <input type="hidden" name="thingId" th:value="${thing.getId()}"/>
                        <button type="submit" class="btn btn-default btn-xs" th:disabled="${family.getMoney() lt T(dyn.model.FamilyResources).BUYCOST}">Купить 5 ед. за 500 р.</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{/game/buyResources}" method="post">
                        <input type="hidden" name="res" value="cloth"/>
                        <input type="hidden" name="thingId" th:value="${thing.getId()}"/>
                        <button type="submit" class="btn btn-default btn-xs" th:disabled="${family.getMoney() lt T(dyn.model.FamilyResources).BUYCOST}">Купить 5 ед. за 500 р.</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{/game/buyResources}" method="post">
                        <input type="hidden" name="res" value="stone"/>
                        <input type="hidden" name="thingId" th:value="${thing.getId()}"/>
                        <button type="submit" class="btn btn-default btn-xs" th:disabled="${family.getMoney() lt T(dyn.model.FamilyResources).BUYCOST}">Купить 5 ед. за 500 р.</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{/game/buyResources}" method="post">
                        <input type="hidden" name="res" value="chemical"/>
                        <input type="hidden" name="thingId" th:value="${thing.getId()}"/>
                        <button type="submit" class="btn btn-default btn-xs" th:disabled="${family.getMoney() lt T(dyn.model.FamilyResources).BUYCOST}">Купить 5 ед. за 500 р.</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="well"><h4>Изготовление предметов по имеющимся проектам:</h4>
        <script>
            function enableMakeItemButton() {
                $("#makeItemButton").attr("disabled", false);
            }
        </script>
        <th:block th:if="${not #lists.isEmpty(familyProjects)}">
            <form th:action="@{/game/makeItem}" method="post">

                <div class="radio" th:each="project : ${familyProjects}">
                    <label>
                        <input type="radio" name="projectId" th:value="${project.getId()}" th:required="required" onclick="enableMakeItemButton()" th:disabled="${not family.hasResourcesForProject(project)}"/>
                        <th:block th:text="${project.getName() + ' ('+project.resString()+')'}"></th:block>
                    </label>
                </div>
                <button id="makeItemButton" type="submit" class="btn btn-default btn-md" th:disabled="${true}">Изготовить предмет</button>
            </form>
        </th:block>
        <th:block th:unless="${not #lists.isEmpty(familyProjects)}">
            <p>Нет проектов для изготовления</p>
        </th:block>
    </div>

    <div class="well"><h4>Покупка новых проектов:</h4>
        <script>
            function enableBuyProjectButton() {
                $("#buyProjectButton").attr("disabled", false);
            }
        </script>
        <p th:text="${'Ваши деньги: '+family.getMoney()+' р.'}"></p>
        <th:block th:if="${not #lists.isEmpty(projects)}">
            <form th:action="@{/game/buyProject}" method="post">
                <div class="radio" th:each="project : ${projects}">
                    <label>
                        <input type="radio" name="projectId" th:value="${project.getId()}" th:required="required" onclick="enableBuyProjectButton()" th:disabled="${family.getMoney() lt project.getCost()}"/>
                        <th:block th:text="${project.getName()+' ('+project.getCost() +' р.) ('+project.resString()+')'}"></th:block>
                    </label>
                </div>
                <button id="buyProjectButton" type="submit" class="btn btn-default btn-md" th:disabled="${true}">Приобрести проект</button>
            </form>
        </th:block>
        <th:block th:unless="${not #lists.isEmpty(projects)}">
            <p>Нет проектов для покупки</p>
        </th:block>
    </div>
</div>
<script th:src="@{/webjars/jquery/1.9.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
</body>
</html>