<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Проекты</title>
    <th:block th:replace="fragments/custom :: headLinks"></th:block>
</head>
<body>
<th:block th:replace="fragments/scripts :: counters"></th:block>
<div th:replace="fragments/navigation :: nav-for-game"></div>
<div class="container">
    <!--/*@thymesVar id="thing" type="dyn.model.Thing"*/-->
    <!--/*@thymesVar id="project" type="dyn.model.Project"*/-->
    <!--/*@thymesVar id="family" type="dyn.model.Family"*/-->
    <th:block th:if="${family.getLevel() == 0}">
        <div class="alert alert-success">
            Давайте приобретем проект стула "Табуретка Самсколотил"!
            В разделе "Покупка новых проектов" выберите проект табуретки и нажмите "Приобрести проект". <br/>
            Наконец-то можно заняться крафтом! Под заголовком "Изготовление предметов..." выберите приобретенный проект и нажмите кнопку "Изготовить предмет".
            Обратите внимание, изготовление вещей происходит из накопленных вашей семьей ресурсов.
            Призвание персонажа определяет какой ресурс будет накоплен за ход, а уровень профессии - его количество. <br/>
            Изготовленный предмет помещается на ваш склад, а оттуда он может быть установлен в доме или выставлен на продажу. Пожалуйста, вернитесь на вкладку "Дом" и разместите новенькую табуретку на кухне.
            А потом, вернитесь на вкладку Игра, и начинайте игру!
        </div>
    </th:block>
    <h3 th:text="${#strings.toUpperCase(thing.getName())}"></h3>


    <div class="well">
        <h4>Изготовление предметов по имеющимся проектам:
            <div class="my_tooltip"><span class="glyphicon glyphicon-question-sign" style="color: lightslategray;"></span>
                <span class="my_tooltiptext"><th:block th:replace="game/help :: thing_quality_table"></th:block></span>
            </div>
        </h4>

        <script>
            function enableMakeItemButton() {
                $("#makeItemButton").attr("disabled", false);
            }
        </script>
        <th:block th:if="${not #lists.isEmpty(familyProjects)}">
            <form th:action="@{/game/makeItem}" method="post">

                <div class="radio" th:each="familyProject : ${familyProjects}">
                    <label th:with="hasResources = ${family.hasResourcesForProject(familyProject.getProject())}">
                        <!--/*@thymesVar id="familyProject" type="dyn.model.FamilyProject"*/-->
                        <input type="radio" name="projectId" th:value="${familyProject.getProject().getId()}" th:required="required" onclick="enableMakeItemButton()" th:disabled="${not hasResources}"
                               style="position: inherit;" data-toggle="tooltip" th:title="${hasResources?'':'Не хватает ресурсов'}"/>
                        <th:block th:replace="fragments/custom :: project-view (project=${familyProject.getProject()})"></th:block>
                        <th:block th:text="${familyProject.getProject().getName()+' от '+familyProject.getProject().getAuthor().getFamilyName()}"></th:block>
                        <th:block th:replace="fragments/custom :: resImageView (resHolder=${familyProject.getProject()})"></th:block>
                        <th:block th:text="${' Произведено '+familyProject.getCount()+' раз'}"></th:block>
                    </label>
                </div>
                <div class="form-group" th:if="${not #lists.isEmpty(buffItemQualityList)}">
                    <label>Применить баффы:</label>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="applyBuffItemQuality" value="true"/>
                            <th:block th:text="${buffItemQualityList.get(0).getProject().getName()+'('+#lists.size(buffItemQualityList)+' шт.)'}"></th:block>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label>Количество:</label>
                    <input name="count" type="number" value="1" step="1" min="1" max="10" class="form-control" style="width: 80px;"/>
                </div>
                <button id="makeItemButton" type="submit" class="btn btn-primary btn-md center-block" th:disabled="${true}">Изготовить предмет</button>
            </form>
        </th:block>
        <th:block th:unless="${not #lists.isEmpty(familyProjects)}">
            <p>Нет проектов для изготовления</p>
        </th:block>
    </div>

    <div class="well"><h4>Покупка новых проектов:</h4>
        <script>
            function enableBuyProjectButton() {
                $("#buyProjectButton").attr("disabled", false);
            }
        </script>
        <th:block th:if="${not #lists.isEmpty(projects)}">
            <form th:action="@{/game/buyProject}" method="post">
                <div class="radio" th:each="project : ${projects}">
                    <label>
                        <input type="radio" name="projectId" th:value="${project.getId()}" th:required="required" onclick="enableBuyProjectButton()" th:disabled="${family.getMoney() lt project.getCost()}"
                               style="position: inherit;"/>
                        <th:block th:replace="fragments/custom :: project-view (project=${project})"></th:block>
                        <th:block th:text="${project.getCost() +' д. - '}"></th:block>
                        <th:block th:text="${project.getName()+' от '+project.getAuthor().getFamilyName()}"></th:block>
                        <th:block th:replace="fragments/custom :: resImageView (resHolder=${project})"></th:block>

                    </label>
                </div>
                <button id="buyProjectButton" type="submit" class="btn btn-warning btn-md center-block" th:disabled="${true}">Приобрести проект</button>
            </form>
        </th:block>
        <th:block th:unless="${not #lists.isEmpty(projects)}">
            <p>Нет проектов для покупки</p>
        </th:block>
    </div>
    <div class="well">
        <h4>Создание нового проекта</h4>
        <p>
            Вы можете создать свой проект вещи '
            <th:block th:text="${thing.getName()}"></th:block>
            '. Для этого вам потребуется немного денег и желание рисовать!
        </p>
        <form th:action="@{/game/newProject}" method="post">
            <input type="hidden" name="newProjectThingId" th:value="${thing.getId()}"/>
            <button type="submit" class="btn btn-success">Создать проект</button>
        </form>
    </div>
</div>
<th:block th:replace="fragments/scripts :: webjars"></th:block>
</body>
</html>