<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Выбор невесты</title>
    <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"></link>
    <link th:href="@{/css/common.css}" rel="stylesheet"></link>
</head>
<body>
<div th:replace="fragments/navigation :: nav-for-game"></div>
<div class="container">
    <th:block th:if="${family.getLevel() == 1}">
        <div class="alert alert-success">
            Вы можете выбрать невесту, если, конечно, у вас есть деньги... Базу невест можно отфильтровать по расе, по призванию. <br/>
            Невозможна женитьба на сестре или двоюродной сестре (которая имеет такую же фамилию, как и у матери жениха).<br/>
            Человек или ГМ-человек не может жениться на представителях других рас, например, на эльфийке. Зато чистокровный эльф может выбрать себе в жены человека или ГМ-человека. Такая вот несправедливость... Также браки невозможны и между
            представителями разных рас (между Орком и Эльфом, например)<br/>
            Кнопка подтверждения находится внизу страницы.
        </div>
    </th:block>
    <!--/*@thymesVar id="character" type="dyn.model.Character"*/-->
    <div class="well">
        <div class="row" align="center">
            <div class="col-md-6 col-md-offset-3">
                <h3 th:text="#{chooseFiancee.yourCharacter}">Your character:</h3>
                <div class="char-view-div">
                    <div th:replace="fragments/char :: char-panel (character=${character})"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="well">
        <h3 th:text="#{chooseFiancee.chooseFiancee}">Choose fiancee:</h3>
        <!--/*@thymesVar id="fianceeFilter" type="dyn.form.FianceeFilter"*/-->
        <form action="#" th:action="@{/game/chooseFiancee}" th:object="${fianceeFilter}" class="form-inline" method="get">
            <div class="form-group">
                <label>Раса:</label>
                <select th:field="*{race}" class="form-control">
                    <option value="0">Любая раса</option>
                    <option th:each="race : ${@raceRepository.findAllByOrderByName()}"
                            th:value="${race.getId()}"
                            th:text="${race.getName()}">race
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label>Призвание:</label>
                <select th:field="*{vocation}" class="form-control">
                    <option value="0">Любое призвание</option>
                    <option th:each="vocation : ${@vocationRepository.findAllByOrderByName()}"
                            th:value="${vocation.getId()}"
                            th:text="${vocation.getName()}">vocation
                    </option>
                </select>
            </div>
            <input type="hidden" name="characterId" th:value="${character.getId()}"/>
            <button type="submit" class="btn btn-default">Фильтровать</button>
        </form>
        <form th:action="@{/game/makeFiancee}" method="post">
            <script>
                function enableChooseButton() {
                    $("#makeFianceeButton").attr("disabled", false);
                }
            </script>
            <div th:each="fiancee : ${fianceeList}" style="display: inline-block;" th:with="bride = ${fiancee.getCharacter()}">
                <!--/*@thymesVar id="fiancee" type="dyn.model.Fiancee"*/-->
                <!--/*@thymesVar id="bride" type="dyn.model.Character"*/-->
                <input style="display: inline-block;" type="radio" name="fiancee" th:value="${fiancee.getId()}" onclick="enableChooseButton()"
                       th:disabled="${fiancee.isDisabled}" th:alt-title="${fiancee.disableReason}"/>
                <div class="char-view-div">
                    <div th:replace="fragments/char :: char-panel (character=${fiancee.getCharacter()})"></div>
                    <label th:text="#{cost(${fiancee.getCost()})}" th:styleappend="${fiancee.isDisabled?'color: grey;':''}">Cost</label>
                </div>
            </div>
            <p>
                <input type="hidden" name="characterId" th:value="${character.getId()}"/>
                <button type="submit" id="makeFianceeButton" name="submit" class="btn btn-primary center-block" th:text="#{chooseFiancee.choose}" th:disabled="${true}" align="center">Choose</button>
            </p>
        </form>
    </div>
</div>
<th:block th:replace="fragments/scripts :: webjars"></th:block>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip({
            container: 'body'
        });
    });
</script>
</body>
</html>