<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Крафт</title>
    <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"></link>
</head>
<body>
<div th:replace="fragments/navigation :: nav-for-game"></div>
<div class="container">

    <h1>Крафт</h1>
    <!--/*@thymesVar id="family" type="dyn.model.Family"*/-->

    <h3>Баллы развития:</h3>
    <p th:text="${family.getCraftPoint()}"></p>
    <h3>Предметы, которые можно изготовить:</h3>
    <!--/*@thymesVar id="craftBranch" type="dyn.model.CraftBranch"*/-->
    <ul th:each="craftBranch : ${craftBranches}">
        <li>
            Ветвь: <span th:text="${craftBranch.getName()}"></span>
            <ul th:each="thing : ${craftBranch.getThings()}">
                <li>
                    <th:block th:if="${thing.familyStatus == 0}">
                        <span th:text="${thing.getName()}" style="color: darkgray"></span>
                    </th:block>
                    <th:block th:if="${thing.familyStatus == 1}">
                        <a th:href="${'/game/chooseProject?thingId='+thing.getId()}" th:text="${thing.getName()}"></a>
                        <!--
                        <form class="form-inline" th:action="@{/game/chooseProject}" method="post">
                            <span th:text="${thing.getName()}"></span>
                            (
                            <th:block th:each="craftProject : ${family.getCraftProjectsForThing(thing)}">
                                <span th:text="${craftProject.getName()}"></span>
                            </th:block>
                            <input type="hidden" name="thingId" th:value="${thing.getId()}"/>
                            <button type="submit" class="btn btn-default btn-xs">Приобрести проект</button>
                            )
                        </form>
                        -->
                    </th:block>
                    <th:block th:if="${thing.familyStatus == 2}">
                        <form class="form-inline" th:action="@{/game/learnThing}" method="post">
                            <span th:text="${thing.getName()+' ('+craftBranch.getPoint()+' бал.)'}" style="color: #1b6d85"></span>
                            <input type="hidden" name="thingId" th:value="${thing.getId()}"/>
                            <button type="submit" class="btn btn-default btn-xs" th:disabled="${family.getCraftPoint() lt craftBranch.getPoint()}">Выучить</button>
                        </form>
                    </th:block>


                </li>
            </ul>
        </li>
    </ul>
</div>
<script th:src="@{/webjars/jquery/1.9.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
</body>
</html>