<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Крафт</title>
    <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"></link>
    <link th:href="@{/css/common.css}" rel="stylesheet"></link>
</head>
<body>
<div th:replace="fragments/navigation :: nav-for-game"></div>
<div class="container" style="width: 1400px;">
    <!--/*@thymesVar id="family" type="dyn.model.Family"*/-->
    <th:block th:if="${family.getLevel() == 0}">
        <div class="alert alert-success">
            Три балла крафта даются в начале игры. Каждый ход вы получаете еще один балл крафта. Два балла выдаются за какое-нибудь достижение. При покупке нового дома вы получаете в подарок десять баллов!<br/>
            Пока у вас три балла. Но этого хватит, чтобы научиться изготавливать кухонный стул! В ветке развития "Мебель" первым идет как раз "Кухонный стул". Нажмите "Выучить". <br/>
            Теперь ваша семья умеет изготавливать кухонный стул! Но, чтобы его изготовить, нужна схема или проект. Нажмите на значок Кухонного стула.
        </div>
    </th:block>
    <h3>Баллы крафта:</h3>
    <p th:text="${family.getCraftPoint()}"></p>
    <h3>Предметы, которые можно изготовить:</h3>
    <p>Нажмите на значок изученного предмета, чтобы перейти к изготовлдению. Или кнопку "Выучить" под значком для изучения</p>
    <th:block th:each="parentThing : ${parentThings}">
        <!--/*@thymesVar id="parentThing" type="dyn.model.Thing"*/-->
        <div class="well" style="height: 600px;">
            <h3 th:text="${#strings.capitalize(parentThing.getCraftBranch().getName())}"></h3>
            <div class="tree">
                <ul>
                    <li>
                        <!--/*@thymesVar id="family" type="dyn.model.Family"*/-->
                        <th:block th:if="${family.getCraftThings().contains(parentThing)}">
                            <a th:href="${'/game/chooseProject?thingId='+parentThing.getId()}"
                               th:text="${parentThing.getName()}" data-toggle="tooltip" th:title="${parentThing.getId() + ' ('+parentThing.getCost() + ')'}" style="color: #1b6d85;">Parent</a>
                        </th:block>
                        <th:block th:if="${not family.getCraftThings().contains(parentThing)}">
                            <a th:text="${parentThing.getName()}" data-toggle="tooltip" th:title="${parentThing.getId() + ' ('+parentThing.getCost() + ')'}" style="color: #2BB67E">Parent</a>
                            <form class="form-inline" th:action="@{/game/learnThing}" method="post">
                                <input type="hidden" name="thingId" th:value="${parentThing.getId()}"/>
                                <button type="submit" class="btn btn-info btn-xs" th:disabled="${family.getCraftPoint() lt parentThing.getCost()}" th:text="${'Выучить: '+parentThing.getCost() + ' б.'}">Выучить</button>
                            </form>
                        </th:block>
                        <th:block th:fragment="submenu">
                            <ul>
                                <li th:each="thing : ${parentThing.getChildThings()}">
                                    <th:block th:if="${family.getCraftThings().contains(thing)}">
                                        <a th:href="${'/game/chooseProject?thingId='+thing.getId()}"
                                           th:text="${thing.getName()}" data-toggle="tooltip" th:title="${thing.getId() + ' ('+thing.getCost() + ')'}" style="color: #1b6d85;">Parent</a>
                                    </th:block>
                                    <th:block th:if="${not family.getCraftThings().contains(thing)}">
                                        <th:block th:if="${family.getCraftThings().contains(thing.getParent())}">
                                            <a th:text="${thing.getName()}" data-toggle="tooltip" th:title="${thing.getId()}" style="color: #2BB67E">Parent</a>
                                            <form class="form-inline" th:action="@{/game/learnThing}" method="post">
                                                <input type="hidden" name="thingId" th:value="${thing.getId()}"/>
                                                <button type="submit" class="btn btn-info btn-xs" th:disabled="${family.getCraftPoint() lt thing.getCost()}" th:text="${'Выучить: '+thing.getCost() + ' б.'}">Выучить</button>
                                            </form>
                                        </th:block>
                                        <th:block th:if="${not family.getCraftThings().contains(thing.getParent())}">
                                            <a th:text="${thing.getName()}" data-toggle="tooltip" th:title="${thing.getId()+ ' ('+thing.getCost() + ')'}">Town hall</a>

                                        </th:block>
                                    </th:block>
                                    <th:block th:if="${#lists.size(thing.getChildThings()) > 0}" th:with="parentThing = ${thing}" th:include="this :: submenu"/>
                                </li>
                            </ul>
                        </th:block>
                    </li>
                </ul>
            </div>
        </div>
    </th:block>
</div>
<script th:src="@{/webjars/jquery/1.9.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
</body>
</html>