<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Крафт</title>
    <th:block th:replace="fragments/custom :: headLinks"></th:block>
</head>
<body>
<th:block th:replace="fragments/scripts :: counters"></th:block>
<div th:replace="fragments/navigation :: nav-for-game"></div>
<div class="container" style="width: 1800px;">
    <!--/*@thymesVar id="family" type="dyn.model.Family"*/-->
    <th:block th:if="${family.getLevel() == 0}">
        <div class="alert alert-success">
            Внизу на панели указана сумма 1000 д. Это ваши деньги. Игровая валюта - дин. Там же вы увидете какими ресурсами владеете, а также сколько у вас есть баллов крафта. Три балла
            крафта даются в начале игры.
            Каждый ход вы получаете еще один балл крафта. Два балла выдаются за какое-нибудь достижение. При покупке нового дома вы получаете в подарок десять баллов!<br/>
            Пока у вас три балла. Но этого хватит, чтобы научиться изготавливать кухонный стул! В ветке развития "Мебель" первым идет как раз "стул". Нажмите "Выучить". <br/>
            Теперь ваша семья умеет изготавливать кухонный стул! Но, чтобы его изготовить, нужна схема или проект. Нажмите на кнопку "стул".
        </div>
    </th:block>
    <h3>Ветви знаний
        <div class="my_tooltip">&nbsp;<span class="glyphicon glyphicon-question-sign" style="color: lightslategray;"></span>
            <span class="my_tooltiptext">
                        Не пытайтесь изучить все предметы, вам просто не хватит крафт баллов.. Лучше выбрать одну-две ветви, изучить и изготавливать предметы более высокого качества.
                А затем торговать созданными предметами.
                </span>
        </div>
    </h3>
    <ul class="list-inline">
        <!--/*@thymesVar id="craftBranch" type="dyn.model.CraftBranch"*/-->
        <li th:each="craftBranch : ${craftBranchList}">
            <a th:href="${'/game/craft#craftbranch'+craftBranch.getId()}" th:text="${craftBranch.getName()}">craftbranch</a>
        </li>
        <li><a href="#createdProjects">авторские проекты</a></li>
    </ul>
    <p>Нажмите на значок изученного предмета, чтобы перейти к изготовлению. Или кнопку "Выучить" под значком для изучения.</p>
    <th:block th:each="parentThing : ${parentThings}">
        <!--/*@thymesVar id="parentThing" type="dyn.model.Thing"*/-->
        <div class="well" style="height: 600px;">
            <a th:name="${'craftbranch'+parentThing.getCraftBranch().getId()}" class="anchor"></a>
            <h3 th:text="${#strings.capitalize(parentThing.getCraftBranch().getName())}"></h3>
            <div class="tree">
                <ul>
                    <li>
                        <!--/*@thymesVar id="family" type="dyn.model.Family"*/-->
                        <th:block th:if="${family.getCraftThings().contains(parentThing)}">
                            <div class="tree_li_a" style="color: #1b6d85; background-color: lightgreen;">
                                <a th:href="${'/game/chooseProject?thingId='+parentThing.getId()}" th:text="${parentThing.getName()}">Parent</a>
                                <a th:href="${'/game/chooseItemToBuy?thingId='+parentThing.getId()}"><span class="glyphicon glyphicon-new-window" style="color: forestgreen; " title="Маркет"></span></a>
                            </div>
                        </th:block>
                        <th:block th:if="${not family.getCraftThings().contains(parentThing)}">
                            <div class="tree_li_a" style="color: #000; background-color: lightsteelblue; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;">
                                <th:block th:text="${parentThing.getName()}">Parent</th:block>
                                <a th:href="${'/game/chooseItemToBuy?thingId='+parentThing.getId()}"><span class="glyphicon glyphicon-new-window" style="color: forestgreen; " title="Маркет"></span></a>
                            </div>
                            <form class="form-inline" th:action="@{/game/learnThing}" method="post">
                                <input type="hidden" name="thingId" th:value="${parentThing.getId()}"/>
                                <button type="submit" class="btn btn-primary btn-xs" th:disabled="${family.getCraftPoint() lt parentThing.getCost()}" th:text="${'Выучить: '+parentThing.getCost() + ' б.'}"
                                        style="border-top-right-radius: 0px; border-top-left-radius: 0px;">Выучить
                                </button>
                            </form>
                        </th:block>
                        <th:block th:fragment="submenu">
                            <ul>
                                <li th:each="thing : ${parentThing.getChildThings()}">

                                    <th:block th:if="${family.getCraftThings().contains(thing)}">
                                        <div class="tree_li_a" style="color: #1b6d85; background-color: lightgreen;">
                                            <a th:href="${'/game/chooseProject?thingId='+thing.getId()}" th:text="${thing.getName()}">Parent</a>
                                            <a th:href="${'/game/chooseItemToBuy?thingId='+thing.getId()}"><span class="glyphicon glyphicon-new-window" style="color: forestgreen; " title="Маркет"></span></a>
                                        </div>
                                    </th:block>
                                    <th:block th:if="${not family.getCraftThings().contains(thing)}">
                                        <th:block th:if="${family.getCraftThings().contains(thing.getParent())}">
                                            <div class="tree_li_a" style="color: #000; background-color: lightsteelblue; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;">
                                                <th:block th:text="${thing.getName()}">Parent</th:block>
                                                <a th:href="${'/game/chooseItemToBuy?thingId='+thing.getId()}"><span class="glyphicon glyphicon-new-window" style="color: forestgreen; " title="Маркет"></span></a>
                                            </div>
                                            <form class="form-inline" th:action="@{/game/learnThing}" method="post">
                                                <input type="hidden" name="thingId" th:value="${thing.getId()}"/>
                                                <button type="submit" class="btn btn-primary btn-xs" th:disabled="${family.getCraftPoint() lt thing.getCost()}" th:text="${'Выучить: '+thing.getCost() + ' б.'}"
                                                        style="border-top-right-radius: 0px; border-top-left-radius: 0px;">Выучить
                                                </button>
                                            </form>
                                        </th:block>
                                        <th:block th:if="${not family.getCraftThings().contains(thing.getParent())}">
                                            <div class="tree_li_a">
                                                <th:block th:text="${thing.getName()}">Town hall</th:block>
                                                <a th:href="${'/game/chooseItemToBuy?thingId='+thing.getId()}"><span class="glyphicon glyphicon-new-window" style="color: forestgreen; " title="Маркет"></span></a>
                                            </div>
                                        </th:block>
                                    </th:block>
                                    <th:block th:if="${#lists.size(thing.getChildThings()) > 0}" th:with="parentThing = ${thing}" th:include="this :: submenu"/>
                                </li>
                            </ul>
                        </th:block>
                    </li>
                </ul>
            </div>
        </div>
    </th:block>
    <!--authorProjects-->
    <div class="well">
        <a name="createdProjects" class="anchor"></a>
        <h3>Авторские проекты</h3>
        <table class="table table-sm">
            <thead>
            <tr>
                <th>#</th>
                <th>Статус</th>
                <th>Тип вещи</th>
                <th>Название проекта</th>
                <th>Стоимость, дины</th>
                <th>Ресурсы</th>
                <th>Куплен, раз</th>
                <th>Произведено вещей, шт</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="project : ${authorProjects}">
                <th scope="row" th:text="${projectStat.count}">1</th>
                <!--/*@thymesVar id="project" type="dyn.model.Project"*/-->
                <td th:text="${project.getStatusWithMessage()}">Mark</td>
                <td th:text="${project.getThing().getName()}">Mark</td>
                <td th:text="${project.getName()}">Otto</td>
                <td th:text="${project.getCost()}">@mdo</td>
                <td th:utext="${project.resString()}">@mdo</td>
                <td th:text="${project.getPurchasedTimes()}"></td>
                <td th:text="${project.getProducedTimes()}"></td>
                <td>
                    <form th:if="${project.getStatus() eq T(dyn.model.ProjectStatus).rework}" th:action="@{/game/editProject}" method="post" class="form-inline">
                        <input type="hidden" name="projectId" th:value="${project.getId()}"/>
                        <button class="btn btn-sm btn-success" type="submit">Редактировать</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<th:block th:replace="fragments/scripts :: webjars"></th:block>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
</body>
</html>