<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Семьи</title>
    <th:block th:replace="fragments/custom :: headLinks"></th:block>
</head>
<body>
<th:block th:replace="fragments/scripts :: counters"></th:block>
<div th:replace="fragments/navigation :: nav-for-game"></div>
<div class="container">
    <!--/*@thymesVar id="family" type="dyn.model.Family"*/-->
    <th:block th:if="${family.getLevel() == 0}">
        <div class="alert alert-success">
            Здесь отображены все семьи вашего аккаунта и история выбранной семьи (с родословной и логами уровня). Вы можете переключаться между семьями вашего аккаунта в любое время или создать новую семью.<br/>
            Пожалуйста, перейдите в меню на вкладку Дом.
        </div>
    </th:block>

    <h3>Ваши семьи</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Фамилия</th>
            <th>Уровень</th>
            <th>Деньги</th>
            <th>Текущий выбор</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="family : ${families}">
            <td th:text="${family.getFamilyName()}">name</td>
            <td th:text="${family.getLevel()}">1</td>
            <td th:text="${family.getMoney()}">1</td>
            <td>
                <th:block th:if="${family.isCurrent()}"><span class="glyphicon glyphicon-ok-sign" style="color: forestgreen"></span>
                </th:block>
            </td>
            <td>
                <th:block th:if="${family.isCurrent() == false}">
                    <form th:action="@{/game/makeFamilyCurrent}" class="form-inline" method="post">
                        <div class="form-group">
                            <input type="hidden" name="familyId" th:value="${family.getId()}"/>
                            <button type="submit" class="btn btn-default">Переключиться</button>
                        </div>
                    </form>
                </th:block>
            </td>
        </tr>
        </tbody>
    </table>
    Вы можете создать
    <th:block th:text="${@const.MAX_FAMILIES}"></th:block>
    семей. Удалять семьи нельзя. <br/>
    <a href="/game/addNewFamily" class="btn btn-info" role="button">Создать новую семью!</a>

    <h3>История выбранной семьи:</h3>
    <!--levelFatherChildren-->
    <th:block th:each="fatherChildrenMap : ${levelFatherChildren}" th:with="level = ${fatherChildrenMapStat.count - 1}">
        <a th:name="${'level'+level}" class="anchor"></a>
        <!--familyLog-->
        <ul class="list-inline">
            <!--/*@thymesVar id="room" type="dyn.model.Room"*/-->
            <li th:text="${'Уровень: '+level}">

            </li>
            <li>
                <button data-toggle="collapse" th:attr="data-target=${'#family-log'+level}" class="btn">
                    Лог <span class="glyphicon glyphicon-menu-down"></span>
                </button>
            </li>
        </ul>

        <div th:id="${'family-log'+(fatherChildrenMapStat.count-1)}" class="collapse">
            <pre class="pre-scrollable" style="height: 150px; max-height: 150px;" th:utext="${familyLog.get(level).getText()}"></pre>
        </div>
        <div class="well" align="center">
            <th:block th:each="mapEntry : ${fatherChildrenMap}" th:with="father = ${mapEntry.getKey()}, childList = ${mapEntry.getValue()}">
                <!--/*@thymesVar id="father" type="dyn.model.Character"*/-->
                <div align="center" style="zoom: 0.5; display: inline-block; margin-right: 28px;">
                    <div style="display: inline-block; padding: 5px; background-color: #dff0d8; border: solid 1px mediumseagreen;">
                        <div style="display: inline-block;">
                            <th:block th:replace="fragments/char :: char-panel (character=${father})"></th:block>
                        </div>
                        <th:block th:if="${father.getSpouse() != null}" th:with="mother=${father.getSpouse()}">
                            <div style="display: inline-block;">
                                <th:block th:replace="fragments/char :: char-panel (character=${mother})"></th:block>
                            </div>
                        </th:block>
                    </div>
                    <br/>
                    <th:block th:each="child : ${childList}">
                        <div class="well" style="display: inline-block; padding: 5px;">
                            <!--/*@thymesVar id="child" type="dyn.model.Character"*/-->
                            <div style="display: inline-block;">
                                <th:block th:replace="fragments/char :: char-panel (character=${child})"></th:block>
                            </div>
                        </div>
                    </th:block>
                </div>
            </th:block>
        </div>
    </th:block>

</div>
<th:block th:replace="fragments/scripts :: webjars"></th:block>
</body>
</html>