<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Обратная связь</title>
    <th:block th:replace="fragments/custom :: headLinks"></th:block>
</head>
<body>
<th:block th:replace="fragments/scripts :: counters"></th:block>
<div th:replace="fragments/navigation :: nav-for-game"></div>
<div class="container">
    <!--/*@thymesVar id="family" type="dyn.model.Family"*/-->
    <h3>Форма обратной связи</h3>
    <p>Игра находится в стадии разработки, возможны сбои в работе, ошибки. Заранее приносим извинения.</p>
    <p>В форме обратной связи вы можете отправить отчет об ошибке, предложить новую идею (расу, комнату, предметы), высказать свое негодование по поводу графики или интерфейса =) Любой отзыв
        сделает игру лучше и интереснее. Будем рады вашему отклику!</p>
    <form class="form-horizontal" th:action="@{/game/addFeedback}" th:object="${newFeedback}" method="POST">
        <fieldset>
            <div id="legend">
                <legend class="">Новая заявка</legend>
            </div>
            <div class="control-group">
                <label class="control-label" for="type">Тип заявки</label>
                <div class="controls">
                    <p class="has-error" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></p>
                    <select class="form-control" th:field="*{type}" id="type">
                        <option value="bug">Баг</option>
                        <option value="complaint">Жалоба</option>
                        <option value="suggestion">Предложение</option>
                    </select>
                    <p class="help-block">Выберите наиболее подходящий вашей проблеме тип заявки</p>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="text">Текст заявки</label>
                <div class="controls">
                    <p class="has-error" th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></p>
                    <textarea id="text" name="text" th:field="*{text}" class="form-control" rows="5"></textarea>
                    <p class="help-block">Опишите суть проблемы (35-350 символов)</p>
                </div>
            </div>

            <input type="hidden" name="user" th:value="${family.getUser().getUserid()}"/>
            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-primary">Готово!</button>
                </div>
            </div>

        </fieldset>
    </form>

    <h3>Существующие фидбеки:</h3>
    <button data-toggle="collapse" th:attr="data-target='#bugs_table'" class="btn btn-danger">
        Баги <span class="glyphicon glyphicon-menu-down"></span>
    </button>
    <button data-toggle="collapse" th:attr="data-target='#complaints_table'" class="btn btn-warning">
        Жалобы <span class="glyphicon glyphicon-menu-down"></span>
    </button>
    <button data-toggle="collapse" th:attr="data-target='#suggestions_table'" class="btn btn-success">
        Предложения <span class="glyphicon glyphicon-menu-down"></span>
    </button>

    <div id="bugs_table" class="collapse">
        <h3>Баги:</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Статус</th>
                <th>Дата</th>
                <th>Игрок</th>
                <th>Текст</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bug : ${bugs}">
                <!--/*@thymesVar id="bug" type="dyn.model.Feedback"*/-->
                <td class="col-md-1" th:text="${bug.getId()}"></td>
                <td class="col-md-1" th:text="${bug.getStatus()}"></td>
                <td class="col-md-2" th:text="${bug.getDate()}"></td>
                <td class="col-md-2" th:text="${bug.getUser().getUserName()}"></td>
                <td class="col-md-6" th:text="${bug.getText()}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div id="complaints_table" class="collapse">
        <h3>Жалобы:</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Статус</th>
                <th>Дата</th>
                <th>Игрок</th>
                <th>Текст</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="complaint : ${complaints}">
                <!--/*@thymesVar id="complaint" type="dyn.model.Feedback"*/-->
                <td class="col-md-1" th:text="${complaint.getId()}"></td>
                <td class="col-md-1" th:text="${complaint.getStatus()}"></td>
                <td class="col-md-2" th:text="${complaint.getDate()}"></td>
                <td class="col-md-2" th:text="${complaint.getUser().getUserName()}"></td>
                <td class="col-md-6" th:text="${complaint.getText()}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div id="suggestions_table" class="collapse">
        <h3>Предложения:</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Статус</th>
                <th>Дата</th>
                <th>Игрок</th>
                <th>Текст</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="suggestion : ${suggestions}">
                <!--/*@thymesVar id="complaint" type="dyn.model.Feedback"*/-->
                <td class="col-md-1" th:text="${suggestion.getId()}"></td>
                <td class="col-md-1" th:text="${suggestion.getStatus()}"></td>
                <td class="col-md-2" th:text="${suggestion.getDate()}"></td>
                <td class="col-md-2" th:text="${suggestion.getUser().getUserName()}"></td>
                <td class="col-md-6" th:text="${suggestion.getText()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<th:block th:replace="fragments/scripts :: webjars"></th:block>
</body>
</html>