<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Справка</title>
    <th:block th:replace="fragments/custom :: headLinks"></th:block>
</head>
<body>
<th:block th:replace="fragments/scripts :: counters"></th:block>
<div th:replace="fragments/navigation :: nav-for-game"></div>
<div class="container">
    <div align="center">
        <ul class="list-inline">
            <li><a href="/game/help#1">Панель персонажа</a></li>
            <li><a href="/game/help#2">Ход - от родителей к детям</a></li>
            <li><a href="/game/help#3">Сыновья и дочери</a></li>
            <li><a href="/game/help#4">Баффы</a></li>
            <li><a href="/game/help#5">Дом и качество предметов</a></li>
        </ul>
    </div>
    <h3><a name="1" class="anchor"></a>Панель персонажа</h3>
    <strong>Имена</strong> персонажей генерируются случайным образом из базы данных имен. Особого смысла пока не несут. <br/>
    <strong>Раса</strong> - человек, эльф, вампир - определяется набором <strong>черт</strong>: рост, цвет кожи, цвет глаз (полный список во всплывающей подсказке к портрету персонажа, шкала в левом нижнем углу портрета отображает рост персонажа).
    Есть черты обычные (голубые глаза, высокий рост), а есть генно-модифицированные (ГМ-черты), например, верхние клыки или маленькие уши и рога.
    Комбинации обычных и ГМ-черт как раз и определяют принадлежность персонажа к той, или иной расе. Подробнее можно посмотреть на <a href="/game/races">странице
    рас</a> (или кликнув на расу под именем персонажа). Если человек обладает ГМ-чертами, но комбинация черт не подходит ни под одну расу, то это будет ГМ-человек.<br/>
    <div align="center" style="margin-left: auto; margin-right: auto;">
        <img th:src="@{'/graphics/help_img2.png' }"/>
    </div>

    Под портретом персонажа находится панель карьеры. <strong>Призвание</strong> указывает, в какой области будет работать персонаж (и какие ресурсы получит в конце хода).
    Если кликнуть на значок призвания, откроется страничка с подробностями и полным списком призваний.
    <strong>Навыки</strong> - <em>интеллект, харизма, сила и творчество</em> - определяют, какую <strong>профессию</strong> получит персонаж в конце хода.
    Есть десять уровней профессий, уровень указывается в скобках рядом с названием профессии. От уровня зависит количество ресурсов и заработная плата, которые персонаж принесет в семью в конце хода.<br/>

    <h3><a name="2" class="anchor"></a>Ход - от родителей к детям</h3>
    Когда вы нажимаете кнопку Ход, персонажи по сути "проживают жизнь" - во-первых, получают профессию согласно своим навыкам. Если интеллект и другие необходимые навыки развиты достаточно хорошо, то персонаж получает профессию более высокого
    уровня. Заработная плата и количество ресурсов напрямую зависит от уровня профессии. Все ваши персонажи, за исключением дочерей, анкеты которых размещены в базе невест или которые уже вышли замуж, приносят заработную плату и ресурсы в семью.
    <br/>
    Ну и во-вторых, у персонажей появляются дети.
    <div align="center" style="margin-left: auto; margin-right: auto;">
        <img th:src="@{'/graphics/help_img3.png' }"/>
    </div>
    Все <strong>черты</strong> персонажей-родителей переходят к детям с равной вероятностью или от матери, или от отца.
    <strong>Навыки</strong> наследуются как случайное число между минимальным и максимальным значением навыка родителей плюс
    <th:block th:text="${@const.SKILL_COEFFICIENT}"></th:block>
    .
    <strong>Призвание</strong> передается по наследству от родителей, но есть малая вероятность того, что сгенерируется новое призвание (2%).
    <strong>ГМ-черты</strong> появляются у персонажей случайным образом (вероятность
    <th:block th:text="${@const.PERCENTAGE_GEN_MOD*100}"></th:block>
    %).<br/>
    Количество родившихся детей зависит от качества предметов в доме (смотрите <a href="/game/help#5">ниже</a> или на вкладке Дом под знаком вопроса рядом с показателем среднего качества предметов).<br/>


    <h3><a name="3" class="anchor"></a>Сыновья и дочери</h3>
    <p th:inline="text">
    <p>Для продолжения династии вам следует <strong>выбрать невест</strong> для своих сыновей. Есть некая база невест, куда ранее другие игроки выложили анкеты своих дочерей.
    Кликнув на зеленую кнопку под портретом сына, вы можете выбрать для него невесту (для этого нужно выкупить ее анкету). Количество сыновей, которые могут выбрать невесту, ограничено уровнем дома.
    Вы можете выбирать невест не только своего уровня, но и уровнем поменьше (минимум - ваш уровень минус 4).
    Если вы решили получить в своей семье Вампира, то нужно искать невест с подходящими ГМ-чертами. Выбирайте невест с тем призванием, которое будет приносить необходимые в данный момент ресурсы.
        Также обращайте внимание на навыки невесты: если они будут значительно ниже, чем у сына, то пострадают и дети... </p>

    <p>Вы можете <strong>запостить анкеты</strong> своих дочерей в базу невест, получив "выкуп" авансом. Для этого нажмите оранжевую кнопку под портретом невесты. Количество анкет ограничено уровнем дома.
    Когда анкету дочери выкупит кто-нибудь из игроков, новоиспеченный зять появится рядом с ее портретом.
    База невест не зависит от уровня (поколения) вашей семьи, то есть анкету дочери, которую вы постили на втором уровне, могут выкупить, когда
        вы будете уже на десятом.</p>
    <p><strong>Стоимость анкеты</strong> зависит от уровня семьи и расы дочери. Базовая стоимость - уровень семьи*[[${@const.FIANCEE_COST}]] д.
        Коэффициент расы равен 1, если дочь обычный человек, 2 - если дочь обладает ГМ-чертами, 3 - если дочь принадлежит к человеческим расам, 4 - к высшим расам. Так, за чистокровную вампиршу вы получите 4*уровень
        семьи*[[${@const.FIANCEE_COST}]] д.</p>
    <p> С пятого уровня семьи вы можете <strong>вручную назначать стоимость</strong> анкет ваших дочерей. Под портретом дочерей будет еще одна оранжевая кнопка, которая откроет меню для ввода стоимости. Минимальная сумма - это уровень вашей семьи,
        помноженный на [[${@const.FIANCEE_COST}]]. Максимальная - зависит от вас. Если ваша дочь ну почти-почти вампир, не хватает буквально красных глаз, то обидно продавать ее анкету за стоимость непонятных мутантов с произвольным набором
        ГМ-черт. Поднимите цену и ждите, кто-нибудь обязательно выкупит анкету вашей почти-вампирши, такие невесты очень нужны. Иногда бывает, что просто необходимы "невесты-человеки". А почти-инопланетянка вообще на вес золота... Невесты, стоимость
        которых выбрана игроками вручную, отмечены в базе невест зеленой рамкой.</p>
    </p>

    <h3><a name="4" class="anchor"></a>Баффы</h3>
    Баффы - это такие усиления/улучшения, которые могут быть куплены в разделе Город.
    <th:block th:fragment="buffs_table">Есть несколько типов баффов:<br/>
    1) баффы на семью - это баффы "+1 пара на ход", "+1 невеста на ход". Купленные в городе баффы такого типа появляются на синей панели над кнопкой Ход. Применить - нажать на кнопку баффа.
    "<strong>+1 пара на ход</strong>" - позволит еще одному сыну выбрать невесту, "<strong>+1 невеста на ход</strong>" - разрешает выложить в базу невест анкету еще одной дочери.
    Используйте эти баффы, например, если не хочется потерять сына-почти-вампира, или "выкуп" анкеты дочери-почти-эльфийки будет гораздо больше стоимости баффа.
    <br/>
    2) баффы на родителей - это "Приемный ребенок", "+1 ребенок" и "Клонировать персонажа". После покупки они появляются в меню Действия под портретом родителей.
    Такие баффы спасают, когда в семье родились одни девочки. "<strong>Приемный ребенок</strong>" может быть как женского, так и мужского пола, с абсолютно случайным набором черт.
    "<strong>+1 ребенок</strong>" - рождается еще один ребенок (не больше десяти на пару), все родительские баффы, типа "доминант отца" или "больше сыновей" сработают и в этот раз.
    <strong>Клонирование</strong> приведет к появлению ребенка, абсолютно идентичного клонируемому персонажу.
    <br/>
    3) баффы на женатого сына - "Плодовитость", "Генетическая модификация", "Больше сыновей", "Больше дочерей", "Доминант отца", "Доминант матери" - появляются в меню Действия под портретом сына, который уже выбрал себе невесту, то есть по сути баффы
    на пару.
        "<strong>Плодовитость</strong>" увеличивает количество детей, которое зависит еще и от качества предметов в доме (смотрите <a href="/game/help#5">ниже</a> или на вкладке Дом под знаком вопроса рядом с показателем среднего качества предметов).
    "<strong>Генетическая модификация</strong>" повышает вероятность появления у детей ГМ-черт до
    <th:block th:text="${@const.PERCENTAGE_GEN_MOD_BUFFED*100}"></th:block>
    % (без баффа, напомним,
    <th:block th:text="${@const.PERCENTAGE_GEN_MOD*100}"></th:block>
    %).
    "<strong>Больше сыновей</strong>" и "<strong>Больше дочерей</strong>" повышают шанс
    рождения, соответственно, сына или дочери до 80% (без баффов равновероятно 50%). "<strong>Доминант отца</strong>" и "<strong>Доминант матери</strong>" повышают вероятность наследования черт от, соответственно, отца или матери до 80% (без баффов
    равновероятно 50%).
    <br/>
    4) карьерный бафф - "<strong>Повышение интеллекта, силы, харизмы или творчества</strong>" и "<strong>Увеличение зп</strong>" - можно применить к любому ребенку, кроме дочери, анкета которой уже выставлена в базу невест. Кнопка баффа будет в меню
    Действия под портретом персонажа.
    Повышается навык на 3 пункта. А заработная плата увеличивается на 50%!
    <br/>
    5) изменение персонажа - "Пластика части тела" и "Сменить призвание" - можно применить к любому ребенку, кроме дочери, анкета которой уже выставлена в базу невест. Кнопка баффа будет в меню Действия под портретом персонажа. "<strong>Пластика
    части
    тела</strong>" заменяет выбранную черту на случайную обычную. Помогает, если, например, персонаж - типичный вампир, но с эльфийскими ушами. После применения баффа уши станут обычными, персонаж станет Вампиром. Правда, достижение за
    него не дадут (достижения выдают только новорожденным представителям рас). "<strong>Сменить призвание</strong>" позволяет легко и просто изменить призвание персонажа.
    <br/>
    6) бафф к производству - "<strong>Качество предметов +1</strong>" - после покупки бафф появится в разделе "Изготовление предметов по имеющимся проектам". При изготовлении вещи по проекту поставьте галочку на баффе, и качество изготовленного
    предмета будет на
    1 выше. Без этого баффа никак не сделать вещь с 5ым уровнем качества.
    <br/>
    7) сертификат на ресурсы - <strong>"Продукты", "Дерево", "Металл", "Пластик, резина", "Микроэлектроника", "Ткань, кожа, бумага", "Камень, стекло, керамика", "Химия, краски"</strong> - после покупки сертификат появляется на складе, там же его
    можно и применить, получив ресурсы.
    </th:block>

    <h3><a name="5" class="anchor"></a>Дом и качество предметов</h3>
    Жилой <strong>дом</strong> состоит из нескольких комнат. В хижине три комнаты, во дворце - 14.
    <th:block th:fragment="house_rooms_table">
        Тип дома влияет на количество пар, которые вы можете создать за ход, и на количество анкет невест, которые вы можете запостить за ход:
        <table class="table table-condensed table-striped">
            <thead>
            <tr>
                <th>Показатель</th>
                <th>Пары</th>
                <th>Анкеты</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>хижина</td>
                <td>3</td>
                <td>5</td>
            </tr>
            <tr>
                <td>маленький домик</td>
                <td>3</td>
                <td>5</td>
            </tr>
            <tr>
                <td>уютный домик</td>
                <td>4</td>
                <td>6</td>
            </tr>
            <tr>
                <td>средний дом</td>
                <td>4</td>
                <td>6</td>
            </tr>
            <tr>
                <td>большой дом</td>
                <td>5</td>
                <td>7</td>
            </tr>
            <tr>
                <td>особняк</td>
                <td>5</td>
                <td>7</td>
            </tr>
            <tr>
                <td>усадьба</td>
                <td>6</td>
                <td>8</td>
            </tr>
            <tr>
                <td>фазенда</td>
                <td>6</td>
                <td>8</td>
            </tr>
            <tr>
                <td>вилла</td>
                <td>6</td>
                <td>8</td>
            </tr>
            <tr>
                <td>дворец</td>
                <td>7</td>
                <td>9</td>
            </tr>
            </tbody>
        </table>
    </th:block>
    Каждая комната имеет набор мебели, техники, устройств, которые можно изготовить из накопленных ресурсов или купить на маркете. Покупка следующего по уровню дома возможна только если все предметы, необходимые на текущем урвоне, установлены в
    комнате. У каждого предмета есть показатель качества.<br/>
    <th:block th:fragment="thing_quality_table"><strong>Качество</strong> изготавливаемых предметов определяется так: <br/>
        +1 за дизайнерскую вещь (проект которой создан игроками)<br/>
        +1 если Вы создали более 5 вещей по этому проекту<br/>
        +1 если Вы создали более 25 вещей по этому проекту<br/>
        +1 если Вы создали более 50 вещей по этому проекту<br/>
        +1 если применен Бафф к производству 'Качество предметов +1'<br/>
        Таким образом, наибольшее качество предмета 5. Среднее значение качества всех предметов в доме влияет на плодовитость персонажей и на увеличение заработной платы.
    </th:block>
    <th:block th:fragment="house_quality_table">
        Чем выше качество предметов в доме, тем больше детей рождается у пары, а также растет надбавка к заработной плате. <br/><br/>
        <em>Вероятность рождения 1,2...7 детей и надбавка к зп в зависимости от показателя среднего качества предметов в доме:</em>
        <table class="table table-condensed table-striped">
            <thead>
            <tr>
                <th>Показатель</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>Надбавка к ЗП</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>0</td>
                <td>5%</td>
                <td>40%</td>
                <td>40%</td>
                <td>15%</td>
                <td>0%</td>
                <td>0%</td>
                <td>0%</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>1</td>
                <td>0%</td>
                <td>20%</td>
                <td>50%</td>
                <td>25%</td>
                <td>5%</td>
                <td>0%</td>
                <td>0%</td>
                <td>10%</td>
            </tr>
            <tr>
                <td>2</td>
                <td>0%</td>
                <td>5%</td>
                <td>25%</td>
                <td>50%</td>
                <td>15%</td>
                <td>5%</td>
                <td>0%</td>
                <td>20%</td>
            </tr>
            <tr>
                <td>3</td>
                <td>0%</td>
                <td>0%</td>
                <td>10%</td>
                <td>30%</td>
                <td>50%</td>
                <td>10%</td>
                <td>0%</td>
                <td>30%</td>
            </tr>
            <tr>
                <td>4</td>
                <td>0%</td>
                <td>0%</td>
                <td>0%</td>
                <td>10%</td>
                <td>30%</td>
                <td>50%</td>
                <td>10%</td>
                <td>40%</td>
            </tr>
            <tr>
                <td>5</td>
                <td>0%</td>
                <td>0%</td>
                <td>0%</td>
                <td>0%</td>
                <td>20%</td>
                <td>30%</td>
                <td>50%</td>
                <td>50%</td>
            </tr>
            </tbody>
        </table>
        При баффе "Плодовитость" вероятность рождения повышается:
        <table class="table table-condensed table-striped">
            <thead>
            <tr>
                <th>Показатель</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>0</td>
                <td>0%</td>
                <td>0%</td>
                <td>5%</td>
                <td>50%</td>
                <td>30%</td>
                <td>10%</td>
                <td>5%</td>
            </tr>
            <tr>
                <td>1</td>
                <td>0%</td>
                <td>0%</td>
                <td>0%</td>
                <td>15%</td>
                <td>50%</td>
                <td>25%</td>
                <td>10%</td>
            </tr>
            <tr>
                <td>2</td>
                <td>0%</td>
                <td>0%</td>
                <td>0%</td>
                <td>5%</td>
                <td>25%</td>
                <td>50%</td>
                <td>20%</td>
            </tr>
            <tr>
                <td>3</td>
                <td>0%</td>
                <td>0%</td>
                <td>0%</td>
                <td>0%</td>
                <td>15%</td>
                <td>35%</td>
                <td>50%</td>
            </tr>
            <tr>
                <td>4</td>
                <td>0%</td>
                <td>0%</td>
                <td>0%</td>
                <td>0%</td>
                <td>0%</td>
                <td>35%</td>
                <td>65%</td>
            </tr>
            <tr>
                <td>5</td>
                <td>0%</td>
                <td>0%</td>
                <td>0%</td>
                <td>0%</td>
                <td>0%</td>
                <td>5%</td>
                <td>95%</td>
            </tr>
            </tbody>
        </table>
    </th:block>
</div>
<th:block th:replace="fragments/scripts :: webjars"></th:block>

</body>
</html>