<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Справка</title>
    <th:block th:replace="fragments/custom :: headLinks"></th:block>
</head>
<body>
<th:block th:replace="fragments/scripts :: counters"></th:block>
<div th:replace="fragments/navigation :: nav-for-game"></div>
<div class="container">
    <div align="center">
        <ul class="list-inline">
            <li><a href="/game/help#1">Панель персонажа</a></li>
            <li><a href="/game/help#2">От родителей к детям</a></li>
            <li><a href="/game/help#3">Сыновья и дочери</a></li>
            <li><a href="/game/help#4">Баффы</a></li>
        </ul>
    </div>
    <h3><a name="1" class="anchor"></a>Панель персонажа</h3>
    <strong>Имена</strong> персонажей генерируются случайным образом из базы данных имен. Особого смысла пока не несут. <br/>
    <strong>Раса</strong> - человек, эльф, вампир - определяется набором <strong>черт</strong>: рост, цвет кожи, цвет глаз (полный список во всплывающей подсказке к портрету персонажа, шкала в левом нижнем углу портрета отображает рост персонажа).
    Есть черты обычные (голубые глаза, высокий рост), а есть генно-модифицированные (ГМ-черты), например, верхние клыки или маленькие уши и рога.
    Комбинации обычных и ГМ-черт как раз и определяют принадлежность персонажа к той, или иной расе. Подробнее можно посмотреть на <a href="/game/races">странице
    рас</a> (или кликнув на расу под именем персонажа). Если человек обладает ГМ-чертами, но комбинация черт не подходит ни под одну расу, то это будет ГМ-человек.<br/>
    <div align="center" style="margin-left: auto; margin-right: auto;">
        <img th:src="@{'/graphics/help_img2.png' }"/>
    </div>

    Под портретом персонажа находится панель карьеры. <strong>Призвание</strong> указывает, в какой области будет работать персонаж (и какие ресурсы получит в конце хода).
    Если кликнуть на значок призвания, откроется страничка с подробностями и полным списком призваний.
    <strong>Навыки</strong> - <em>интеллект, харизма, сила и творчество</em> - определяют, какую <strong>профессию</strong> получит персонаж в конце хода.
    Есть десять уровней профессий, уровень указывается в скобках рядом с названием профессии. От уровня зависит количество ресурсов и заработная плата, которые персонаж принесет в семью в конце хода.<br/>

    <h3><a name="2" class="anchor"></a>От родителей к детям</h3>
    Нажимая кнопку Ход, вы переходите к следующему поколению вашей семьи.
    <div align="center" style="margin-left: auto; margin-right: auto;">
        <img th:src="@{'/graphics/help_img3.png' }"/>
    </div>
    У пары появляются дети. Все <strong>черты</strong> персонажей-родителей переходят к детям с равной вероятностью или от матери, или от отца.
    <strong>Навыки</strong> наследуются как случайное число между минимальным и максимальным значением навыка родителей плюс
    <th:block th:text="${@const.SKILL_COEFFICIENT}"></th:block>
    .
    <strong>Призвание</strong> передается по наследству от родителей, но есть малая вероятность того, что сгенерируется новое призвание (2%).
    <strong>ГМ-черты</strong> появляются у персонажей случайным образом (вероятность
    <th:block th:text="${@const.PERCENTAGE_GEN_MOD*100}"></th:block>
    %).

    <h3><a name="3" class="anchor"></a>Сыновья и дочери</h3>
    Для продолжения династии вам следует <strong>выбрать невест</strong> для своих сыновей. Есть некая база невест, куда ранее другие игроки выложили анкеты своих дочерей.
    Кликнув на зеленую кнопку под портретом сына, вы можете выбрать для него невесту (для этого нужно выкупить ее анкету). Количество сыновей, которые могут выбрать невесту, ограничено уровнем дома.
    Если вы решили получить в своей семье Вампира, то нужно искать невест с подходящими ГМ-чертами. Выбирайте невест с тем призванием, которое будет приносить необходимые в данный момент ресурсы.
    Также обращайте внимание на навыки невесты: если они будут значительно ниже, чем у сына, то пострадают и дети... <br/>

    Вы можете <strong>запостить анкеты</strong> своих дочерей в базу невест, получив "выкуп" авансом. Для этого нажмите оранжевую кнопку под портретом невесты. Количество анкет ограничено уровнем дома.
    Когда анкету дочери выкупит кто-нибудь из игроков, новоиспеченный зять появится рядом с ее портретом.
    База невест не зависит от уровня (поколения) вашей семьи, то есть анкету дочери, которую вы постили на втором уровне, могут выкупить, когда
    вы будете уже на десятом.

    <h3><a name="4" class="anchor"></a>Баффы</h3>
    Баффы - это такие усиления/улучшения, которые могут быть куплены в разделе Город. Есть несколько типов баффов:<br/>
    1) баффы на семью - это баффы "+1 пара на ход", "+1 невеста на ход". Купленные в городе баффы такого типа появляются на синей панели над кнопкой Ход. Применить - нажать на кнопку баффа.
    "<strong>+1 пара на ход</strong>" - позволит еще одному сыну выбрать невесту, "<strong>+1 невеста на ход</strong>" - разрешает выложить в базу невест анкету еще одной дочери.
    Используйте эти баффы, например, если не хочется потерять сына-почти-вампира, или "выкуп" анкеты дочери-почти-эльфийки будет гораздо больше стоимости баффа.
    <br/>
    2) баффы на родителей - это "Приемный ребенок", "+1 ребенок" и "Клонировать персонажа". После покупки они появляются в меню Действия под портретом родителей.
    Такие баффы спасают, когда в семье родились одни девочки. "<strong>Приемный ребенок</strong>" может быть как женского, так и мужского пола, с абсолютно случайным набором черт.
    "<strong>+1 ребенок</strong>" - рождается еще один ребенок (не больше десяти на пару), все родительские баффы, типа "доминант отца" или "больше сыновей" сработают и в этот раз.
    <strong>Клонирование</strong> приведет к появлению ребенка, абсолютно идентичного клонируемому персонажу.
    <br/>
    3) баффы на женатого сына - "Плодовитость", "Генетическая модификация", "Больше сыновей", "Больше дочерей", "Доминант отца", "Доминант матери" - появляются в меню Действия под портретом сына, который уже выбрал себе невесту, то есть по сути баффы
    на пару.
    "<strong>Плодовитость</strong>" увеличивает количество детей, которое зависит еще и от качества предметов в доме (смотрите ниже или на вкладке Дом под знаком вопроса рядом с показателем среднего качества предметов).
    "<strong>Генетическая модификация</strong>" повышает вероятность появления у детей ГМ-черт до
    <th:block th:text="${@const.PERCENTAGE_GEN_MOD_BUFFED*100}"></th:block>
    % (без баффа, напомним,
    <th:block th:text="${@const.PERCENTAGE_GEN_MOD*100}"></th:block>
    %).
    "<strong>Больше сыновей</strong>" и "<strong>Больше дочерей</strong>" повышают шанс
    рождения, соответственно, сына или дочери до 80% (без баффов равновероятно 50%). "<strong>Доминант отца</strong>" и "<strong>Доминант матери</strong>" повышают вероятность наследования черт от, соответственно, отца или матери до 80% (без баффов
    равновероятно 50%).
    <br/>
    4) карьерный бафф - "<strong>Повышение интеллекта, силы, харизмы или творчества</strong>" и "<strong>Увеличение зп</strong>" - можно применить к любому ребенку, кроме дочери, анкета которой уже выставлена в базу невест. Кнопка баффа будет в меню
    Действия под портретом персонажа.
    Повышается навык на 3 пункта. А заработная плата увеличивается на 50%!
    <br/>
    5) изменение персонажа - "Пластика части тела" и "Сменить призвание" - можно применить к любому ребенку, кроме дочери, анкета которой уже выставлена в базу невест. Кнопка баффа будет в меню Действия под портретом персонажа. "<strong>Пластика
    части
    тела</strong>" заменяет выбранную черту на случайную обычную. Помогает, если, например, персонаж - типичный вампир, но с эльфийскими ушами. После применения баффа уши станут обычными, персонаж станет Вампиром. Правда, достижение за
    него не дадут (достижения выдают только новорожденным представителям рас). "<strong>Сменить призвание</strong>" позволяет легко и просто изменить призвание персонажа.
    <br/>
    6) бафф к производству - "<strong>Качество предметов +1</strong>" - после покупки бафф появится в разделе "Изготовление предметов по имеющимся проектам". При изготовлении вещи по проекту поставьте галочку на баффе, и качество изготовленного
    предмета будет на
    1 выше. Без этого баффа никак не сделать вещь с 5ым уровнем качества.
    <br/>
    7) сертификат на ресурсы - <strong>"Продукты", "Дерево", "Металл", "Пластик, резина", "Микроэлектроника", "Ткань, кожа, бумага", "Камень, стекло, керамика", "Химия, краски"</strong> - после покупки сертификат появляется на складе, там же его
    можно и применить, получив ресурсы.


    <h3>Продолжение следует...</h3>

</div>
<th:block th:replace="fragments/scripts :: webjars"></th:block>

</body>
</html>