<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Родовое гнездо</title>
    <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"></link>
    <link th:href="@{/css/common.css}" rel="stylesheet"></link>
</head>
<body>
<div th:replace="fragments/navigation :: nav-for-game"></div>
<div class="container" style="min-width: 1140px;">
    <!--/*@thymesVar id="family" type="dyn.model.Family"*/-->
    <th:block th:if="${family.getLevel() == 0}">
        <div class="alert alert-success">
            Это ваш дом. Пока это только хижина с тремя комнатами, но когда-нибудь вы обязательно прикупите дворец с гаражом и бассейном! <br/>
            Тип дома определяет, сколько пар вы можете создать (например, сейчас вы можете выбрать невест только для трех сыновей) и сколько анкет невест вы можете разместить. <br/>
            Сейчас на вашем складе есть предмет Плита "Скоровар" (список вещей на складе можно посмотреть в меню "Склад"). Найдите в таблице вещей для кухни "плита",
            правее выбран тот самый Скоровар, нажмите "Выбрать". Теперь в вашем доме есть хоть какая-то мебель!<br/>
            Предметы для дома вы можете купить или изготовить самому. Пожалуйста, перейдите в меню на вкладку "Мастерская".
        </div>
    </th:block>
    <!--/*@thymesVar id="houseInterior" type="dyn.service.HouseInterior"*/-->
    <div class="well">
        <div class="row">
            <div class="col-md-6">
                <h3 th:text="${'Ваш дом: '+ family.getHouse().getName()}">Родовое гнездо</h3>
                <p>В этом доме может проживать пар: <strong th:text="${family.getHouse().getPairsNum()}"></strong><br/>
                    Позволяет поместить столько анкет в базу невест: <strong th:text="${family.getHouse().getFianceeNum()}"></strong>
                </p>
                <ul class="list-inline">
                    <!--/*@thymesVar id="room" type="dyn.model.Room"*/-->
                    <li th:each="room : ${roomList}">
                        <a th:href="${'/game/house#room'+room.getId()}" th:text="${room.getName()}">Home</a>
                    </li>
                </ul>
            </div>

            <th:block th:if="${nextHouse != null}">
                <div class="col-md-6">
                    <h3>Покупка нового дома</h3>
                    <form action="#" th:action="@{/game/buyNewHouse}" class="form-inline" method="post">
                        <div class="form-group">
                            <label th:text="${#strings.capitalize(nextHouse.getName())}">Название следующего дома</label>
                            <button type="submit" th:disabled="${family.getMoney() lt nextHouse.getCost() or not houseIsFull}" class="btn btn-default"
                                    th:text="${'Купить: ' + nextHouse.getCost() + ' р.'}">Купить
                            </button>
                            <br/>
                            <span th:if="${not houseIsFull}" style="color:dimgrey">Вы сможете купить новый дом, когда все доступные вещи будут установлены.</span>
                        </div>
                    </form>
                </div>
            </th:block>
        </div>
    </div>


    <!--/*@thymesVar id="roomView" type="dyn.model.RoomView"*/-->
    <th:block th:each="roomView : ${roomViewList}">
        <div th:replace="fragments/roomView :: room-view (roomView=${roomView})"></div>
    </th:block>


</div>
<script th:src="@{/webjars/jquery/1.9.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
</body>
</html>