<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Родовое гнездо</title>
    <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"></link>
    <link th:href="@{/css/common.css}" rel="stylesheet"></link>
</head>
<body>
<div th:replace="fragments/navigation :: nav-for-game"></div>
<div class="container" style="width: 1110px;">
    <!--/*@thymesVar id="family" type="dyn.model.Family"*/-->
    <th:block th:if="${family.getLevel() == 0}">
        <div class="alert alert-success">
            Это ваш дом. Пока это только хижина с тремя комнатами, но когда-нибудь вы обязательно прикупите дворец с гаражом и бассейном! <br/>
            Тип дома определяет, сколько пар вы можете создать (например, сейчас вы можете выбрать невест только для трех сыновей) и сколько анкет невест вы можете разместить (сейчас четыре). <br/>
            Сейчас на вашем складе есть предмет Плита "Скоровар" (список вещей на складе можно посмотреть в меню "Склад"). Кликните на прямоугольник с подписью "плита" на изображении кухни и выберите имеющуюся у вас плиту Скоровар.
            Теперь в вашем доме есть хоть какая-то мебель!<br/>
            Предметы для дома вы можете купить или изготовить самому. Пожалуйста, перейдите в меню на вкладку "Крафт".
        </div>
    </th:block>
    <div class="well">
        <div class="row">
            <div class="col-md-6">
                <h3>
                    <th:block th:text="${'Ваш дом: '+ family.getHouse().getName()}"></th:block>
                    <div class="my_tooltip">&nbsp;<span class="glyphicon glyphicon-question-sign" style="color: black;"></span>
                        <span class="my_tooltiptext">
                        Тип дома влияет на количество пар, которые вы можете создать за ход, и на количество анкет невест, которые вы можете запостить за ход:
                        <table class="table table-sm">
                                <thead>
                                <tr><th>Показатель</th><th>Пары</th><th>Анкеты</th></tr>
                                </thead>
                                <tbody>
                                    <tr><td>хижина</td><td>3</td><td>4</td></tr>
                                    <tr><td>маленький домик</td><td>3</td><td>4</td></tr>
                                    <tr><td>уютный домик</td><td>4</td><td>5</td></tr>
                                    <tr><td>средний дом</td><td>4</td><td>5</td></tr>
                                    <tr><td>большой дом</td><td>5</td><td>6</td></tr>
                                    <tr><td>особняк</td><td>5</td><td>6</td></tr>
                                    <tr><td>усадьба</td><td>6</td><td>7</td></tr>
                                    <tr><td>фазенда</td><td>6</td><td>7</td></tr>
                                    <tr><td>вилла</td><td>6</td><td>7</td></tr>
                                    <tr><td>дворец</td><td>7</td><td>8</td></tr>
                                </tbody>
                            </table>
                </span>
                    </div>
                </h3>
                <p style="display: inline-block;">
                    В этом доме может проживать пар: <strong th:text="${family.getHouse().getPairsNum()}"></strong> шт.<br/>
                    Позволяет поместить анкет в базу невест: <strong th:text="${family.getHouse().getFianceeNum()}"></strong> шт.
                </p>
                <p>
                    Среднее значение качества предметов в доме: <strong th:text="${family.getHouseQuality()}"></strong>
                <div class="my_tooltip">&nbsp;<span class="glyphicon glyphicon-question-sign" style="color: black;"></span>
                    <span class="my_tooltiptext">
                        Вероятность рождения 1,2...7 детей и надбавка к зп в зависимости от показателя среднего качества предметов в доме:
                        <table class="table table-sm">
                                <thead>
                                <tr><th>Показатель</th><th>1</th><th>2</th><th>3</th><th>4</th><th>5</th><th>6</th><th>7</th><th>Надбавка к ЗП</th></tr>
                                </thead>
                                <tbody>
                                    <tr>	<td>0</td>	<td>10%</td>	<td>40%</td>	<td>40%</td>	<td>10%</td>	<td>0%</td>	<td>0%</td>	<td>0%</td>	<td>0%</td>	</tr>
                                    <tr>	<td>1</td>	<td>0%</td>	<td>20%</td>	<td>50%</td>	<td>25%</td>	<td>5%</td>	<td>0%</td>	<td>0%</td>	<td>10%</td>	</tr>
                                    <tr>	<td>2</td>	<td>0%</td>	<td>5%</td>	<td>25%</td>	<td>50%</td>	<td>15%</td>	<td>5%</td>	<td>0%</td>	<td>20%</td>	</tr>
                                    <tr>	<td>3</td>	<td>0%</td>	<td>0%</td>	<td>10%</td>	<td>30%</td>	<td>50%</td>	<td>10%</td>	<td>0%</td>	<td>30%</td>	</tr>
                                    <tr>	<td>4</td>	<td>0%</td>	<td>0%</td>	<td>0%</td>	<td>10%</td>	<td>30%</td>	<td>50%</td>	<td>10%</td>	<td>40%</td>	</tr>
                                    <tr>	<td>5</td>	<td>0%</td>	<td>0%</td>	<td>0%</td>	<td>0%</td>	<td>20%</td>	<td>30%</td>	<td>50%</td>	<td>50%</td>	</tr>
                                </tbody>
                            </table>
                </span>
                </div>
                </p>
            </div>

            <th:block th:if="${nextHouse != null}">
                <div class="col-md-6">
                    <h3>Покупка нового дома</h3>
                    <form action="#" th:action="@{/game/buyNewHouse}" class="form-inline" method="post">
                        <div class="form-group">
                            <label th:text="${#strings.capitalize(nextHouse.getName())}">Название следующего дома</label>
                            <button type="submit" th:disabled="${family.getMoney() lt nextHouse.getCost() or not houseIsFull}" class="btn btn-default"
                                    th:text="${'Купить: ' + nextHouse.getCost() + ' д.'}">Купить
                            </button>
                            <br/>
                            <span th:if="${not houseIsFull}" style="color:dimgrey">Вы сможете купить новый дом, когда все доступные вещи будут установлены.</span>
                        </div>
                    </form>
                </div>
            </th:block>
        </div>
    </div>
    <div align="center">
        <ul class="list-inline">
            <!--/*@thymesVar id="room" type="dyn.model.Room"*/-->
            <li>
                <div class="my_tooltip"><span class="glyphicon glyphicon-question-sign" style="color: black;"></span>
                    <span class="my_tooltiptext">Если установлены все вещи в комнате, то возле названия комнаты появится зеленая галочка. <br/>
                                Вы можете кликнуть на кнопку "Табличный вид интерьера", чтобы наглядно видеть, какая вещь не установлена.<br/>
                                Особенное внимание стоит уделить <strong>стенам</strong> (уютный домик). Они на картинке не кликабельны, но присутствуют в табличном виде.
                            </span>
                </div>
            </li>
            <li th:each="room : ${roomList}">
                <a th:href="${'/game/house#room'+room.getId()}" th:text="${room.getName()}">Home</a>
            </li>
        </ul>
    </div>

    <!--/*@thymesVar id="roomView" type="dyn.model.RoomView"*/-->
    <th:block th:each="roomView : ${roomViewList}">
        <div th:replace="fragments/roomView :: room-view (roomView=${roomView})"></div>
    </th:block>


</div>

<!-- Modal -->
<div id="roomThing" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!--/*@thymesVar id="roomThingWithItems" type="dyn.model.RoomThingWithItems"*/-->
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="thingName">
                </h4>
            </div>
            <div class="modal-body">
                <p>Доступные действия:</p>
                <a id="formCraftKnownThing" href="#">Создать вещь</a>
                <form id="formUnsetItem" th:action="@{/game/unsetItem}" method="post" class="form-inline" style="margin-top: 5px;">
                    <label>Установленная вещь:</label>
                    <span id="curItemName"></span>
                    <input type="hidden" name="itemId" id="curItemId" value=""/>
                    <button type="submit" id="curItemUnsetButton" class="btn btn-warning">Убрать</button>
                </form>
                <form id="formSetItemToThing" th:action="@{/game/setItemToThing}" method="post" class="form-inline" style="margin-top: 5px;">
                    <label>Установить вещь:</label>
                    <input type="hidden" name="roomThingId" id="roomThingId" value=""/>
                    <div class="form-group">
                        <select class="form-control" id="selectAvItems" name="itemId">
                            <option value="0">0</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success">Выбрать</button>
                </form>
                <form th:action="@{/game/chooseItemToBuy}" method="get" class="form-inline" style="margin-top: 5px;">
                    <label>Приобрести вещь на маркете:</label>
                    <input type="hidden" name="thingId" id="thingId" value=""/>
                    <button type="submit" class="btn btn-info">Купить</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<th:block th:replace="fragments/scripts :: webjars"></th:block>

<script>
    //<![CDATA[
    function roomViewPassDataToHouse(thingId, thingName, roomThingId, isKnownThing, curItemId, curItemName, availableItemNames, availableItemIds) {
        $(".modal-header #thingName").text(thingName);
        $(".modal-body #thingId").val(thingId);
        $(".modal-body #roomThingId").val(roomThingId);
        $(".modal-body #isKnownThing").text(isKnownThing);
        $(".modal-body #curItemId").val(curItemId);
        $(".modal-body #curItemName").text(curItemName);
        $(".modal-body #availableItemNames").text(availableItemNames);
        $(".modal-body #availableItemIds").text(availableItemIds);


        if (curItemId == '0') {
            document.getElementById("formUnsetItem").style.display = "none";
        } else {
            document.getElementById("formUnsetItem").style.display = "block";
        }

        var select = document.getElementById("selectAvItems");
        var i;
        for (i = select.options.length - 1; i >= 0; i--) {
            select.remove(i);
        }
        if (availableItemIds.length > 0) {
            for (var i = 0; i < availableItemNames.length; i++) {
                var opt = document.createElement('option');
                opt.innerHTML = availableItemNames[i];
                opt.value = availableItemIds[i];
                select.appendChild(opt);
            }
            document.getElementById("formSetItemToThing").style.display = "block";
        } else {
            document.getElementById("formSetItemToThing").style.display = "none";
        }
        if (isKnownThing) {
            document.getElementById("formCraftKnownThing").style.display = "block"; //th:href="${'/game/chooseProject?thingId='+roomThingWithItems.getRoomThing().getThing().getId()}"
            document.getElementById("formCraftKnownThing").href = "/game/chooseProject?thingId=" + thingId;
        } else {
            document.getElementById("formCraftKnownThing").style.display = "none";
        }
    }
    //]]>
</script>
<!--<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>-->
</body>
</html>