<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Расы</title>
    <th:block th:replace="fragments/custom :: headLinks"></th:block>
</head>
<body>
<div th:replace="fragments/navigation :: nav-for-game"></div>
<div class="container">
    <!--/*@thymesVar id="family" type="dyn.model.Family"*/-->
    <h3>Расы и их отличительные черты </h3>
    <p>
        Каждая раса обладает набором отличительных черт, обычных или генно-модифицированных (ГМ) (то есть, генно отличных от человека). Если черты не указаны, например, в столбце Нос пусто, это означает, что черта может быть любой обычной.<br/>
        Такие расы как Жгучая Африка, Загадочный Восток и Краснолицые не обладают ГМ-чертами. Остальные расы обладают и считаются высшими расами.<br/>
        Персонаж иной расы, чем Человек, приносит своей семье дополнительно
        <th:block th:text="${@const.RACE_RESOURCE_COEFFICIENT}"></th:block>
        шт. ресурса за ход (какой ресурс указано в последнем столбце таблицы).
    </p>
    <span class="glyphicon glyphicon-info-sign" style="color: darkgrey;"></span> Нажмите на заголовок столбца для сортировки.
    <table id="raceTable" class="table table-striped table-condensed">
        <thead>
        <tr>
            <th onclick="sortTable(0)">Раса</th>
            <th onclick="sortTable(1)" th:text="#{app.skin_color}"></th>
            <th onclick="sortTable(2)" th:text="#{app.height}"></th>
            <th onclick="sortTable(3)" th:text="#{app.body}"></th>
            <th onclick="sortTable(4)" th:text="#{app.head}"></th>
            <th onclick="sortTable(5)" th:text="#{app.ears}"></th>
            <th onclick="sortTable(6)" th:text="#{app.eyebrows}"></th>
            <th onclick="sortTable(7)" th:text="#{app.eyes}"></th>
            <th onclick="sortTable(8)" th:text="#{app.eye_color}"></th>
            <th onclick="sortTable(9)" th:text="#{app.nose}"></th>
            <th onclick="sortTable(10)" th:text="#{app.mouth}"></th>
            <th onclick="sortTable(11)" th:text="#{app.hair_type}"></th>
            <th onclick="sortTable(12)" th:text="#{app.hair_color}"></th>
            <th onclick="sortTable(13)">Ресурс</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="race : ${raceList}" style="font-size: 10px;">
            <!--/*@thymesVar id="race" type="dyn.model.Race"*/-->
            <td><Strong>
                <th:block th:text="${race.getName()}"></th:block>
            </Strong></td>
            <th:block th:object="${race.getSummary()}">
                <td>
                    <th:block th:each="skinColor : *{getSkinColorList()}">&bull;&nbsp;<span th:text="${skinColor.getTitle()}" th:styleappend="${skinColor.isRare()?'color: DarkOrchid;':''}"></span><br/></th:block>
                </td>
                <td>
                    <th:block th:each="height : *{getHeightList()}">&bull;&nbsp;<span th:text="${height.getTitle()}" th:styleappend="${height.isRare()?'color: DarkOrchid;':''}"></span><br/></th:block>
                </td>
                <td>
                    <th:block th:each="body : *{getBodyList()}">&bull;&nbsp;<span th:text="${body.getTitle()}" th:styleappend="${body.isRare()?'color: DarkOrchid;':''}"></span><br/></th:block>
                </td>
                <td>
                    <th:block th:each="head : *{getHeadList()}">&bull;&nbsp;<span th:text="${head.getTitle()}" th:styleappend="${head.isRare()?'color: DarkOrchid;':''}"></span><br/></th:block>
                </td>
                <td>
                    <th:block th:each="ears : *{getEarsList()}">&bull;&nbsp;<span th:text="${ears.getTitle()}" th:styleappend="${ears.isRare()?'color: DarkOrchid;':''}"></span><br/></th:block>
                </td>
                <td>
                    <th:block th:each="eyebrows : *{getEyebrowsList()}">&bull;&nbsp;<span th:text="${eyebrows.getTitle()}" th:styleappend="${eyebrows.isRare()?'color: DarkOrchid;':''}"></span><br/></th:block>
                </td>
                <td>
                    <th:block th:each="eyes : *{getEyesList()}">&bull;&nbsp;<span th:text="${eyes.getTitle()}" th:styleappend="${eyes.isRare()?'color: DarkOrchid;':''}"></span><br/></th:block>
                </td>
                <td>
                    <th:block th:each="eyeColor : *{getEyeColorList()}">&bull;&nbsp;<span th:text="${eyeColor.getTitle()}" th:styleappend="${eyeColor.isRare()?'color: DarkOrchid;':''}"></span><br/></th:block>
                </td>
                <td>
                    <th:block th:each="nose : *{getNoseList()}">&bull;&nbsp;<span th:text="${nose.getTitle()}" th:styleappend="${nose.isRare()?'color: DarkOrchid;':''}"></span><br/></th:block>
                </td>
                <td>
                    <th:block th:each="mouth : *{getMouthList()}">&bull;&nbsp;<span th:text="${mouth.getTitle()}" th:styleappend="${mouth.isRare()?'color: DarkOrchid;':''}"></span><br/></th:block>
                </td>
                <td>
                    <th:block th:each="hairType : *{getHairTypeList()}">&bull;&nbsp;<span th:text="${hairType.getTitle()}" th:styleappend="${hairType.isRare()?'color: DarkOrchid;':''}"></span><br/></th:block>
                </td>
                <td>
                    <th:block th:each="hairColor : *{getHairColorList()}">&bull;&nbsp;<span th:text="${hairColor.getTitle()}" th:styleappend="${hairColor.isRare()?'color: DarkOrchid;':''}"></span><br/></th:block>
                </td>
                <!--<td><ul><li th:each="skinColor : *{getSkinColorList()}" th:text="${skinColor.getTitle()}" style=""></li></ul></td>
                <td><ul><li th:each="height : *{getHeightList()}" th:text="${height.getTitle()}"></li></ul></td>
                <td><ul><li th:each="body : *{getBodyList()}" th:text="${body.getTitle()}"></li></ul></td>
                <td><ul><li th:each="head : *{getHeadList()}" th:text="${head.getTitle()}"></li></ul></td>
                <td><ul><li th:each="ears : *{getEarsList()}" th:text="${ears.getTitle()}"></li></ul></td>
                <td><ul><li th:each="eyebrows : *{getEyebrowsList()}" th:text="${eyebrows.getTitle()}"></li></ul></td>
                <td><ul><li th:each="eyes : *{getEyesList()}" th:text="${eyes.getTitle()}"></li></ul></td>
                <td><ul><li th:each="eyeColor : *{getEyeColorList()}" th:text="${eyeColor.getTitle()}"></li></ul></td>
                <td><ul><li th:each="nose : *{getNoseList()}" th:text="${nose.getTitle()}"></li></ul></td>
                <td><ul><li th:each="mouth : *{getMouthList()}" th:text="${mouth.getTitle()}"></li></ul></td>
                <td><ul><li th:each="hairType : *{getHairTypeList()}" th:text="${hairType.getTitle()}"></li></ul></td>
                <td><ul><li th:each="hairColor : *{getHairColorList()}" th:text="${hairColor.getTitle()}"></li></ul></td>-->
                <td th:utext="${race.resString()}"></td>
            </th:block>
        </tr>
        </tbody>
    </table>
</div>
<script>
    //<![CDATA[
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("raceTable");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc";
        /*Make a loop that will continue until
         no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.getElementsByTagName("TR");
            /*Loop through all table rows (except the
             first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
                //start by saying there should be no switching:
                shouldSwitch = false;
                /*Get the two elements you want to compare,
                 one from current row and one from the next:*/
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /*check if the two rows should switch place,
                 based on the direction, asc or desc:*/
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /*If a switch has been marked, make the switch
                 and mark that a switch has been done:*/
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                //Each time a switch is done, increase this count by 1:
                switchcount++;
            } else {
                /*If no switching has been done AND the direction is "asc",
                 set the direction to "desc" and run the while loop again.*/
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
    //]]>
</script>
<th:block th:replace="fragments/scripts :: webjars"></th:block>
</body>
</html>