<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Склад</title>
    <th:block th:replace="fragments/custom :: headLinks"></th:block>
</head>
<body>
<th:block th:replace="fragments/scripts :: counters"></th:block>
<div th:replace="fragments/navigation :: nav-for-game"></div>
<div class="container" style="min-width: 1140px;">
    <!--/*@thymesVar id="family" type="dyn.model.Family"*/-->
    <!--/*@thymesVar id="item" type="dyn.model.Item"*/-->
    <th:block th:if="${family.getLevel() == 0}">
        <div class="alert alert-success">
            Это ваш склад. Здесь хранятся все принадлежащие вам вещи. <br/>
            Есть также склад баффов и услуг. <br/>
            Любую вещь или бафф вы можете продать, выставив стоимость и нажав оранжевую кнопку. А нажав кнопку Маркет, вы сможете купить вещь такого типа (ее на маркете разместил другой игрок).<br/>
            В последнем разделе вы можете видеть, какие из ваших товаров и по какой цене выставлены сейчас на продажу<br/>
        </div>
    </th:block>
    <div class="well">
        <h3>Склад:</h3>
        <th:block th:if="${not #lists.isEmpty(itemsInStorage)}">
            <table class="table table-sm table-striped">
                <thead>
                <tr>
                    <th>Предмет</th>
                    <th>Вид</th>
                    <th>Качество</th>
                    <th>Изготовитель</th>
                    <th>Продать</th>
                    <th>Разобрать</th>
                    <th>Просмотреть маркет</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="item : ${itemsInStorage}">
                    <tr>
                        <td th:text="${item.getFullName()}"></td>
                        <td>
                            <th:block th:replace="fragments/custom :: project-view (project=${item.getProject()})"></th:block>
                        </td>
                        <td th:text="${item.getQuality()}"></td>
                        <td><a th:href="${'/game/userview?userId='+item.getAuthor().getUser().getUserid() +'&amp;familyId='+item.getAuthor().getId()}" th:text="${item.getAuthor().familyNameAndUserName()}"></a></td>
                        <td>
                            <form th:action="@{/game/putItemToStore}" method="post" class="form-inline">
                                <input type="hidden" name="itemId" th:value="${item.getId()}"/>
                                <input type="text" name="cost" th:value="${item.getProject().getCost()}+500" class="form-control input-sm" style="width: 60px;" data-toggle="tooltip" title="Стоимость"/>
                                <button type="submit" class="btn btn-sm btn-warning" data-toggle="tooltip" title="Выставить на продажу">
                                    <span class="glyphicon glyphicon glyphicon-log-out"></span>
                                </button>
                            </form>
                        </td>
                        <td>
                            <form th:action="@{/game/destroyItem}" method="post" class="form-inline" data-toggle="tooltip" th:title="${'Разобрать. Будут получены ресурсы: '+ item.getProject().resDestroyString()}">
                                <input type="hidden" name="itemId" th:value="${item.getId()}"/>
                                <button type="submit" class="btn btn-sm btn-danger">
                                    <span class="glyphicon glyphicon glyphicon-download-alt"></span>
                                </button>
                            </form>
                        </td>
                        <td>
                            <form th:action="@{/game/chooseItemToBuy}" method="get" class="form-inline">
                                <input type="hidden" name="thingId" th:value="${item.getProject().getThing().getId()}"/>
                                <button type="submit" class="btn btn-sm btn-success">Маркет</button>
                            </form>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </th:block>
        <th:block th:unless="${not #lists.isEmpty(itemsInStorage)}">
            <p>Нет вещей на складе</p>
        </th:block>
    </div>
    <div class="well">
        <h3>Склад услуг и баффов:</h3>

        <th:block th:each="item : ${newItemList}">
            <span th:text="${item.getProject().getName()}"></span><br/>
        </th:block>

        <th:block th:if="${not #lists.isEmpty(serviceAndBuffsInStorage)}">
            <table class="table table-sm table-striped">
                <thead>
                <tr>
                    <th>Предмет</th>
                    <th>Изготовитель</th>
                    <th>Продать</th>
                    <th>Просмотреть маркет</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="item : ${serviceAndBuffsInStorage}">
                    <tr>
                        <td>
                            <ul class="list-inline" style="margin-bottom: 0px;">
                                <li><span th:text="${item.getFullName()}"></span></li>
                                <th:block th:switch="${item.getProject().getThing().getId()}">
                                    <!--Сертификат на ресурсы 10 шт.-->
                                    <th:block th:case="117">
                                        <li>
                                            <form th:action="@{/game/applyItemResource}" method="post" class="form-inline">
                                                <input type="hidden" name="itemId" th:value="${item.getId()}"/>
                                                <button type="submit" class="btn btn-sm btn-success" data-toggle="tooltip" title="Применить">
                                                    <span class="glyphicon glyphicon glyphicon glyphicon-share-alt"></span>
                                                </button>
                                            </form>
                                        </li>
                                    </th:block>
                                </th:block>
                            </ul>
                        </td>
                        <td>
                            <a th:href="${'/game/userview?userId='+item.getAuthor().getUser().getUserid() +'&amp;familyId='+item.getAuthor().getId()}" th:text="${item.getAuthor().familyNameAndUserName()}"></a>

                        </td>

                        <td>
                            <form th:action="@{/game/putItemToStore}" method="post" class="form-inline">
                                <input type="hidden" name="itemId" th:value="${item.getId()}"/>
                                <input type="text" name="cost" th:value="${item.getProject().getCost()}+500" class="form-control input-sm" style="width: 60px;" data-toggle="tooltip" title="Стоимость"/>
                                <button type="submit" class="btn btn-sm btn-warning" data-toggle="tooltip" title="Выставить на продажу">
                                    <span class="glyphicon glyphicon glyphicon-log-out"></span>
                                </button>
                            </form>

                        </td>
                        <td>
                            <form th:action="@{/game/chooseProductionToBuy}" method="get" class="form-inline">
                                <input type="hidden" name="projectId" th:value="${item.getProject().getId()}"/>
                                <button type="submit" class="btn btn-sm btn-success">Маркет</button>
                            </form>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </th:block>
        <th:block th:unless="${not #lists.isEmpty(serviceAndBuffsInStorage)}">
            <p>Нет вещей на складе</p>
        </th:block>
    </div>
    <div class="well">
        <h3>Выставлены на продажу:</h3>
        <th:block th:if="${not #lists.isEmpty(itemsInStore)}">
            <table class="table table-sm table-striped">
                <thead>
                <tr>
                    <th>Предмет</th>
                    <th>Вид</th>
                    <th>Качество</th>
                    <th>Изготовитель</th>
                    <th>Цена</th>
                    <th>Вернуть</th>
                    <th>Маркет</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="item : ${itemsInStore}">
                    <tr>
                        <td th:text="${item.getFullName()}"></td>
                        <td>
                            <th:block th:replace="fragments/custom :: project-view (project=${item.getProject()})"></th:block>
                        </td>
                        <td th:text="${item.getQuality()}"></td>
                        <td>
                            <a th:href="${'/game/userview?userId='+item.getAuthor().getUser().getUserid() +'&amp;familyId='+item.getAuthor().getId()}" th:text="${item.getAuthor().familyNameAndUserName()}"></a>
                        </td>
                        <td th:text="${item.getCost()+' д.'}"></td>
                        <td>
                            <form th:action="@{/game/unsetItem}" method="post" class="form-inline">
                                <input type="hidden" name="itemId" th:value="${item.getId()}"/>
                                <button type="submit" class="btn btn-sm btn-warning" data-toggle="tooltip" title="Вернуть на склад"><span class="glyphicon glyphicon glyphicon-log-in"></span></button>
                            </form>

                        </td>
                        <td>
                            <form th:action="@{/game/chooseItemToBuy}" method="get" class="form-inline">
                                <input type="hidden" name="thingId" th:value="${item.getProject().getThing().getId()}"/>
                                <button type="submit" class="btn btn-sm btn-success">Маркет</button>
                            </form>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </th:block>
        <th:block th:unless="${not #lists.isEmpty(itemsInStore)}">
            <p>Нет выставленных на продажу вещей</p>
        </th:block>
    </div>
</div>
<th:block th:replace="fragments/scripts :: webjars"></th:block>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
</body>
</html>