<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Город</title>
    <th:block th:replace="fragments/custom :: headLinks"></th:block>
</head>
<body>
<th:block th:replace="fragments/scripts :: counters"></th:block>
<div th:replace="fragments/navigation :: nav-for-game"></div>
<div class="container">
    <!--/*@thymesVar id="family" type="dyn.model.Family"*/-->
    <th:block th:if="${family.getLevel() == 0}">
        <div class="alert alert-success">
            В городе вы можете посетить парк отдыха для увеличения плодовитости одного из ваших персонажей или снять жилье для создания еще одной пары. По сути маркет баффов и услуг.<br/>
            Вы можете приобрести любое из зданий, тогда производство услуг или баффов станет хорошим
            источником дохода. <br/>
        </div>
    </th:block>
    <h3>Город
        <div class="my_tooltip"><span class="glyphicon glyphicon-question-sign" style="color: lightslategray;"></span>
            <span class="my_tooltiptext"><th:block th:replace="game/help :: buffs_table"></th:block></span>
        </div>
    </h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Продукция (бафф)</th>
            <th>Купить продукцию</th>
            <th>Приобрести здание</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="building : ${buildingList}">
            <!--/*@thymesVar id="building" type="dyn.model.House"*/-->
            <td th:text="${building.getName()}">name</td>
            <td th:text="${building.getDesc()}">desc</td>
            <td th:text="${building.getProduction().getName()}">desc</td>
            <td>
                <th:block th:if="${building.getProduction() ne null}">
                    <form th:action="@{/game/chooseProductionToBuy}" method="get" class="form-inline">
                        <input type="hidden" name="projectId" th:value="${building.getProduction().getId()}"/>
                        <button type="submit" class="btn btn-success">Посетить</button>
                    </form>
                </th:block>
            </td>
            <td>
                <th:block th:if="${not #lists.contains(familyBuildingList,building)}">
                    <form th:action="@{/game/buyBuilding}" method="post" class="form-inline">
                        <input type="hidden" name="buildingId" th:value="${building.getId()}"/>
                        <button type="submit" class="btn btn-info" th:text="${'Купить: ' + building.getCost() + ' д.'}" th:disabled="${family.getMoney() lt building.getCost()}">Купить</button>
                    </form>
                </th:block>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<th:block th:replace="fragments/scripts :: webjars"></th:block>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
</body>
</html>