<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Город</title>
    <th:block th:replace="fragments/custom :: headLinks"></th:block>
</head>
<body>
<th:block th:replace="fragments/scripts :: counters"></th:block>
<div th:replace="fragments/navigation :: nav-for-game"></div>
<div style="width: 1240px; margin-left: auto; margin-right: auto; ">
    <!--/*@thymesVar id="family" type="dyn.model.Family"*/-->
    <th:block th:if="${family.getLevel() == 0}">
        <div class="alert alert-success">
            В городе вы можете посетить парк отдыха для увеличения плодовитости одного из ваших персонажей или снять жилье для создания еще одной пары. По сути маркет баффов и услуг.<br/>
            Вы можете приобрести любое из зданий, тогда производство услуг или баффов станет хорошим
            источником дохода. <br/>
        </div>
    </th:block>


    <div style=" width: 670px; font-size: 12px; display: inline-block; vertical-align: top; " align="center">
        <h3>Город</h3>
        <p>Подробнее о баффах можно прочитать в справке <a href="/game/help#4">здесь</a>.</p>
        <div align="center" th:each="building : ${buildingList}" style="display: inline-block; vertical-align: top; border: solid 1px darkseagreen; border-radius: 4px; margin: 3px; padding: 3px;">
            <div style="width: 150px; height: 165px; " th:title="${building.getDesc()}">
                <div align="center" style="vertical-align: text-top; height: 30px; "><strong th:text="${building.getName()}"></strong></div>
                <img th:src="${'/graphics/town/town'+building.getId()+'.png' }" width="100"/>
                <div style="vertical-align: text-top; height: 35px; " th:text="${building.getProduction().getName()}">desc</div>

            </div>
            <div>
                <form th:action="@{/game/chooseProductionToBuy}" method="get" style="display: inline-block;">
                    <input type="hidden" name="projectId" th:value="${building.getProduction().getId()}"/>
                    <button type="submit" class="btn btn-success btn-xs" style="width: 70px;">
                        <span class="glyphicon glyphicon-shopping-cart" title="Маркет"></span>
                    </button>
                </form>

            </div>
        </div>

        <h3>Создание бизнеса</h3>
        <p>Вы можете приобрести здание для развития бизнеса. Затем вам потребуется установить оборудование и мебель (как в жилом доме). Только потом вы сможете производить баффы и продавать на маркете.</p>
        <button data-toggle="collapse" th:attr="data-target='#buildings_table'" class="btn btn-default">
            Раскрыть таблицу зданий для бизнеса <span class="glyphicon glyphicon-menu-down"></span>
        </button>
        <div id="buildings_table" class="collapse">
            <table class="table table-striped table-condensed">
                <thead>
                <tr>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Продукция (бафф)</th>
                    <th>Приобрести здание</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="building : ${buildingList}">
                    <!--/*@thymesVar id="building" type="dyn.model.House"*/-->
                    <tr th:if="${not #lists.contains(familyBuildingList,building)}">
                        <td th:text="${building.getName()}">name</td>
                        <td th:text="${building.getDesc()}">desc</td>
                        <td th:text="${building.getProduction().getName()}">desc</td>
                        <td>
                            <form th:action="@{/game/buyBuilding}" method="post" class="form-inline">
                                <input type="hidden" name="buildingId" th:value="${building.getId()}"/>
                                <button type="submit" class="btn btn-info" th:text="${'Купить: ' + building.getCost() + ' д.'}" th:disabled="${family.getMoney() lt building.getCost()}">Купить</button>
                            </form>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>

    <div style="width: 560px; font-size: 12px; display: inline-block; vertical-align: top; " align="center">
        <th:block th:unless="${itemRequests.totalPages==0}">
            <h3>Заявки на предметы</h3>
            <div style="width: 500px;">
                <table class="table table-striped table-condensed" style="margin-bottom: 5px;">
                    <thead>
                    <tr>
                        <th>Дата</th>
                        <th>Семья</th>
                        <th>Предмет</th>
                        <th>Проект</th>
                        <th>Качество</th>
                        <th>Сумма</th>
                        <th>Предоставить</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="itemRequest : ${itemRequests}">
                        <!--/*@thymesVar id="itemRequest" type="dyn.model.ItemRequest"*/-->
                        <tr>
                            <td th:text="${itemRequest.formattedDate()}">name</td>
                            <td th:utext="${itemRequest.getFamily().link()}">desc</td>
                            <td th:utext="${itemRequest.getThing().link()}">desc</td>
                            <td th:text="${itemRequest.getProject() == null?'любой':itemRequest.getProject().getName()}">desc</td>
                            <td th:text="${itemRequest.getMinQuality() == 0?'любая':'не ниже '+itemRequest.getMinQuality()}">desc</td>
                            <td th:text="${itemRequest.getDeposit()}">name</td>
                            <td th:with="itemToFulfillItemRequest = ${family.itemToFulfillItemRequest(itemRequest)}">
                                <form th:action="@{/game/fulfillItemRequest}" method="post" class="form-inline">
                                    <input type="hidden" name="itemRequestId" th:value="${itemRequest.getId()}"/>
                                    <button type="submit" class="btn btn-xs btn-warning"
                                            th:disabled="${itemToFulfillItemRequest==null}"
                                            th:title="${itemToFulfillItemRequest==null?'На складе нет подходящего под условия заявки предмета.':'Внимание! Будет отдан первый попавшийся под условия заявки предмет!'}">
                                        Выполнить
                                    </button>
                                </form>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
                <div class="row" style="margin: 0px;">
                    <div th:if="${itemRequests.totalPages != 1}" class="form-group col-sm-11 pagination-centered">
                        <ul class="pagination" style="margin: 0px;">
                            <li th:unless="${itemRequests.number == 0}">
                                <a class="pageLink" th:href="@{/game/town(itemRequests_page=0)}"><span class="glyphicon glyphicon-fast-backward" style="color: #333;"></span></a>
                            </li>
                            <li th:unless="${itemRequests.number == 0}">
                                <a class="pageLink" th:href="@{/game/town(itemRequests_page=${itemRequests.number - 1})}"><span class="glyphicon glyphicon-chevron-left" style="color: #333;"></span></a>
                            </li>
                            <li>
                                <a th:text="${itemRequests.number+'/'+itemRequests.totalPages}" style="color: #333;"></a>
                            </li>
                            <li th:unless="${itemRequests.number + 1 >= itemRequests.totalPages}">
                                <a class="pageLink" th:href="@{/game/town(itemRequests_page=${itemRequests.number + 1})}"><span class="glyphicon glyphicon-chevron-right" style="color: #333;"></span></a>
                            </li>
                            <li th:unless="${itemRequests.number + 1 >= itemRequests.totalPages}">
                                <a class="pageLink" th:href="@{/game/town(itemRequests_page=${itemRequests.totalPages})}"><span class="glyphicon glyphicon-fast-forward" style="color: #333;"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </th:block>

        <h3>Новости города</h3>
        <div style="width: 500px;">
            <table class="table table-striped table-condensed" style="margin-bottom: 5px;">
                <thead>
                <tr>
                    <th>Дата</th>
                    <th>Новость</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="newsItem : ${news}">
                    <!--/*@thymesVar id="newsItem" type="dyn.model.TownNews"*/-->
                    <tr>
                        <td th:text="${newsItem.formattedDate()}" style="width: 24%;">name</td>
                        <td th:utext="${newsItem.getText()}" style="width: 76%;">desc</td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <div class="row" style="margin: 0px;">
                <div th:if="${news.totalPages != 1}" class="form-group col-sm-11 pagination-centered">
                    <ul class="pagination" style="margin: 0px;">
                        <li th:unless="${news.number == 0}">
                            <a class="pageLink" th:href="@{/game/town(townNews_page=0)}"><span class="glyphicon glyphicon-fast-backward" style="color: #333;"></span></a>
                        </li>
                        <li th:unless="${news.number == 0}">
                            <a class="pageLink" th:href="@{/game/town(townNews_page=${news.number - 1})}"><span class="glyphicon glyphicon-chevron-left" style="color: #333;"></span></a>
                        </li>
                        <li>
                            <a th:text="${news.number+'/'+news.totalPages}" style="color: #333;"></a>
                        </li>
                        <li th:unless="${news.number + 1 >= news.totalPages}">
                            <a class="pageLink" th:href="@{/game/town(townNews_page=${news.number + 1})}"><span class="glyphicon glyphicon-chevron-right" style="color: #333;"></span></a>
                        </li>
                        <li th:unless="${news.number + 1 >= news.totalPages}">
                            <a class="pageLink" th:href="@{/game/town(townNews_page=${news.totalPages})}"><span class="glyphicon glyphicon-fast-forward" style="color: #333;"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <h3>Рейтинг</h3>
        <div style="width: 300px;">
            <div class="w3-bar ">
                <a onclick="openCity('achiev')" style="cursor: pointer;">Достижения</a>
                <a onclick="openCity('money')" style="cursor: pointer;">Деньги</a>
            </div>
            <div id="achiev" class="rating">
                <h4>по количеству достижений</h4>
                <table class="table table-condensed">
                    <th:block th:each="mapEntry, mStat : ${acievementRatingMap}" th:with="user = ${mapEntry.getKey()}, count = ${mapEntry.getValue()}">
                        <tr th:class="${mStat.count==1?'success':''}">
                            <!--/*@thymesVar id="user" type="dyn.model.User"*/-->
                            <td>
                                <th:block th:utext="${user.link()}"></th:block>
                            </td>
                            <td>
                                <th:block th:text="${count}"></th:block>
                                <div class="my_tooltip"><span class="glyphicon glyphicon-info-sign" style="color: darkgrey;"></span>
                                    <span class="my_tooltiptext" style="width: 300px;">
                                    <ul>
                                        <li th:each="achievement : ${user.getAchievements()}" th:text="${achievement.getName()}"></li>
                                    </ul>
                                </span>
                                </div>
                            </td>
                        </tr>
                    </th:block>
                </table>
            </div>
            <div id="money" class="rating" style="display:none">
                <h4>по количеству динов</h4>
                <table class="table table-condensed">
                    <th:block th:each="family,fstat : ${familyMoneyRating}">
                        <tr th:class="${fstat.count==1?'success':''}">
                            <!--/*@thymesVar id="user" type="dyn.model.User"*/-->
                            <td>
                                <th:block th:utext="${family.link()}"></th:block>
                            </td>
                        </tr>
                    </th:block>
                </table>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="fragments/scripts :: webjars"></th:block>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<script>
    /*<![CDATA[*/
    function openCity(cityName) {
        var i;
        var x = document.getElementsByClassName("rating");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        document.getElementById(cityName).style.display = "block";
    }
    /*]]>*/
</script>
</body>
</html>