<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Город</title>
    <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"></link>
    <link th:href="@{/css/common.css}" rel="stylesheet"></link>
</head>
<body>
<div th:replace="fragments/navigation :: nav-for-game"></div>
<div class="container">
    <!--/*@thymesVar id="family" type="dyn.model.Family"*/-->
    <th:block th:if="${family.getLevel() == 0}">
        <div class="alert alert-success">
            В городе вы можете посетить парк отдыха для увеличения плодовитости одного из ваших персонажей или снять жилье для создания еще одной пары. Вы можете приобрести любое из зданий, тогда производство услуг или баффов станет хорошим
            источником дохода. <br/>
        </div>
    </th:block>
    <h3>Город</h3>

    <p>
        Медицинское обеспечение: 50%
    <div class="my_tooltip">&nbsp;<span class="glyphicon glyphicon-question-sign"></span>
        <span class="my_tooltiptext">
                        Вероятность получить заболевание персонажем. Заболевания влияют на успешность в работе. Если ваш персонаж часто болеет, то и зарабатывает меньше. Уменьшить вероятность заболевания можно построив поликлинику и больницу<br/>
                    </span>
    </div>
    <br/>
    Криминальная обстановка: 50%
    <div class="my_tooltip">&nbsp;<span class="glyphicon glyphicon-question-sign"></span>
        <span class="my_tooltiptext">
                        Вероятность краж. Воры могут забрать вещи из дома или зданий. Уменьшить вероятность краж можно построив полицейский участок и здание прокуратуры.<br/>
                    </span>
    </div>
    <br/>
    Противопожарная безопасность: 50%
    <div class="my_tooltip">&nbsp;<span class="glyphicon glyphicon-question-sign"></span>
        <span class="my_tooltiptext">
                        Вероятность пожара в доме или здании. Если произойдет пожар, то все вещи в комнате пропадут. Уменьшить вероятность пожара можно построив пожарную станцию и здание МЧС<br/>
                    </span>
    </div>
    <br/>
    </p>
    <ul class="list-inline">
        <li>
            Городские здания
        </li>
        <li>
            Частные фирмы
        </li>
    </ul>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Имя</th>
            <th>Описание</th>
            <th>Купить продукцию</th>
            <th>Приобрести здание</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="building : ${buildingList}">
            <!--/*@thymesVar id="building" type="dyn.model.House"*/-->
            <td th:text="${building.getName()}">name</td>
            <td th:text="${building.getDesc()}">desc</td>
            <td>
                <th:block th:if="${building.getProduction() ne null}">
                    <form th:action="@{/game/chooseProductionToBuy}" method="post" class="form-inline">
                        <input type="hidden" name="projectId" th:value="${building.getProduction().getId()}"/>
                        <button type="submit" class="btn btn-default">Посетить</button>
                    </form>
                </th:block>
            </td>
            <td>
                <th:block th:if="${not #lists.contains(familyBuildingList,building)}">
                    <form th:action="@{/game/buyBuilding}" method="post" class="form-inline">
                        <input type="hidden" name="buildingId" th:value="${building.getId()}"/>
                        <button type="submit" class="btn btn-default" th:text="${'Купить: ' + building.getCost() + ' р.'}" th:disabled="${family.getMoney() lt building.getCost()}">Купить</button>
                    </form>
                </th:block>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<th:block th:replace="fragments/scripts :: webjars"></th:block>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
</body>
</html>