<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Игра</title>
    <th:block th:replace="fragments/custom :: headLinks"></th:block>
</head>
<body>
<th:block th:replace="fragments/scripts :: counters"></th:block>
<div th:replace="fragments/navigation :: nav-for-game"></div>
<div class="container" style="width: 1110px;">
    <!--/*@thymesVar id="player" type="dyn.model.User"*/-->
    <!--/*@thymesVar id="playerCurrentFamily" type="dyn.model.Family"*/-->
    <!--/*@thymesVar id="fathers" type="dyn.model.Map<java.lang.Character, List<dyn.model.Character>>"*/-->
    <!--/*@thymesVar id="achievements" type="Set<dyn.model.Achievement>"*/-->
    <!--/*@thymesVar id="roomList" type="List<dyn.model.Room>"*/-->
    <!--/*@thymesVar id="roomViewList" type="List<dyn.model.RoomView>"*/-->
    <!--/*@thymesVar id="buildingList" type="List<dyn.model.House>"*/-->
    <!--/*@thymesVar id="buildingMap" type="Map<dyn.model.House, List<dyn.model.RoomView>>"*/-->


    <div class="well" align="center">
        <h3 th:text="${player.getUserName()}"></h3>
        <table class="table table-sm" style="width: 400px;">

            <tbody>
            <tr>
                <th scope="row">Династия:</th>
                <td><span th:text="${playerCurrentFamily.getFamilyName()}"></span></td>
            </tr>
            <tr>
                <th scope="row">Уровень династии:</th>
                <td><span th:text="${playerCurrentFamily.getLevel()}"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div align="center">
        <ul class="list-inline">
            <!--/*@thymesVar id="room" type="dyn.model.Room"*/-->
            <li><a href="#families">Семьи</a></li>
            <li><a href="#achievs">Достижения</a></li>
            <li><a href="#curLevelCharacters">Персонажи текущего уровня</a></li>
            <li><a href="#house">Дом</a></li>
            <li><a href="#authorProjects">Авторские проекты</a></li>
            <li><a href="#business">Бизнес</a></li>
        </ul>
    </div>

    <div class="well" align="center">
        <a name="families" class="anchor"></a>
        <h3>Cемьи</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Фамилия</th>
                <th>Уровень</th>
                <th>Текущий выбор</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pFamily : ${playerFamilies}">
                <td th:utext="${pFamily.link()}">name</td>
                <td th:text="${pFamily.getLevel()}">1</td>
                <td>
                    <th:block th:if="${pFamily.isCurrent()}"><span class="glyphicon glyphicon-ok-sign" style="color: forestgreen"></span>
                    </th:block>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="well" align="center">
        <a name="achievs" class="anchor"></a>
        <h3>Достижения</h3>
        <th:block th:if="${not #lists.isEmpty(userAchievements)}">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Достижение</th>
                    <th>Семья</th>
                    <th>Когда получено</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="userAchievement : ${userAchievements}">
                    <!--/*@thymesVar id="userAchievement" type="dyn.model.UserAchievements"*/-->
                    <td th:text="${userAchievement.getAchievement().getName()}">name</td>
                    <td th:utext="${userAchievement.getFamily().link()}">name</td>
                    <td th:text="${userAchievement.getDate()}">name</td>
                </tr>
                </tbody>
            </table>
        </th:block>
        <th:block th:unless="${not #lists.isEmpty(userAchievements)}">
            <p>Нет достижений</p>
        </th:block>
    </div>

    <div class="well" align="center">
        <a name="curLevelCharacters" class="anchor"></a>
        <h3>Персонажи текущего уровня</h3>
        <th:block th:each="mapEntry : ${fathers}" th:with="father = ${mapEntry.getKey()}, childList = ${mapEntry.getValue()}">
            <!--/*@thymesVar id="father" type="dyn.model.Character"*/-->
            <div align="center">
                <div class="well" style="display: inline-block; padding: 5px;" th:styleappend="${father.getSpouse() != null?'background-color: #dff0d8; border: solid 1px mediumseagreen':''}">
                    <div style="display: inline-block;">
                        <th:block th:replace="fragments/char :: char-panel (character=${father})"></th:block>
                    </div>
                    <div style="display: inline-block;">
                        <th:block th:replace="fragments/char :: char-panel (character=${father.getSpouse()})"></th:block>
                    </div>
                </div>
                <br/>
                <th:block th:each="child : ${childList}">
                    <div class="well" style="display: inline-block; padding: 5px;" th:styleappend="${child.getSpouse() != null?'background-color: #dff0d8; border: solid 1px mediumseagreen':''}">
                        <!--/*@thymesVar id="child" type="dyn.model.Character"*/-->
                        <div style="display: inline-block;">
                            <th:block th:replace="fragments/char :: char-panel (character=${child})"></th:block>
                        </div>
                        <th:block th:if="${child.getSpouse() != null}" th:with="spouse=${child.getSpouse()}">
                            <div style="display: inline-block;">
                                <th:block th:replace="fragments/char :: char-panel (character=${spouse})"></th:block>
                            </div>
                        </th:block>
                    </div>
                </th:block>
            </div>
            <hr style="height: 1px; size: 2px; color: black;border-width: 4px;" size="2px"/>
        </th:block>


    </div>


    <div class="well" align="center">
        <a name="house" class="anchor"></a>
        <h3>Дом '<strong th:text="${#strings.capitalize(playerCurrentFamily.getHouse().getName())}"></strong>'</h3>
        <ul class="list-inline">
            <!--/*@thymesVar id="room" type="dyn.model.Room"*/-->
            <li th:each="room : ${roomList}">
                <a th:href="${'#room'+room.getId()}" th:text="${room.getName()}"></a>
            </li>
        </ul>
        <th:block th:each="roomView : ${roomViewList}">
            <!--/*@thymesVar id="roomView" type="dyn.model.RoomView"*/-->
            <a th:name="${'room'+roomView.getRoom().getId()}" class="anchor"></a>
            <label th:text="${#strings.toUpperCase(roomView.getRoom().getName())}"></label>
            <div th:replace="fragments/roomView :: room-map (roomView=${roomView})"></div>
        </th:block>
    </div>

    <div class="well" align="center">
        <a name="authorProjects" class="anchor"></a>
        <h3>Авторские проекты</h3>
        <th:block th:unless="${#lists.isEmpty(playerProjects)}">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Статус</th>
                    <th>Тип вещи</th>
                    <th>Название проекта</th>
                    <th>Изображение</th>
                    <th>Стоимость, дины</th>
                    <th>Ресурсы</th>
                    <th>Куплен, раз</th>
                    <th>Произведено вещей, шт</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="project : ${playerProjects}">
                    <th scope="row" th:text="${projectStat.count}">1</th>
                    <!--/*@thymesVar id="project" type="dyn.model.Project"*/-->
                    <td th:text="${project.getStatusWithMessage()}">Mark</td>
                    <td th:text="${project.getThing().getName()}">Mark</td>
                    <td th:text="${project.getName()}">Otto</td>
                    <td>
                        <th:block th:replace="fragments/custom :: project-view (project=${project})"></th:block>
                    </td>
                    <td th:text="${project.getCost()}">@mdo</td>
                    <td th:utext="${project.resString()}">@mdo</td>
                    <td th:text="${project.getPurchasedTimes()}"></td>
                    <td th:text="${project.getProducedTimes()}"></td>

                </tr>
                </tbody>
            </table>
        </th:block>
        <th:block th:if="${#lists.isEmpty(playerProjects)}">
            Нет проектов
        </th:block>

    </div>


    <div class="well" align="center">
        <a name="business" class="anchor"></a>
        <h3>Бизнес</h3>
        <ul class="list-inline">
            <!--/*@thymesVar id="buildingList" type="List<dyn.model.House>"*/-->
            <li th:each="building : ${buildingList}">
                <a th:href="${'#building'+building.getId()}" th:text="${building.getName()}"></a>
            </li>
        </ul>
        <th:block th:if="${#lists.size(buildingList) > 0}">
            <th:block th:each="mapEntry : ${buildingMap}" th:with="building = ${mapEntry.getKey()}, roomViewList = ${mapEntry.getValue()}">
                <a th:name="${'building'+building.getId()}" class="anchor"></a>
                <label th:text="${#strings.toUpperCase(building.getName())}">Здание</label>
                <th:block th:with="roomView = ${roomViewList.get(0)}">
                    <div th:replace="fragments/roomView :: room-map (roomView=${roomView})"></div>
                </th:block>
            </th:block>
        </th:block>
        <th:block th:unless="${#lists.size(buildingList) > 0}">
            Нет приобретенных зданий в городе
        </th:block>
    </div>
</div>
<th:block th:replace="fragments/scripts :: webjars"></th:block>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip({
            container: 'body'
        });
    });
</script>

<script>
    $('.dropdown-menu').find('form').click(function (e) {
        e.stopPropagation();
    });
</script>
</body>
</html>