<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Призвание</title>
    <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"></link>
</head>
<body>
<div th:replace="fragments/navigation :: nav-for-game"></div>
<div class="container">
    <!--/*@thymesVar id="family" type="dyn.model.Family"*/-->
    <!--/*@thymesVar id="vocation" type="dyn.model.career.Vocation"*/-->
    <h3 th:text="${'Призвание: '+ vocation.getName()}"></h3>
    <p>Ресурсы, которые призвание приносит персонажу. Количество ресурсов умножается на уровень его професии. </p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Продукты</th>
            <th>Дерево</th>
            <th>Металл</th>
            <th>Пластик, резина</th>
            <th>Микроэлектроника</th>
            <th>Ткань, кожа, бумага</th>
            <th>Камень, стекло, керамика</th>
            <th>Химия, краски</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <!--/*@thymesVar id="profession" type="dyn.model.career.Profession"*/-->
            <td th:text="${vocation.getFood()}"></td>
            <td th:text="${vocation.getWood()}"></td>
            <td th:text="${vocation.getMetall()}"></td>
            <td th:text="${vocation.getPlastic()}"></td>
            <td th:text="${vocation.getMicroelectronics()}"></td>
            <td th:text="${vocation.getCloth()}"></td>
            <td th:text="${vocation.getStone()}"></td>
            <td th:text="${vocation.getChemical()}"></td>
        </tr>
        </tbody>
    </table>
    <p>В таблице указаны профессии, которые может приобрести персонаж за ход. Указаны требования к образованию и необходимые показатели навыков.</p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Уровень</th>
            <th>Профессия</th>
            <th>Зарплата</th>
            <th>Образование</th>
            <th>Интеллект</th>
            <th>Харизма</th>
            <th>Сила</th>
            <th>Творчество</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="profession : ${vocation.getProfessionList()}">
            <!--/*@thymesVar id="profession" type="dyn.model.career.Profession"*/-->
            <td th:text="${profession.getLevel()}">level</td>
            <td th:text="${profession.getName()}">name</td>
            <td th:text="${vocation.getStartSalary() * profession.getLevel()}">salary</td>
            <td th:text="${profession.getEducation().getName()}">education</td>
            <td th:text="${profession.getIntelligence()}"></td>
            <td th:text="${profession.getCharisma()}"></td>
            <td th:text="${profession.getStrength()}"></td>
            <td th:text="${profession.getCreativity()}"></td>
        </tr>
        </tbody>
    </table>
</div>
<script th:src="@{/webjars/jquery/1.9.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
</body>
</html>