<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Призвание</title>
    <th:block th:replace="fragments/custom :: headLinks"></th:block>
</head>
<body>
<th:block th:replace="fragments/scripts :: counters"></th:block>
<div th:replace="fragments/navigation :: nav-for-game"></div>
<div class="container">
    <!--/*@thymesVar id="family" type="dyn.model.Family"*/-->
    <!--/*@thymesVar id="vocation" type="dyn.model.career.Vocation"*/-->
    <h3>
        Призвание:
        <th:block th:text="${vocation.getName()}"></th:block>
        <img th:src="@{'/graphics/vocation/vocations_'+${vocation.getId()}+'.png' }" height="35px" width="35px" style="border-radius:4px; background-color: #337ab7;">
        </img>
    </h3>
    <p>Ресурсы, которые призвание приносит персонажу. Количество ресурсов умножается на уровень его професии. </p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Продукты</th>
            <th>Дерево</th>
            <th>Металл</th>
            <th>Пластик, резина</th>
            <th>Микроэлектроника</th>
            <th>Ткань, кожа, бумага</th>
            <th>Камень, стекло, керамика</th>
            <th>Химия, краски</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <!--/*@thymesVar id="profession" type="dyn.model.career.Profession"*/-->
            <td th:text="${vocation.getFood()}"></td>
            <td th:text="${vocation.getWood()}"></td>
            <td th:text="${vocation.getMetall()}"></td>
            <td th:text="${vocation.getPlastic()}"></td>
            <td th:text="${vocation.getMicroelectronics()}"></td>
            <td th:text="${vocation.getCloth()}"></td>
            <td th:text="${vocation.getStone()}"></td>
            <td th:text="${vocation.getChemical()}"></td>
        </tr>
        </tbody>
    </table>
    <p>В таблице указаны профессии, которые может приобрести персонаж за ход. Указаны необходимые показатели навыков.</p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Уровень</th>
            <th>Профессия</th>
            <th>Зарплата</th>
            <th>Интеллект</th>
            <th>Харизма</th>
            <th>Сила</th>
            <th>Творчество</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="profession : ${vocation.getProfessionList()}">
            <!--/*@thymesVar id="profession" type="dyn.model.career.Profession"*/-->
            <td th:text="${profession.getLevel()}">level</td>
            <td th:text="${profession.getName()}">name</td>
            <td th:text="${vocation.getStartSalary() * profession.getLevel()}">salary</td>
            <td th:text="${profession.getIntelligence()}"></td>
            <td th:text="${profession.getCharisma()}"></td>
            <td th:text="${profession.getStrength()}"></td>
            <td th:text="${profession.getCreativity()}"></td>
        </tr>
        </tbody>
    </table>
    <h3>Все призвания</h3>
    <table id="vocationTable" class="table table-striped">
        <thead>
        <tr>

            <th></th>
            <th onclick="sortTable(1)" class="sortColumn">Название</th>
            <th onclick="sortTable(2)" class="sortColumn">Начальная ЗП</th>
            <th onclick="sortTable(3)" class="sortColumn">Продукты</th>
            <th onclick="sortTable(4)" class="sortColumn">Дерево</th>
            <th onclick="sortTable(5)" class="sortColumn">Металл</th>
            <th onclick="sortTable(6)" class="sortColumn">Пластик, резина</th>
            <th onclick="sortTable(7)" class="sortColumn">Микроэлектроника</th>
            <th onclick="sortTable(8)" class="sortColumn">Ткань, кожа, бумага</th>
            <th onclick="sortTable(9)" class="sortColumn">Камень, стекло, керамика</th>
            <th onclick="sortTable(10)" class="sortColumn">Химия, краски</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vocation : ${vocationList}">
            <!--/*@thymesVar id="vocation" type="dyn.model.career.Vocation"*/-->
            <td><img th:src="@{'/graphics/vocation/vocations_'+${vocation.getId()}+'.png' }" height="20px" width="20px" style="border-radius:4px; background-color: #337ab7;">
                </img></td>
            <td>
                <th:block th:text="${vocation.getName()}"></th:block>
            </td>
            <td th:text="${vocation.getStartSalary()}"></td>
            <td th:text="${vocation.getFood()}"></td>
            <td th:text="${vocation.getWood()}"></td>
            <td th:text="${vocation.getMetall()}"></td>
            <td th:text="${vocation.getPlastic()}"></td>
            <td th:text="${vocation.getMicroelectronics()}"></td>
            <td th:text="${vocation.getCloth()}"></td>
            <td th:text="${vocation.getStone()}"></td>
            <td th:text="${vocation.getChemical()}"></td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    //<![CDATA[
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("vocationTable");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc";
        /*Make a loop that will continue until
         no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.getElementsByTagName("TR");
            /*Loop through all table rows (except the
             first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
                //start by saying there should be no switching:
                shouldSwitch = false;
                /*Get the two elements you want to compare,
                 one from current row and one from the next:*/
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /*check if the two rows should switch place,
                 based on the direction, asc or desc:*/
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /*If a switch has been marked, make the switch
                 and mark that a switch has been done:*/
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                //Each time a switch is done, increase this count by 1:
                switchcount++;
            } else {
                /*If no switching has been done AND the direction is "asc",
                 set the direction to "desc" and run the while loop again.*/
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
    //]]>
</script>
<th:block th:replace="fragments/scripts :: webjars"></th:block>
</body>
</html>