<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Index</title>
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"></link>
</head>
<body>
<div th:fragment="char-view (character)">
    <p align="center" th:text="${character.getName()}">Character</p>
    <a href="/game/character" th:href="@{/game/character(characterId=${character.getId()})}">
        <img th:class="${character.getSex()} == 'male' ? male : female" height="100" width="100"
             th:src="@{'data:image/png;base64,'+${character.getEncodedView()}}"
             data-toggle="tooltip" th:alt-title="#{tooltip(
                                           #{${character.getSex()}},
                                           #{${character.getHeight().getName()}},
                                           #{${character.getSkinColor().getName()}},
                                           #{${character.getHead().getName()}},
                                           #{${character.getEyes().getName()}})}" data-placement="right"/>

    </a>
    <div style="display: inline-block;" th:each="buff : ${character.getBuffs()}">
        <img th:src="@{'/graphics/buffs/'+${buff.getTitle()}+'.png' }"
             data-toggle="tooltip" th:alt-title="#{${buff.getTitle()}}">
        </img>
    </div>
</div>

<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>