<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Index</title>
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"></link>
</head>
<body>

<th:block th:fragment="li-for-buff-change (character, projectItemsMap)">
    <th:block th:if="${#maps.size(projectItemsMap)>0}">

        <th:block th:each="mapEntry : ${projectItemsMap}" th:with="project = ${mapEntry.getKey()}, items = ${mapEntry.getValue()}">
            <!--/*@thymesVar id="project" type="dyn.model.Project"*/-->
            <li style="height: 34px;">
                <form th:action="@{/game/applyItemChangeSomething}" method="post" class="form-inline" style="margin-left: 10px;">
                    <input type="hidden" name="characterId" th:value="${character.getId()}"/>
                    <input type="hidden" name="itemId" th:value="${items.get(0).getId()}"/>
                    <button type="submit" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-ok"></span></button>
                    <th:block th:if="${project.getId() eq @const.PROJECT_BODY_PART_CHANGE}">
                        <div class="form-group">
                            <span th:text="${project.getName() + ' (' + #lists.size(items) + ' шт.): '}" style="padding-left: 5px;"></span>
                            <select class="form-control input-sm" name="param">
                                <option value="body">Тело</option>
                                <option value="ears">Уши</option>
                                <option value="eyebrows">Брови</option>
                                <option value="eyeColor">Цвет глаз</option>
                                <option value="eyes">Глаза</option>
                                <option value="hairColor">Цвет волос</option>
                                <option value="hairType">Тип волос</option>
                                <option value="head">Голова</option>
                                <option value="height">Рост</option>
                                <option value="mouth">Рот</option>
                                <option value="nose">Нос</option>
                                <option value="skinColor">Цвет кожи</option>
                            </select>
                        </div>
                    </th:block>
                    <th:block th:if="${project.getId() eq @const.PROJECT_VOCATION_CHANGE}">
                        <div class="form-group">
                            <span th:text="${project.getName() + ' (' + #lists.size(items) + ' шт.): '}" style="padding-left: 5px;"></span>
                            <select class="form-control input-sm" name="param" style="width: 120px;">
                                <option th:each="vocation : ${@vocationRepository.findAll()}" th:value="${vocation.getId()}" th:text="${vocation.getName()}">Тело</option>
                            </select>
                        </div>
                    </th:block>
                </form>
            </li>
        </th:block>

    </th:block>
</th:block>

<th:block th:fragment="li-for-buff-parents (character, projectItemsMap)">
    <th:block th:if="${#maps.size(projectItemsMap)>0}">
        <th:block th:each="mapEntry : ${projectItemsMap}" th:with="project = ${mapEntry.getKey()}, items = ${mapEntry.getValue()}">
            <li>
                <form th:action="@{/game/applyItemParents}" method="post" class="form-inline" style="margin-left: 10px;">
                    <input type="hidden" name="characterId" th:value="${character.getId()}"/>
                    <input type="hidden" name="itemId" th:value="${items.get(0).getId()}"/>
                    <button type="submit" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-ok"></span></button>
                    <span th:text="${project.getName() + ' (' + #lists.size(items) + ' шт.)'}" style="padding-left: 5px;"></span>
                </form>
            </li>
        </th:block>
    </th:block>
</th:block>

<th:block th:fragment="li-for-buff-improve-skill (character, projectItemsMap)">
    <th:block th:if="${#maps.size(projectItemsMap)>0}">
        <th:block th:each="mapEntry : ${projectItemsMap}" th:with="project = ${mapEntry.getKey()}, items = ${mapEntry.getValue()}">
            <li>
                <form th:action="@{/game/applyItemSkill}" method="post" class="form-inline" style="margin-left: 10px;">
                    <input type="hidden" name="characterId" th:value="${character.getId()}"/>
                    <input type="hidden" name="itemId" th:value="${items.get(0).getId()}"/>
                    <button type="submit" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-ok"></span></button>
                    <span th:text="${project.getName() + ' (' + #lists.size(items) + ' шт.)'}" style="padding-left: 5px;"></span>
                </form>
            </li>
        </th:block>
    </th:block>
</th:block>

<th:block th:fragment="li-for-buff-married (character, projectItemsMap)">
    <th:block th:if="${#maps.size(projectItemsMap)>0}">
        <th:block th:each="mapEntry : ${projectItemsMap}" th:with="project = ${mapEntry.getKey()}, items = ${mapEntry.getValue()}">
            <li>
                <form th:action="@{/game/applyItemMarried}" method="post" class="form-inline" style="margin-left: 10px;">
                    <input type="hidden" name="characterId" th:value="${character.getId()}"/>
                    <input type="hidden" name="itemId" th:value="${items.get(0).getId()}"/>
                    <button type="submit" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-ok"></span></button>
                    <span th:text="${project.getName() + ' (' + #lists.size(items) + ' шт.)'}" style="padding-left: 5px;"></span>
                </form>
            </li>
        </th:block>
    </th:block>
</th:block>

<th:block th:fragment="li-for-improve-education (character)">
    <!--/*@thymesVar id="character" type="dyn.model.Character"*/-->
    <li th:if="${character.getCareer().mayImproveEducation}">
        <form th:action="@{/game/improveEducation}" method="post" style="margin-left: 10px;">
            <input type="hidden" name="character" th:value="${character.getId()}"/>
            <button type="submit" class="btn btn-primary btn-xs" th:disabled="${character.getFamily().getMoney() lt @const.EDUCATION_IMPROVE_COST}"><span class="glyphicon glyphicon-ok"></span></button>
            <span th:text="${'Повысить образование (' + @const.EDUCATION_IMPROVE_COST + ' д.)'}" style="padding-left: 5px;"></span>
        </form>
    </li>
</th:block>

<th:block th:fragment="char-panel (character)">
    <!--/*@thymesVar id="character" type="dyn.model.Character"*/-->
    <div class="panel " th:classappend="${character.getSex() == 'male'?'panel-info':'panel-danger'}" style="width: 200px; margin-bottom: 0px;">
        <!--NAME AND RACE-->
        <div class="panel-heading" align="center" style="padding: 0">
            <span th:text="${character.getName()}" data-toggle="tooltip" th:alt-title="${character.getFullName()}"></span>
            <br/>
            <p align="center" style="font-size: 10px; margin: 0px;" data-toggle="tooltip" th:alt-title="${'Раса'}">
                <a href="/game/races" style="text-decoration: none;" th:styleappend="${character.getRace().getId() == 1?'color: black;':'color:DarkOrchid'}">
                    <span th:text="${character.getRace().getName()}"></span>
                </a>
            </p>
        </div>
        <!--IMAGE-->
        <div style="position: relative">
            <a href="/game/character" th:href="${nolink}==null?@{/game/character(characterId=${character.getId()})}:'#'">
                <th:block th:with="view = ${character.getEncodedView()}">
                    <!--/*@thymesVar id="getEncodedView" type="dyn.model.Character"*/-->

                    <!-- with css only:
                    <div class="my_tooltip">
                        <img height="200px" width="200px"
                             th:src="${view != null?'data:image/png;base64,'+character.getEncodedView():(character.getSex() == 'male'?'/graphics/male.png':'/graphics/female.png')}"/>
                        <span class="my_tooltiptext">
                            <strong><th:block th:text="${character.getFullName()}"></th:block></strong>
                            <br/>
                                <ul class="my_tooltip_list">
                                    <li th:text="#{app.skin_color} + ': ' + ${character.getSkinColor().getTitle()}"></li>
                                    <li th:text="#{app.height} + ': ' + ${character.getHeight().getTitle()}"></li>
                                    <li th:text="#{app.body} + ': ' + ${character.getBody().getTitle()}"></li>
                                    <li th:text="#{app.head} + ': ' + ${character.getHead().getTitle()}"></li>
                                    <li th:text="#{app.ears} + ': ' + ${character.getEars().getTitle()}"></li>
                                    <li th:text="#{app.eyebrows} + ': ' + ${character.getEyebrows().getTitle()}"></li>
                                    <li th:text="#{app.eyes} + ': ' + ${character.getEyes().getTitle()}"></li>
                                    <li th:text="#{app.eye_color} + ': ' + ${character.getEyeColor().getTitle()}"></li>
                                    <li th:text="#{app.nose} + ': ' + ${character.getNose().getTitle()}"></li>
                                    <li th:text="#{app.mouth} + ': ' + ${character.getMouth().getTitle()}"></li>
                                    <li th:text="#{app.hair_type} + ': ' + ${character.getHairType().getTitle()}"></li>
                                    <li th:text="#{app.hair_color} + ': ' + ${character.getHairColor().getTitle()}"></li>
                                    <li th:text="#{app.hair_style} + ': ' + ${character.getHairStyle().getTitle()}"></li>
                                </ul>
                        </span>
                    </div>
                     -->

                    <img height="200px" width="200px"
                         th:src="${view != null?'data:image/png;base64,'+character.getEncodedView():(character.getSex() == 'male'?'/graphics/male.png':'/graphics/female.png')}"
                         th:alt-title="#{tooltip(
                                       ${character.getFullName()},
                                       ${character.getSkinColor().getTitle()},
                                       ${character.getHeight().getTitle()},
                                       ${character.getBody().getTitle()},
                                       ${character.getHead().getTitle()},
                                       ${character.getEars().getTitle()},
                                       ${character.getEyebrows().getTitle()},
                                       ${character.getEyes().getTitle()},
                                       ${character.getEyeColor().getTitle()},
                                       ${character.getNose().getTitle()},
                                       ${character.getMouth().getTitle()},
                                       ${character.getHairType().getTitle()},
                                       ${character.getHairColor().getTitle()},
                                       ${character.getHairStyle().getTitle()}
                                       )}"
                         data-placement="right"/>

                    <!-- with js:
                    <img height="200px" width="200px"
                         th:src="${view != null?'data:image/png;base64,'+character.getEncodedView():(character.getSex() == 'male'?'/graphics/male.png':'/graphics/female.png')}"
                         data-toggle="tooltip" th:alt-title="#{tooltip(
                                       ${character.getFullName()},
                                       ${character.getSkinColor().getTitle()},
                                       ${character.getHeight().getTitle()},
                                       ${character.getBody().getTitle()},
                                       ${character.getHead().getTitle()},
                                       ${character.getEars().getTitle()},
                                       ${character.getEyebrows().getTitle()},
                                       ${character.getEyes().getTitle()},
                                       ${character.getEyeColor().getTitle()},
                                       ${character.getNose().getTitle()},
                                       ${character.getMouth().getTitle()},
                                       ${character.getHairType().getTitle()},
                                       ${character.getHairColor().getTitle()},
                                       ${character.getHairStyle().getTitle()}
                                       )}"
                         data-placement="right"/>
                    -->
                </th:block>
            </a>
            <th:block th:each="buff : ${character.getBuffs()}" th:with="count=${(buffStat.count-1) * 20}">
                <!--/*@thymesVar id="buff" type="dyn.model.Buff"*/-->
                <img th:src="@{'/graphics/buffs/buffs_'+${buff.getId() lt 10?'0'+buff.getId():buff.getId()}+'.png' }"
                     data-toggle="tooltip" th:alt-title="#{${buff.getTitle()}} + ': ' + #{${buff.getDescription()}}"
                     th:height="20" th:style="${'position: absolute; top: '+count+'px; left: 0'}">
                </img>
            </th:block>
        </div>
        <!--CAREER-->
        <div align="center" style="width: 199px; height: 58px; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; background-color: #2b669a" th:with="career = ${character.getCareer()}">
            <table>
                <tr>
                    <td width="35px">
                        <a th:href="${'/game/vocation?vocationId=' + career.getVocation().getId()}" style="text-decoration: none;">
                            <img th:src="@{'/graphics/vocation/vocations_'+${career.getVocation().getId()}+'.png' }" data-toggle="tooltip"
                                 th:alt-title="#{vocation.name_and_resources(${career.getVocation().getName()}, ${career.getVocation().resString(1)})}"
                                 height="35px" width="35px">
                            </img>
                        </a>
                    </td>
                    <td width="20px">
                        <div style="position: relative; "
                             data-toggle="tooltip" th:title="${'Образование: '+career.getEducation().getName()}">
                            <span class="glyphicon glyphicon-education" style="position: absolute; top: -15px; left: 2px;"></span>
                            <span th:if="${career.getEducation().getId() >= 2}" class="glyphicon glyphicon-education" style="position: absolute; top: -5px; left: 2px;"></span>
                            <span th:if="${career.getEducation().getId() == 3}" class="glyphicon glyphicon-education" style="position: absolute; top: 5px; left: 2px;"></span>
                            <span th:if="${career.mayImproveEducation}" class="glyphicon glyphicon-upload" style="position: absolute; top: 4px; color: orange; left: 2px;"></span>
                        </div>
                    </td>
                    <td>
                        <span th:text="${career.getIntelligence()}" class="badge" data-toggle="tooltip" title="Интеллект" style="width: 31px; background-color: white; color: black;"></span>&nbsp;
                        <span th:text="${career.getCharisma()}" class="badge" data-toggle="tooltip" title="Харизма" style="width: 31px; background-color: white; color: black;">5</span><br/>
                        <span th:text="${career.getStrength()}" class="badge" data-toggle="tooltip" title="Сила" style="width: 31px; background-color: white; color: black;">100</span>&nbsp;
                        <span th:text="${career.getCreativity()}" class="badge" data-toggle="tooltip" title="Творчество" style="width: 31px; background-color: white; color: black;">5</span>
                    </td>
                    <td style="padding-left: 4px; padding-top: 2px;">
                        <th:block th:if="${character.getSpouse() != null}">
                            <img th:src="@{'/graphics/family_status_married.png' }" height="35px" width="35px"
                                 data-toggle="tooltip" th:alt-title="${'Семейное положение: '+(character.getSex() == 'male'?'женат':'замужем')}">
                            </img>
                        </th:block>
                        <th:block th:if="${character.isFiancee()}">
                            <img th:src="@{'/graphics/family_status_bride.png' }" height="35px" width="35px"
                                 data-toggle="tooltip" th:alt-title="${'Семейное положение: в базе невест за ' + character.getFiancee().getCost() + ' д.'}">
                            </img>
                        </th:block>
                    </td>
                </tr>
                <tr>
                    <td>

                    </td>
                </tr>
            </table>


            <th:block th:if="${career.getProfession()!=null}">
                        <span th:text="${career.getProfession().getName()+'(' + career.getProfession().getLevel() + ')'}"
                              data-toggle="tooltip" th:alt-title="Профессия" style="font-size: 10px; color: white;">
                        </span>
            </th:block>
            <th:block th:unless="${career.getProfession()!=null}">
                &nbsp;
            </th:block>
        </div>
    </div>


</th:block>

<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>