<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Index</title>
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"></link>
</head>
<body>
<div th:fragment="char-view (character)">
    <!--/*@thymesVar id="character" type="dyn.model.Character"*/-->
    <p align="center" style="margin-bottom: 3px;">
        <span th:if="${character.hasRareFeatures()}" th:text="${character.getName()+'*'}"></span>
        <span th:unless="${character.hasRareFeatures()}" th:text="${character.getName()}"></span>
    </p>
    <p align="center" style="font-size: 10px; margin: 0px;">
        <span th:if="${character.getRace().getName() == 'race.human'}"
              th:text="#{${character.getRace().getName()}}"></span>
        <span th:unless="${character.getRace().getName() == 'race.human'}" th:text="#{${character.getRace().getName()}}"
              style="color:DarkOrchid"></span>
    </p>
    <div align="center" style="font-size: 8px; margin: 0px;">
        <span th:text="#{${character.getCareer().getEducation().getName()}}" style="float:left"></span>
        <th:block th:if="${education==true}">
            <form th:action="@{/game/improveEducation}" method="post" style="float:right">
                <input type="hidden" name="character" th:value="${character.getId()}"/>
                <!--<a href='#' onClick='submit()' style="font-size: 8px; margin: 0px; color:red;">Повысить</a>-->
                <button class="btn btn-xs btn-primary" type="submit" data-toggle="tooltip" th:title="Повысить">^
                </button>
            </form>
        </th:block>

        <br/>
        <span th:text="${character.getCareer().getVocation().getName()}"></span><br/>
        Ин: <span th:text="${character.getCareer().getIntelligence()}"></span>&nbsp;
        Хр: <span th:text="${character.getCareer().getCharisma()}"></span>&nbsp;
        Сл: <span th:text="${character.getCareer().getStrength()}"></span>&nbsp;
        Тв: <span th:text="${character.getCareer().getCreativity()}"></span><br/>
        <span th:text="${character.getCareer().getProfession()?.getName()}" style="color:midnightblue"></span>
        (<span th:text="${character.getCareer().getProfession()?.getLevel()}" style="color:midnightblue"></span>)
        <br/>
    </div>
    <a href="/game/character" th:href="${nolink}==null?@{/game/character(characterId=${character.getId()})}:''">
        <img th:class="${character.getSex()} == 'male' ? male : female" th:height="${imsize}==null?100:${imsize}"
             th:width="${imsize}==null?100:${imsize}"
             th:src="@{'data:image/png;base64,'+${character.getEncodedView()}}"
             data-toggle="tooltip" th:alt-title="#{tooltip(
                                           ${character.getFullName()},
                                           #{${character.getBody().getName()}}+${character.getBody().isRare()?'*':''},
                                           #{${character.getEars().getName()}}+${character.getEars().isRare()?'*':''},
                                           #{${character.getEyebrows().getName()}}+${character.getEyebrows().isRare()?'*':''},
                                           #{${character.getEyeColor().getName()}}+${character.getEyeColor().isRare()?'*':''},
                                           #{${character.getEyes().getName()}}+${character.getEyes().isRare()?'*':''},
                                           #{${character.getHairColor().getName()}}+${character.getHairColor().isRare()?'*':''},
                                           #{${character.getHairStyle().getName()}},
                                           #{${character.getHairType().getName()}}+${character.getHairType().isRare()?'*':''},
                                           #{${character.getHead().getName()}}+${character.getHead().isRare()?'*':''},
                                           #{${character.getHeight().getName()}}+${character.getHeight().isRare()?'*':''},
                                           #{${character.getMouth().getName()}}+${character.getMouth().isRare()?'*':''},
                                           #{${character.getNose().getName()}}+${character.getNose().isRare()?'*':''},
                                           #{${character.getSkinColor().getName()}}+${character.getSkinColor().isRare()?'*':''})}"
             data-placement="right"/>

    </a>
    <div>
        <div style="display: inline-block;" th:each="buff : ${character.getBuffs()}">
            <img th:src="@{'/graphics/buffs/'+${buff.getTitle()}+'.png' }"
                 data-toggle="tooltip" th:alt-title="#{${buff.getTitle()}}">
            </img>
        </div>
    </div>
</div>

<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>