<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Scripts in webjars (bottom)</title>
</head>
<body>

<th:block th:fragment="project-view (project)">
    <!--/*@thymesVar id="project" type="dyn.model.Project"*/-->
    <th:block th:if="${project.getView()!=null}">
        <div class="my_dropdown">
            <img th:src="${'data:image/png;base64,'+project.getEncodedView()}" height="30"></img>
            <div class="my_dropdown-content">
                <img th:src="${'data:image/png;base64,'+project.getEncodedView()}"></img>
            </div>
        </div>
    </th:block>
</th:block>

<th:block th:fragment="resView (resHolder)">
    <!--/*@thymesVar id="resHolder" type="dyn.utils.ResourcesHolder"*/-->
    <ul class="list-inline" style="width: 262px;">
        <li style="padding: 0px; margin: 0px;"><a href="#"><span class="badge" th:title="${@const.RES_FOOD_NAME}" style="width: 30px; background-color: #d5797c; font-size: 10px;"><th:block th:text="${resHolder.getFood()}"></th:block></span></a></li>
        <li style="padding: 0px; margin: 0px;"><a href="#"><span class="badge" th:title="${@const.RES_WOOD_NAME}" style="width: 30px; background-color: #7ac1a3; font-size: 10px;"><th:block th:text="${resHolder.getWood()}"></th:block></span></a></li>
        <li style="padding: 0px; margin: 0px;"><a href="#"><span class="badge" th:title="${@const.RES_METALL_NAME}" style="width: 30px; background-color: #c7a488; font-size: 10px;"><th:block th:text="${resHolder.getMetall()}"></th:block></span></a>
        </li>
        <li style="padding: 0px; margin: 0px;"><a href="#"><span class="badge" th:title="${@const.RES_PLASTIC_NAME}" style="width: 30px; background-color: #06a3b6; font-size: 10px;"><th:block th:text="${resHolder.getPlastic()}"></th:block></span></a>
        </li>
        <li style="padding: 0px; margin: 0px;"><a href="#"><span class="badge" th:title="${@const.RES_MICROELECTRONICS_NAME}" style="width: 30px; background-color: #96b6c5; font-size: 10px;"><th:block
                th:text="${resHolder.getMicroelectronics()}"></th:block></span></a></li>
        <li style="padding: 0px; margin: 0px;"><a href="#"><span class="badge" th:title="${@const.RES_CLOTH_NAME}" style="width: 30px; background-color: #dec978; font-size: 10px;"><th:block th:text="${resHolder.getCloth()}"></th:block></span></a>
        </li>
        <li style="padding: 0px; margin: 0px;"><a href="#"><span class="badge" th:title="${@const.RES_STONE_NAME}" style="width: 30px; background-color: #bcbdb8; font-size: 10px;"><th:block th:text="${resHolder.getStone()}"></th:block></span></a>
        </li>
        <li style="padding: 0px; margin: 0px;"><a href="#"><span class="badge" th:title="${@const.RES_CHEMICAL_NAME}" style="width: 30px; background-color: #e98547; font-size: 10px;"><th:block
                th:text="${resHolder.getChemical()}"></th:block></span></a></li>
    </ul>
</th:block>
</body>
</html>