<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Scripts in webjars (bottom)</title>
</head>
<body>

<th:block th:fragment="project-view (project)">
    <!--/*@thymesVar id="project" type="dyn.model.Project"*/-->
    <th:block th:if="${project.getView()!=null}">
        <div class="my_dropdown">
            <img th:src="${'data:image/png;base64,'+project.getEncodedView()}" height="30"></img>
            <div class="my_dropdown-content">
                <img th:src="${'data:image/png;base64,'+project.getEncodedView()}"></img>
            </div>
        </div>
    </th:block>
</th:block>

<th:block th:fragment="resView (resHolder)">
    <!--/*@thymesVar id="resHolder" type="dyn.utils.ResourcesHolder"*/-->
    <ul class="list-inline" style="width: 272px;">
        <li style="padding: 0px; margin: 0px;"><a href="#"><span class="badge" th:title="${@const.RES_FOOD_NAME}" style="width: 30px; background-color: #d5797c; font-size: 10px;"><th:block th:text="${resHolder.getFood()}"></th:block></span></a></li>
        <li style="padding: 0px; margin: 0px;"><a href="#"><span class="badge" th:title="${@const.RES_WOOD_NAME}" style="width: 30px; background-color: #7ac1a3; font-size: 10px;"><th:block th:text="${resHolder.getWood()}"></th:block></span></a></li>
        <li style="padding: 0px; margin: 0px;"><a href="#"><span class="badge" th:title="${@const.RES_METALL_NAME}" style="width: 30px; background-color: #c7a488; font-size: 10px;"><th:block th:text="${resHolder.getMetall()}"></th:block></span></a>
        </li>
        <li style="padding: 0px; margin: 0px;"><a href="#"><span class="badge" th:title="${@const.RES_PLASTIC_NAME}" style="width: 30px; background-color: #06a3b6; font-size: 10px;"><th:block th:text="${resHolder.getPlastic()}"></th:block></span></a>
        </li>
        <li style="padding: 0px; margin: 0px;"><a href="#"><span class="badge" th:title="${@const.RES_MICROELECTRONICS_NAME}" style="width: 30px; background-color: #96b6c5; font-size: 10px;"><th:block
                th:text="${resHolder.getMicroelectronics()}"></th:block></span></a></li>
        <li style="padding: 0px; margin: 0px;"><a href="#"><span class="badge" th:title="${@const.RES_CLOTH_NAME}" style="width: 30px; background-color: #dec978; font-size: 10px;"><th:block th:text="${resHolder.getCloth()}"></th:block></span></a>
        </li>
        <li style="padding: 0px; margin: 0px;"><a href="#"><span class="badge" th:title="${@const.RES_STONE_NAME}" style="width: 30px; background-color: #bcbdb8; font-size: 10px;"><th:block th:text="${resHolder.getStone()}"></th:block></span></a>
        </li>
        <li style="padding: 0px; margin: 0px;"><a href="#"><span class="badge" th:title="${@const.RES_CHEMICAL_NAME}" style="width: 30px; background-color: #e98547; font-size: 10px;"><th:block
                th:text="${resHolder.getChemical()}"></th:block></span></a></li>
    </ul>
</th:block>

<th:block th:fragment="resImageView (resHolder)">
    <!--/*@thymesVar id="resHolder" type="dyn.utils.ResourcesHolder"*/-->
    <span class="resHolder" th:title="#{RES.FOOD}" th:if="${resHolder.getFood()>0}">
        <img class="resImage" th:src="@{'/graphics/resources/resources_02.png' }"/>
        <th:block th:text="${resHolder.getFood()}"></th:block>
    </span>
    <span class="resHolder" th:title="#{RES.WOOD}" th:if="${resHolder.getWood()>0}">
        <img class="resImage" th:src="@{'/graphics/resources/resources_03.png' }"/>
        <th:block th:text="${resHolder.getWood()}"></th:block>
    </span>
    <span class="resHolder" th:title="#{RES.METALL}" th:if="${resHolder.getMetall()>0}">
        <img class="resImage" th:src="@{'/graphics/resources/resources_04.png' }"/>
        <th:block th:text="${resHolder.getMetall()}"></th:block>
    </span>
    <span class="resHolder" th:title="#{RES.PLASTIC}" th:if="${resHolder.getPlastic()>0}">
        <img class="resImage" th:src="@{'/graphics/resources/resources_05.png' }"/>
        <th:block th:text="${resHolder.getPlastic()}"></th:block>
    </span>
    <span class="resHolder" th:title="#{RES.MICROELECTRONICS}" th:if="${resHolder.getMicroelectronics()>0}">
        <img class="resImage" th:src="@{'/graphics/resources/resources_06.png' }"/>
        <th:block th:text="${resHolder.getMicroelectronics()}"></th:block>
    </span>
    <span class="resHolder" th:title="#{RES.CLOTH}" th:if="${resHolder.getCloth()>0}">
        <img class="resImage" th:src="@{'/graphics/resources/resources_07.png' }"/>
        <th:block th:text="${resHolder.getCloth()}"></th:block>
    </span>
    <span class="resHolder" th:title="#{RES.STONE}" th:if="${resHolder.getStone()>0}">
        <img class="resImage" th:src="@{'/graphics/resources/resources_08.png' }"/>
        <th:block th:text="${resHolder.getStone()}"></th:block>
    </span>
    <span class="resHolder" th:title="#{RES.CHEMICAL}" th:if="${resHolder.getChemical()>0}">
        <img class="resImage" th:src="@{'/graphics/resources/resources_09.png' }"/>
        <th:block th:text="${resHolder.getChemical()}"></th:block>
    </span>
</th:block>

<th:block th:fragment="headLinks">
    <link rel="icon" href="/graphics/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"></link>
    <link rel="stylesheet" th:href="@{/css/common.css}"></link>

</th:block>

<th:block th:fragment="footerSite">
    <div class="footer">
        <p><a th:href="@{/docs/UserAgreement.pdf}" target="_blank">Пользовательское соглашение</a> <a th:href="@{/docs/Privacy.pdf}" target="_blank">Политика конфиденциальности</a> <a th:href="@{/docs/CopyrightHolder.pdf}" target="_blank">Правообладателям
        </a><br/>
            © dyngame.ru 2017</p>
    </div>
</th:block>
</body>
</html>