<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Index</title>
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"></link>
</head>
<body>
<div th:fragment="nav-for-index">
    <nav role="navigation" class="navbar navbar-default">
        <div>
            <a href="/" class="navbar-brand">Dynasty</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li th:classappend="${#httpServletRequest.getRequestURI() == '/login' ? 'active':''}"><a href="/login">Game</a></li>
                <li th:classappend="${#httpServletRequest.getRequestURI() == '/reg' ? 'active':''}"><a href="/reg">Registration</a></li>
                <li th:classappend="${#httpServletRequest.getRequestURI() == '/about' ? 'active':''}"><a href="/about">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="?language=en">en</a></li>
                <li><a href="?language=ru">ru</a></li>
            </ul>
        </div>
        <div class="alert alert-warning" th:if="${mess!=null}" th:utext="${mess}"></div>
    </nav>
</div>
<div th:fragment="nav-for-game">
    <nav role="navigation" class="navbar navbar-default">
        <div>
            <a href="/" class="navbar-brand">Dynasty</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="/game">Игра</a></li>
                <li><a href="/game/families">Семья</a></li>
                <li><a href="/game/house">Дом</a></li>
                <li><a href="/game/craft">Крафт</a></li>
                <li><a href="/game/achievements">Достижения</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!--/*@thymesVar id="family" type="dyn.model.Family"*/-->
                <li th:if="${family != null}"><span th:text="${family.getMoney() + ' р.'}" class="navbar-brand"></span></li>
                <li th:if="${family != null}"><span th:text="${family.getFamilyName() + ' ('+family.getUser().getUserName()+') '}" class="navbar-brand"></span></li>
                <li th:if="${family != null}"><span th:text="${family.getLevel()}" class="navbar-brand"></span></li>
                <li><a href="?language=en">en</a></li>
                <li><a href="?language=ru">ru</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="alert alert-warning" th:if="${mess!=null}" th:utext="${mess}"></div>
</div>
<div th:fragment="nav-for-admin">
    <nav role="navigation" class="navbar navbar-default">
        <div>
            <a href="/" class="navbar-brand">Dynasty</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="/admin">Admin</a></li>
                <li><a href="/admin/appearance">Appearance</a></li>
                <li><a href="/admin/race">Race</a></li>
                <li><a href="/admin/achievements">Achievements</a></li>
                <li><a href="/admin/buffs">Buffs</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="?language=en">en</a></li>
                <li><a href="?language=ru">ru</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="alert alert-warning" th:if="${mess!=null}" th:utext="${mess}"></div>
</div>
<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>