<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Династия</title>
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"></link>
</head>
<body>
<div th:fragment="nav-for-index">
    <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="navbar-brand"><img th:src="@{'/graphics/logo_dyn.png' }" height="20"/></a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div>
                <div class="collapse navbar-collapse" id="myNavbar" style="min-width: 1280px;">
                    <ul class="nav navbar-nav">
                        <li th:classappend="${#httpServletRequest.getRequestURI() == '/login' ? 'active':''}"><a href="/login" id="navGameLink">Вход в игру</a></li>
                        <li th:classappend="${#httpServletRequest.getRequestURI() == '/reg' ? 'active':''}"><a href="/reg">Регистрация</a></li>
                        <li th:classappend="${#httpServletRequest.getRequestURI() == '/about' ? 'active':''}"><a href="/about">О проекте</a></li>
                    </ul>
                </div>
            </div>
            <!--<div class="alert alert-warning" th:if="${mess!=null}" th:utext="${mess}"></div>-->
        </div>
    </nav>
    <th:block th:if="${mess!=null}">
        <script th:inline="javascript">

            /*<![CDATA[*/

            var message = /*[[${mess}]]*/ 'User Name';
            window.onload = function () {
                $.notify({
                    title: '',
                    icon: 'glyphicon glyphicon-star',
                    message: message
                }, {
                    type: 'warning',
                    placement: {
                        from: "top",
                        align: "center"
                    },
                    offset: 55,
                    spacing: 10,
                    z_index: 1031,
                    delay: 5000
                });
            };

            /*]]>*/
        </script>
    </th:block>
</div>
<div th:fragment="nav-for-game">
    <!--/*@thymesVar id="family" type="dyn.model.Family"*/-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <th:block th:if="${family != null}">
                    <a class="navbar-brand" th:href="${'/game/userview?userId=' + family.getUser().getUserid() + '&amp;familyId='+ family.getId()}"
                       th:text="${family.userNameAndFamilyName()+' Уровень: ' +family.getLevel()}"
                       title="Сводка по игроку. Так будут видеть вас остальные игроки." name="family"></a>
                </th:block>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar" style="min-width: 1280px;">
                <ul class="nav navbar-nav">
                    <li th:classappend="${#httpServletRequest.getRequestURI() == '/game' ? 'active':''}"><a href="/game">Игра</a></li>
                    <li th:classappend="${#httpServletRequest.getRequestURI().contains('/game/families') ? 'active':''}"><a href="/game/families">Семья</a></li>
                    <li th:classappend="${#httpServletRequest.getRequestURI().contains('/game/house') ? 'active':''}"><a href="/game/house">Дом</a></li>
                    <li th:classappend="${#httpServletRequest.getRequestURI().contains('/game/storage') ? 'active':''}"><a href="/game/storage">Склад</a></li>
                    <li th:classappend="${#httpServletRequest.getRequestURI().contains('/game/craft') ? 'active':''}"><a href="/game/craft">Крафт</a></li>
                    <li th:classappend="${#httpServletRequest.getRequestURI().contains('/game/town') ? 'active':''}"><a href="/game/town">Город
                        <span class="glyphicon glyphicon-envelope" th:if="${@mailService.hasNewMail(family.getUser())}" title="Новое письмо!"></span></a></li>
                    <li th:classappend="${#httpServletRequest.getRequestURI().contains('/game/news') ? 'active':''}"><a href="/game/news">Новости</a></li>
                    <li th:classappend="${#httpServletRequest.getRequestURI().contains('/game/buildings') ? 'active':''}"><a href="/game/buildings">Бизнес</a></li>
                    <li th:classappend="${#httpServletRequest.getRequestURI().contains('/game/help') ? 'active':''}"><a href="/game/help">Справка</a></li>
                    <li th:classappend="${#httpServletRequest.getRequestURI().contains('/game/feedback') ? 'active':''}"><a href="/game/feedback">Обратная связь</a></li>
                    <li><a href="/logout" name="logouta">Выход</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container-fluid">
            <th:block th:if="${family != null}">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" style="text-decoration: none; ">
                        <span>Деньги: <strong><th:block th:text="${family.getMoney()}"></th:block> д. </strong></span>
                    </a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbarBottom">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="myNavbarBottom" style="min-width: 1280px;" th:with="resHolder = ${family.getFamilyResources()}">

                    <ul class="nav navbar-nav" style="padding-top: 13px; font-size: 14px;">
                        <li class="resLi" style="padding-right: 15px;">

                        </li>
                        <li class="resLi">
                            <span style="font-size: 14px; ">Ресурсы: </span>

                        </li>
                        <li class="resLi">
                            <span class="resHolderNav" th:title="#{RES.FOOD}">
                                <img class="resImageNav" th:src="@{'/graphics/resources/resources_02.png' }"/>
                                <th:block th:text="${resHolder.getFood()}"></th:block>
                            </span>
                        </li>
                        <li class="resLi">
                            <span class="resHolderNav" th:title="#{RES.WOOD}">
                                <img class="resImageNav" th:src="@{'/graphics/resources/resources_03.png' }"/>
                                <th:block th:text="${resHolder.getWood()}"></th:block>
                            </span>
                        </li>
                        <li class="resLi">
                            <span class="resHolderNav" th:title="#{RES.METALL}">
                                <img class="resImageNav" th:src="@{'/graphics/resources/resources_04.png' }"/>
                                <th:block th:text="${resHolder.getMetall()}"></th:block>
                            </span></li>
                        <li class="resLi">
                            <span class="resHolderNav" th:title="#{RES.PLASTIC}">
                                <img class="resImageNav" th:src="@{'/graphics/resources/resources_05.png' }"/>
                                <th:block th:text="${resHolder.getPlastic()}"></th:block>
                            </span></li>
                        <li class="resLi">
                            <span class="resHolderNav" th:title="#{RES.MICROELECTRONICS}">
                                <img class="resImageNav" th:src="@{'/graphics/resources/resources_06.png' }"/>
                                <th:block th:text="${resHolder.getMicroelectronics()}"></th:block>
                            </span>
                        </li>
                        <li class="resLi">
                            <span class="resHolderNav" th:title="#{RES.CLOTH}">
                                <img class="resImageNav" th:src="@{'/graphics/resources/resources_07.png' }"/>
                                <th:block th:text="${resHolder.getCloth()}"></th:block>
                            </span>
                        </li>
                        <li class="resLi">
                            <span class="resHolderNav" th:title="#{RES.STONE}">
                                <img class="resImageNav" th:src="@{'/graphics/resources/resources_08.png' }"/>
                                <th:block th:text="${resHolder.getStone()}"></th:block>
                            </span>
                        </li>
                        <li class="resLi">
                            <span class="resHolderNav" th:title="#{RES.CHEMICAL}">
                                <img class="resImageNav" th:src="@{'/graphics/resources/resources_09.png' }"/>
                                <th:block th:text="${resHolder.getChemical()}"></th:block>
                            </span>
                        </li>
                        <li class="resLi" style="padding-right: 15px;">

                        </li>
                        <li class="resLi">
                            <a href="/game/resExchange" title="Обмен ресурсов" style="padding: 0px; font-size: 14px;">Обмен <span class="glyphicon glyphicon-refresh"></span></a>
                        </li>
                        <li class="resLi" style="padding-right: 15px;">

                        </li>
                        <li class="resLi">
                            <span style="font-size: 14px;">
                                Крафт-баллы:
                                <span class="resHolderNav" th:title="#{RES.CRAFTPOINTS}">
                                    <img class="resImageNav" th:src="@{'/graphics/resources/resources_01.png' }"/>
                                    <th:block th:text="${family.getCraftPoint()}"></th:block>
                                </span>
                            </span>
                        </li>
                    </ul>
                </div>
            </th:block>
        </div>
    </nav>

    <th:block th:if="${mess!=null}">
        <script th:inline="javascript">

            /*<![CDATA[*/

            var message = /*[[${mess}]]*/ 'User Name';
            window.onload = function () {
                $.notify({
                    title: '',
                    icon: 'glyphicon glyphicon-star',
                    message: message
                }, {
                    type: 'warning',
                    placement: {
                        from: "top",
                        align: "center"
                    },
                    offset: 55,
                    spacing: 10,
                    z_index: 1031,
                    delay: 5000
                });
            };

            /*]]>*/
        </script>
    </th:block>

</div>
<div th:fragment="nav-for-admin">
    <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
        <div>
            <a href="/" class="navbar-brand"><img th:src="@{'/graphics/logo_dyn.png' }" height="20"/></a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="/admin">Admin</a></li>
                <li><a href="/admin/appearance">Апиранс</a></li>
                <li><a href="/admin/race">Расы</a></li>
                <li><a href="/admin/achievements">Достижения</a></li>
                <li><a href="/admin/buffs">Баффы</a></li>
                <li><a href="/admin/craft">Крафт</a></li>
                <li><a href="/admin/rooms">Комнаты</a></li>
                <li><a href="/admin/roomThingsWithProjects">Дома</a></li>
                <li><a href="/admin/families">Семьи</a></li>
                <li><a href="/admin/fiancees">Невесты</a></li>
                <li><a href="/admin/buildings">Здания</a></li>
                <li><a href="/admin/users">Юзеры</a></li>
                <li><a href="/admin/projects">Проекты</a></li>
                <li><a href="/admin/feedbacks">Фидбеки</a></li>
                <li><a href="/admin/townNews">Новости</a></li>
                <li><a href="/admin/test?id=2488">Тест</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!--<li><a href="?language=en">en</a></li>
                <li><a href="?language=ru">ru</a></li>-->
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="alert alert-warning" th:if="${mess!=null}" th:utext="${mess}"></div>
</div>
<div th:fragment="nav-for-moder">
    <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
        <div>
            <a href="/" class="navbar-brand">Династия</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="/moder">Модераторская</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="alert alert-warning" th:if="${mess!=null}" th:utext="${mess}"></div>
</div>
<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>