<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Династия</title>
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"></link>
</head>
<body>
<div th:fragment="nav-for-index">
    <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
        <div>
            <a href="/" class="navbar-brand"><img th:src="@{'/graphics/logo_dyn.png' }" height="20"/></a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li th:classappend="${#httpServletRequest.getRequestURI() == '/login' ? 'active':''}"><a href="/login" id="navGameLink">Игра</a></li>
                <li th:classappend="${#httpServletRequest.getRequestURI() == '/reg' ? 'active':''}"><a href="/reg">Регистрация</a></li>
                <li th:classappend="${#httpServletRequest.getRequestURI() == '/about' ? 'active':''}"><a href="/about">О разработке</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/admin">Admin</a></li>
                <li><a href="/moder">Moder</a></li>
            </ul>
        </div>
        <!--<div class="alert alert-warning" th:if="${mess!=null}" th:utext="${mess}"></div>-->
    </nav>
    <th:block th:if="${mess!=null}">
        <script th:inline="javascript">

            /*<![CDATA[*/

            var message = /*[[${mess}]]*/ 'User Name';
            window.onload = function () {
                $.notify({
                    title: '',
                    icon: 'glyphicon glyphicon-star',
                    message: message
                }, {
                    type: 'warning',
                    placement: {
                        from: "top",
                        align: "center"
                    },
                    offset: 55,
                    spacing: 10,
                    z_index: 1031,
                    delay: 5000
                });
            };

            /*]]>*/
        </script>
    </th:block>
</div>
<div th:fragment="nav-for-game">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <th:block th:if="${family != null}">
                    <a class="navbar-brand" th:href="${'/game/userview?userId='+family.getUser().getUserid()}" th:text="${family.familyNameAndUserName()+family.getLevel()}" name="family"></a>
                </th:block>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li th:classappend="${#httpServletRequest.getRequestURI() == '/game' ? 'active':''}"><a href="/game">Игра</a></li>
                    <li th:classappend="${#httpServletRequest.getRequestURI().contains('/game/families') ? 'active':''}"><a href="/game/families">Семья</a></li>
                    <li th:classappend="${#httpServletRequest.getRequestURI().contains('/game/house') ? 'active':''}"><a href="/game/house">Дом</a></li>
                    <li th:classappend="${#httpServletRequest.getRequestURI().contains('/game/craft') ? 'active':''}"><a href="/game/craft">Крафт</a></li>
                    <li th:classappend="${#httpServletRequest.getRequestURI().contains('/game/achievements') ? 'active':''}"><a href="/game/achievements">Достижения</a></li>
                    <li th:classappend="${#httpServletRequest.getRequestURI().contains('/game/town') ? 'active':''}"><a href="/game/town">Город</a></li>
                    <li th:classappend="${#httpServletRequest.getRequestURI().contains('/game/buildings') ? 'active':''}"><a href="/game/buildings">Бизнес</a></li>
                    <li th:classappend="${#httpServletRequest.getRequestURI().contains('/game/feedback') ? 'active':''}"><a href="/game/feedback">Обратная связь</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout" name="logouta">Выход</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <th:block th:text="${'Деньги: ' + family.getMoney()+' д. '}"></th:block>
                </a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbarBottom">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbarBottom">
                <ul class="nav navbar-nav">
                    <li><a href="#">Продукты: <span class="badge"><th:block th:text="${family.getFamilyResources().getFood()}"></th:block></span></a></li>
                    <li><a href="#">Дерево: <span class="badge"><th:block th:text="${family.getFamilyResources().getWood()}"></th:block></span></a></li>
                    <li><a href="#">Металл: <span class="badge"><th:block th:text="${family.getFamilyResources().getMetall()}"></th:block></span></a></li>
                    <li><a href="#">Пластик, резина: <span class="badge"><th:block th:text="${family.getFamilyResources().getPlastic()}"></th:block></span></a></li>
                    <li><a href="#">Микроэлетроника: <span class="badge"><th:block th:text="${family.getFamilyResources().getMicroelectronics()}"></th:block></span></a></li>
                    <li><a href="#">Ткань, кожа, бумага: <span class="badge"><th:block th:text="${family.getFamilyResources().getCloth()}"></th:block></span></a></li>
                    <li><a href="#">Камень, стекло, керамика: <span class="badge"><th:block th:text="${family.getFamilyResources().getStone()}"></th:block></span></a></li>
                    <li><a href="#">Химия, краски: <span class="badge"><th:block th:text="${family.getFamilyResources().getChemical()}"></th:block></span></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Крафт баллы: <span class="badge"><th:block th:text="${family.getCraftPoint()}"></th:block></span></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <th:block th:if="${mess!=null}">
        <script th:inline="javascript">

            /*<![CDATA[*/

            var message = /*[[${mess}]]*/ 'User Name';
            window.onload = function () {
                $.notify({
                    title: '',
                    icon: 'glyphicon glyphicon-star',
                    message: message
                }, {
                    type: 'warning',
                    placement: {
                        from: "top",
                        align: "center"
                    },
                    offset: 55,
                    spacing: 10,
                    z_index: 1031,
                    delay: 5000
                });
            };

            /*]]>*/
        </script>
    </th:block>

</div>
<div th:fragment="nav-for-admin">
    <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
        <div>
            <a href="/" class="navbar-brand"><img th:src="@{'/graphics/logo_dyn.png' }" height="20"/></a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="/admin">Admin</a></li>
                <li><a href="/admin/appearance">Апиранс</a></li>
                <li><a href="/admin/race">Расы</a></li>
                <li><a href="/admin/achievements">Достижения</a></li>
                <li><a href="/admin/buffs">Баффы</a></li>
                <li><a href="/admin/craft">Крафт</a></li>
                <li><a href="/admin/rooms">Комнаты</a></li>
                <li><a href="/admin/families">Семьи</a></li>
                <li><a href="/admin/fiancees">Невесты</a></li>
                <li><a href="/admin/buildings">Здания</a></li>
                <li><a href="/admin/test?id=2488">Тест</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!--<li><a href="?language=en">en</a></li>
                <li><a href="?language=ru">ru</a></li>-->
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="alert alert-warning" th:if="${mess!=null}" th:utext="${mess}"></div>
</div>
<div th:fragment="nav-for-moder">
    <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
        <div>
            <a href="/" class="navbar-brand">Династия</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="/moder">Модераторская</a></li>
                <li><a href="/moder/projects">Проекты</a></li>
                <li><a href="/moder/feedbacks">Фидбеки</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="alert alert-warning" th:if="${mess!=null}" th:utext="${mess}"></div>
</div>
<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>