<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Fragments for RoomView</title>
</head>
<body>
<div th:fragment="room-table-set-unset-buy (roomView)" style="display: inline-block;">
    <!--/*@thymesVar id="roomView" type="dyn.model.RoomView"*/-->

    <div th:id="${'interior_'+roomView.getRoom().getId()}" class="collapse">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Тип предмета</th>
                <th>Установленная вещь</th>
                <th>Выбрать со склада</th>
                <th>Купить</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="roomThingWithItems : ${roomView.getRoomThingWithItemsList()}">
                <!--/*@thymesVar id="roomThingWithItems" type="dyn.model.RoomThingWithItems"*/-->
                <td class="col-md-4">
                    <th:block th:if="${roomThingWithItems.isKnownThing()}">
                        <a th:href="${'/game/chooseProject?thingId='+roomThingWithItems.getRoomThing().getThing().getId()}" th:text="${roomThingWithItems.getRoomThing().getThing().getName()}"></a>
                    </th:block>
                    <th:block th:unless="${roomThingWithItems.isKnownThing()}" th:text="${roomThingWithItems.getRoomThing().getThing().getName()}"></th:block>
                </td>
                <td class="col-md-4">
                    <th:block th:if="${roomThingWithItems.getCurrentItem()==null}">Нет вещи</th:block>
                    <th:block th:unless="${roomThingWithItems.getCurrentItem()==null}" th:with="curItem = ${roomThingWithItems.getCurrentItem()}">
                        <form class="form-inline" th:action="@{/game/unsetItem}" method="post">
                                    <span th:text="${curItem.getProject().getName()}"
                                          data-toggle="tooltip"
                                          th:title="${curItem.getFullName() + ' от '+curItem.getAuthor().getFamilyName() + '. Качество: ' + curItem.getQuality()}"></span>
                            <input type="hidden" name="itemId" th:value="${curItem.getId()}"/>
                            <button type="submit" class="btn btn-warning">Убрать</button>
                        </form>
                    </th:block>
                </td>
                <td class="col-md-4">
                    <th:block th:if="${roomThingWithItems.getAvailableItems().size()>0}">
                        <form class="form-inline" th:action="@{/game/setItemToThing}" method="post">
                            <input type="hidden" name="roomThingId" th:value="${roomThingWithItems.getRoomThing().getId()}"/>
                            <div class="form-group">
                                <select class="form-control" id="sel1" name="itemId">
                                    <option th:each="item : ${roomThingWithItems.getAvailableItems()}"
                                            th:value="${item.getId()}"
                                            th:text="${item.getProject().getName()}">
                                    </option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-success">Выбрать</button>
                        </form>
                    </th:block>

                </td>
                <td class="col-md-4">
                    <form class="form-inline" th:action="@{/game/chooseItemToBuy}" method="get">
                        <input type="hidden" name="thingId" th:value="${roomThingWithItems.getRoomThing().getThing().getId()}"/>
                        <button type="submit" class="btn btn-info">Купить</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:fragment="room-map (roomView)">
    <!--/*@thymesVar id="roomView" type="dyn.model.RoomView"*/-->
    <!--/*@thymesVar id="roomThingWithItems" type="dyn.model.RoomThingWithItems"*/-->
    <div style="width: 1039px; height: 409px; position: relative; border: solid 2px #333333; border-radius: 3px;"
         th:styleappend="${'background: url('+ roomView.getBackgroundUrl() +');'}">
        <th:block th:each="roomThingWithItems : ${roomView.getRoomThingWithItemsList()}" th:with="curItem = ${roomThingWithItems.getCurrentItem()},roomThing = ${roomThingWithItems.getRoomThing()}">
            <!--walls-->
            <th:block th:if="${roomThing.getLayer() == 0}">
                <th:block th:if="${curItem != null and curItem.getProject().getView() != null}">
                    <div style="display: table; position: absolute; "
                         th:styleappend="${'width: '+ (1035-roomThing.getX()) +'px;'+
                                 'height: ' + (roomView.getRoom().getId() == 11 or roomView.getRoom().getId() == 125? '315px;':roomThing.getThing().getHeight()+'px;')+
                                 'left: ' + roomThing.getX()+'px;'+
                                 'top: ' + roomThing.getY()+'px;' +
                                 'background: url(data:image/png;base64,'+curItem.getProject().getEncodedView()+') repeat-x'}">

                    </div>
                </th:block>
            </th:block>
            <th:block th:if="${roomThingWithItemsStat.count == 0}">
                <!--тут будет картинка наложения (полки, столы, ступень бассейна)-->
            </th:block>
            <th:block th:unless="${roomThing.getLayer() == 0}">
                <div align="center" style="display: table; position: absolute; "
                     th:styleappend="${'width: '+ roomThing.getThing().getWidth() +'px;'+
                                 'height: ' + roomThing.getThing().getHeight()+'px;'+
                                 'left: ' + roomThing.getX()+'px;'+
                                 'top: ' + roomThing.getY()+'px;'}"
                     data-toggle="modal" data-target="#roomThing"
                     th:onclick="'javascript:roomViewPassDataToHouse(' + ${roomThingWithItems.getStringForModal()}+');'">
                    <th:block th:if="${curItem == null}">
                        <div style="position: relative">
                            <div style="border: dotted 2px forestgreen; border-radius: 10px; background-color: lightgreen; position: absolute; opacity: 0.45;"
                                 th:styleappend="${'width: '+ roomThing.getThing().getWidth() +'px; height: ' + roomThing.getThing().getHeight()+'px;'}"></div>
                            <div th:text="${roomThing.getThing().getName()}" align="center"
                                 style="color: yellow; display: table-cell; vertical-align: middle; font-size: 12px; padding: 5px; z-index: 1; position: absolute; "
                                 th:styleappend="${'width: '+ roomThing.getThing().getWidth() +'px; height: ' + roomThing.getThing().getHeight()+'px;'}">
                                Нет вещи
                            </div>
                        </div>
                    </th:block>
                    <th:block th:if="${curItem != null}">
                        <th:block th:if="${curItem.getProject().getView() != null}">
                            <img th:src="${'data:image/png;base64,'+curItem.getProject().getEncodedView()}"
                                 th:title="${curItem.getFullName() + ' от '+curItem.getAuthor().getFamilyName() + '. Качество: ' + curItem.getQuality()}"/>
                        </th:block>
                        <th:block th:if="${curItem.getProject().getView() == null}">
                        <span th:text="${curItem.getProject().getName()}" style="color: cornflowerblue;  display: table-cell; vertical-align: middle; font-size: 8px;"
                              th:title="${curItem.getFullName() + ' от '+curItem.getAuthor().getFamilyName() + '. Качество: ' + curItem.getQuality()}"></span>
                        </th:block>
                    </th:block>
                </div>
            </th:block>

        </th:block>
    </div>
</div>
<div th:fragment="room-view (roomView)">
    <!--/*@thymesVar id="roomView" type="dyn.model.RoomView"*/-->
    <a th:name="${'room'+roomView.getRoom().getId()}" class="anchor"></a>
    <div class="well">

        <div class="row">
            <div class="col-sm-6">
                <h4>
                    <th:block th:text="${#strings.toUpperCase(roomView.getRoom().getName())}" style="margin-right: 30px;"></th:block>
                    <th:block th:if="${roomView.isFull()}"><span class="glyphicon glyphicon-ok" style="color: darkgreen;"></span></th:block>
                </h4>
            </div>
            <div class="col-sm-6" align="right">
                <button data-toggle="collapse" th:attr="data-target='#interior_'+${roomView.getRoom().getId()}" class="btn btn-default">
                    Табличный вид интерьера <span class="glyphicon glyphicon-menu-down"></span>
                </button>
            </div>
        </div>


        <div th:replace="fragments/roomView :: room-table-set-unset-buy (roomView=${roomView})"></div>
        <div th:replace="fragments/roomView :: room-map (roomView=${roomView})"></div>


    </div>
</div>


</body>
</html>