.has-error {
    color: red
}

.char-view-div {
    display: inline-block;
    /*width: auto;*/
    margin: 5px;
}
.male {
    border: 3px solid #4286f4;
    border-radius: 15%;
}

.female {
    border: 3px solid #e85c94;
    border-radius: 15%;
}

.tooltip-inner {
    white-space: pre-wrap;
    text-align: left;
}

/**CSS FOR THE RING**/

.glyphicon-ring {
    width: 32px;
    height: 32px;
    border-radius: 25%;
    color: white;
    display: inline-table;
    text-align: center;
}

/**CSS FOR ICON WITH NO BACKGROUND COLOR**/

.glyphicon-ring .glyphicon-bordered {
    font-size: 16px;
    vertical-align: middle;
    display: table-cell;
}

/**WITH AN ADDED BACKGROUND COLOR**/

.glyphicon-white {
    background: white;
    color: black;
    border: 4px solid black;
}

.glyphicon-teal {
    background: lightsteelblue;
    color: orange;
}

.glyphicon-red {
    background: red;
}

.glyphicon {
    /*font-size: 8px;*/
    color: white;
}