body {
    padding-top: 70px;
}

.has-error {
    color: red
}

.char-view-div {
    display: inline-block;
    /*width: auto;*/
    margin: 5px;
}

.male {
    border: 3px solid #4286f4;
    border-radius: 15%;
}

.female {
    border: 3px solid #e85c94;
    border-radius: 15%;
}

.tooltip-inner {
    white-space: pre-wrap;
    text-align: left;
}

/**CSS FOR THE RING**/

.glyphicon-ring {
    width: 32px;
    height: 32px;
    border-radius: 25%;
    color: white;
    display: inline-table;
    text-align: center;
}

/**CSS FOR ICON WITH NO BACKGROUND COLOR**/

.glyphicon-ring .glyphicon-bordered {
    font-size: 16px;
    vertical-align: middle;
    display: table-cell;
}

/**WITH AN ADDED BACKGROUND COLOR**/

.glyphicon-white {
    background: white;
    color: black;
    border: 4px solid black;
}

.glyphicon-teal {
    background: lightsteelblue;
    color: orange;
}

.glyphicon-red {
    background: red;
}

.glyphicon {
    /*font-size: 8px;*/
    color: white;
}

/* дерево развития*/
/*Now the CSS*/
* {
    margin: 0;
    padding: 0;
}

.tree ul {
    padding-top: 20px;
    position: relative;

    -transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.tree li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;

    -transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #ccc;
    width: 50%;
    height: 20px;
}

.tree li::after {
    right: auto;
    left: 50%;
    border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
    display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child {
    padding-top: 0;
}

/*Remove left connector from first child and
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after {
    border: 0 none;
}

/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before {
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 20px;
}

.tree li a {
    width: 85px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 10px;
    display: inline-block;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    -transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;

    cursor: pointer;
}

/*

        !*Time for some hover effects*!
        !*We will apply the hover effect the the lineage of the element also*!
        .tree li a:hover, .tree li a:hover + ul li a {
            background: #c8e4f8;
            color: #000;
            border: 1px solid #94a0b4;
        }

        !*Connector styles on hover*!
        .tree li a:hover + ul li::after,
        .tree li a:hover + ul li::before,
        .tree li a:hover + ul::before,
        .tree li a:hover + ul ul::before {
            border-color: #94a0b4;
        }
*/

.caret-right {
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid;
    display: inline-block;
    height: 0;
    opacity: 0.3;
    vertical-align: middle;
    width: 0;
    color: #333;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.popover {
    width: 200px;
}

a.anchor {
    display: block;
    position: relative;
    top: -55px;
    visibility: hidden;
}

/*tooltips*/
.my_tooltip {
    position: relative;
    display: inline-block;
    color: black;
}

.my_tooltip .my_tooltiptext {
    visibility: hidden;
    width: 450px;
    font-size: 12px;
    background-color: #000000;
    color: #ffffff;
    text-align: left;
    border-radius: 6px;
    padding: 5px;

    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

    /* Position the tooltip */
    position: absolute;
    z-index: 1;

}

.my_tooltip:hover .my_tooltiptext {
    visibility: visible;
    opacity: 0.8;
    top: -25%;
    left: 105%;
}

.my_tooltip_list li {
    margin-left: 15px;
}

/* dropdowns used for small images in projects with big image in tooltip */
.my_dropdown {
    position: relative;
    display: inline-block;
}

.my_dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    z-index: 1;
    padding: 15px;
}

.my_dropdown:hover .my_dropdown-content {
    display: block;
}

/* dropdowns */
