<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>О разработке</title>
    <th:block th:replace="fragments/custom :: headLinks"></th:block>
</head>
<body>
<th:block th:replace="fragments/scripts :: counters"></th:block>
<div th:replace="fragments/navigation :: nav-for-index"></div>
<div class="container">
    <h3>Версия</h3>
    <p>
    <ul>
        <li><strong>1.0</strong> Бета-версия. Основные функции.</li>
    </ul>

    </p>
    <h3>Планы на будущее</h3>
    <p>
    <ul>
        <li>питомцы (генетика)</li>
        <li>новые комнаты и вещи</li>
        <li>случайные события (ограбления, пожары, болезни)</li>
        <li>расовые мегапроекты для строительства всеми игроками</li>
    </ul>
    </p>
    <h3>Ресурсы</h3>
    <ul>
        <li><a href='http://www.freepik.com' target="_blank"><img th:src="@{'/graphics/freepik.PNG' }"/></a></li>
        <li><a href='http://all-free-download.com/' target="_blank">all-free-download.com</a></li>
        <li><a href='http://ru.fotolia.com/' target="_blank"><img th:src="@{'/graphics/fotolia.png' }"/></a></li>
        <li><a href='http://www.flaticon.com/' target="_blank"><img th:src="@{'/graphics/flaticon.png' }"/> flaticon</a></li>
    </ul>
</div>
<th:block th:replace="fragments/scripts :: webjarsSite"></th:block>
<th:block th:replace="fragments/custom :: footerSite"></th:block>
</body>
</html>