<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>О проекте</title>
    <th:block th:replace="fragments/custom :: headLinks"></th:block>
</head>
<body>
<th:block th:replace="fragments/scripts :: counters"></th:block>
<div th:replace="fragments/navigation :: nav-for-index"></div>
<div class="container">
    <h3>О проекте</h3>
    <p> Проект разрабатывается мной с февраля 2017 года. С переменным успехом: то забрасываю, то снова начинаю. Запуск бета-версии состоялся 10 декабря 2017 года, первое падение сервера из-за
        бага тоже 10 декабря =))) <br/>
        Идея игры возникла намного раньше, вопрос был во времени и платформе. Так как игра
        скорее логическая, то выбор был сделан в пользу статичного веб-приложения (java spring + thymeleaf + mysql). Рисовать я не умею,
        поэтому графику беру с бесплатных ресурсов, перечисленных ниже. Огромное спасибо им, что они есть. <br/>
        В игре нет анимации, красивой графики, стрельбы, зато здесь есть возможность спокойно собирать комбинации расовых черт, копить и тратить деньги и ресурсы, выбирать как будет выглядеть
        спальня или сад, отгадывать загадки про предметы и свойства персонажей при прохождении приключений. Время в игре не играет никакой роли, любой ваш выбор происходит мгновенно, не надо
        ждать три часа, пока построится лесопилка =) Есть внутриигровая почта: вы можете общаться с другими игроками, попросить, например, скрафтить лопату. <br/>
        В ожидании появления в базе данных необходимой невесты от других игроков можно порисовать предметы интерьера или придумать текстовый квест. <br/>
        Я в игре Firefly (люблю этот сериал). Пишите письма!
    </p>
    <h3>Планы на будущее</h3>
    <p>
    <ul>
        <li>новые расы, комнаты и предметы</li>
        <li>случайные события (ограбления, пожары, болезни)</li>
        <li>расовые мегапроекты для строительства всеми игроками</li>
        <li>питомцы (генетика)</li>
    </ul>
    </p>

    <h3>Благодарности</h3>
    <ul>
        <li><a href="https://sell-us.ru/?utm_source=partner&amp;utm_medium=dyngame" target="_blank"><img th:src="@{'/graphics/logo_sellus.PNG' }" height="50"/></a> за помощь с контекстной рекламой
        </li>
    </ul>
    <p>Огромное спасибо Станиславу, Анне, Юлии, Александре, Ярославу за помощь и поддержку!</p>
    <p>Благодарю за игру и отзывы по обратной связи: Schenen, freshCorpse, BaronDered, slAvIk159, Tikhon, Kastuk </p>

    <h3>Ресурсы</h3>
    <ul>
        <li><a href='http://www.freepik.com' target="_blank"><img th:src="@{'/graphics/freepik.PNG' }"/></a></li>
        <li><a href='http://all-free-download.com/' target="_blank">all-free-download.com</a></li>
        <li><a href='http://ru.fotolia.com/' target="_blank"><img th:src="@{'/graphics/fotolia.png' }"/></a></li>
        <li><a href='http://www.flaticon.com/' target="_blank"><img th:src="@{'/graphics/flaticon.png' }"/> flaticon</a></li>
    </ul>
</div>
<th:block th:replace="fragments/scripts :: webjarsSite"></th:block>
<th:block th:replace="fragments/custom :: footerSite"></th:block>
</body>
</html>