<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Admin</title>
    <th:block th:replace="fragments/custom :: headLinks"></th:block>
</head>
<body>
<div th:replace="fragments/navigation :: nav-for-admin"></div>
<div class="container">
    <h3>Administration</h3>
    <p class="has-error" th:text="${mess}"></p>
    <p><a href="/admin/random">Random male</a></p>
    <p><a href="/admin/random?sex=female">Random female</a></p>
    <h3>Создать невест:</h3>
    <form action="#" th:action="@{/admin/generateFiancee}" method="post">
        <label>Уровень новых невест:</label>
        <input type="text" name="level" value="1"/>
        <button class="btn-info" type="submit">Создать</button>
    </form>
    <h3>Обновить персонажа:</h3>
    <form action="#" th:action="@{/admin/updateCharacter}" method="post">
        <label>ID персонажа:</label>
        <input type="text" name="character_id" value="0"/>
        <button class="btn-info" type="submit">Обновить</button>
    </form>
    <h3>Изменить персонажа:</h3>
    <form action="#" th:action="@{/admin/alterCharacterForm}" method="post">
        <label>ID персонажа:</label>
        <input type="text" name="character_id" value="0"/>
        <button class="btn-info" type="submit">Изменить</button>
    </form>


</div>
<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>