<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Error</title>
    <th:block th:replace="fragments/custom :: headLinks"></th:block>
</head>
<body>
<div th:replace="fragments/navigation :: nav-for-index"></div>
<div class="container">
    <h3>Ошибочка вышла</h3>
    <p th:each="attr : ${reqAttr}" th:text="${attr}"></p>
</div>
<th:block th:replace="fragments/scripts :: webjarsSite"></th:block>
<th:block th:replace="fragments/custom :: footerSite"></th:block>
</body>
</html>