<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Сброс пароля</title>
    <th:block th:replace="fragments/custom :: headLinks"></th:block>
</head>
<body>
<div th:replace="fragments/navigation :: nav-for-index"></div>
<div class="container">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div id="legend">
            <legend class="">Сброс пароля</legend>
        </div>
        <form class="form-horizontal" th:action="@{/forgot}" method="POST">
            <div class="form-group">
                <!-- E-mail -->
                <label for="email">E-mail</label>
                <input type="text" id="email" name="email" placeholder=""
                       class="form-control"></input>
            </div>
            <div class="form-group" style="margin-top: 10px;">
                <!-- Button -->
                <button class="btn btn-success btn-block">Отправить на этот адрес ссылку для сброса пароля</button>
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>
<th:block th:replace="fragments/scripts :: webjarsSite"></th:block>
<th:block th:replace="fragments/custom :: footerSite"></th:block>
</body>
</html>