<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Игра</title>
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"></link>
    <link th:href="@{/css/common.css}" rel="stylesheet"></link>
</head>
<body>
<div th:replace="fragments/navigation :: nav-for-game"></div>
<div class="container" style="width: 1900px;">
    <p th:text="${@careerService.getRandomFromMinToMax(1,100)}"></p>
    <!--/*@thymesVar id="user" type="dyn.model.User"*/-->
    <!--/*@thymesVar id="family" type="dyn.model.Family"*/-->
    <th:block th:if="${family.getLevel() == 0}">
        <div class="alert alert-success">
            В начале игры у вас есть два случайно сгенерированных персонажа. Каждый из них имеет свои черты лица, рост, призвание, навыки и т.д. (наведите мышкой на персонажа для получения информации). <br/>
            Сейчас на основателе вашей династии висит бафф "Трое сыновей и дочерей" (под изображением персонажа). Это означает, что в первом поколении количество детей и их пол предопределены.
            Все остальное наследуется от родителей в равной вероятности. Также этот бафф дает старшему сыну генную модификацию (одна из частей тела будет не такая, как у человека).
            Его раса изменится, он станет Генно-Модифицированным Человеком (ГМ-человек).
            Комбинируя обычные черты лица, рост, тело и генные модификации на них, можно добиться появления в вашей семье представителей иных рас, например, Эльфов, Орков, Вампиров. <br/>
            Пожалуйста, перейдите в меню на вкладку Семья.<br/>
            После того, как разберетесь со всеми вкладками меню и у вас появится хоть какая-нибудь мебель в доме, нажмите кнопку "Cледующий ход", чтобы увидеть какие дети получились у вашей первой пары!
        </div>
    </th:block>
    <th:block th:if="${family.getLevel() == 1}">
        <div class="alert alert-success">
            Основатели приобрели профессию и заработали немного деньжат! А еще их призвания принесли вам ресурсы, из которых можно что-нибудь смастерить. Родились дети, все они довольно милые, да? <br/>
            Первым делом вам необходимо поместить анкеты ваших дочерей в базу невест! Нажмите кнопку под портретом дочери. Стоимость выкупа назначается вами в зависимости от
            характеристик персонажа. Следует сделать выкуп больше, если дочь имеет ГМ черты.<br/>
            Теперь необходимо выбрать невест для сыновей. Нажмите кнопку под портретом сына. <br/>
            После выбора невест, вы можете выбрать баффы для пары, которые помогут немного скорректировать случайный выбор. Советуем выбрать бафф "Доминант отца" для старшего сына, чтобы повысить вероятность перехода его ГМ-черты к детям. Не
            помешает и бафф "Плодовитость". <br/>

        </div>
    </th:block>
    <div style="margin: 10px;">
        <h3 th:text="${'Игрок: '+user.getUserName()}"></h3>
        <div class="row">
            <div class="col-md-2">
                <p th:text="'Семья: '+${family.getFamilyName()}"></p>
                <p th:text="'Ваш дом: '+${family.getHouse().getName()}"></p>
                <p th:text="'Уровень семьи: '+${family.getLevel()}"></p>
                <p th:text="'Деньги: '+${family.getMoney()}"></p>
                <p th:text="'Баллы крафта: '+${family.getCraftPoint()}"></p>
            </div>
            <div class="col-md-10">
                <!--/*@thymesVar id="familyLog" type="dyn.model.FamilyLog"*/-->
                <pre class="pre-scrollable" style="height: 150px; max-height: 150px;" th:utext="${familyLog?.getText()}"></pre>
            </div>
        </div>

        <!--<div class="well">
            <form th:action="@{/game/postAllHumanFiancees}" method="post" class="form-inline">
                <button class="btn btn-xs btn-primary" type="submit" name="postAllHumanFiancees">Поместить всех дочерей расы "Человек" в базу невест по стандартной стоимости</button>
            </form>
        </div>-->
        <th:block th:each="itemMapEntry : ${itemMap}" th:with="thing = ${itemMapEntry.getKey()}, projectMap = ${itemMapEntry.getValue()}">
            <span th:text="${thing.getName()}"></span><br/>
            <th:block th:each="projectMapEntry : ${projectMap}" th:with="project = ${projectMapEntry.getKey()}, items = ${projectMapEntry.getValue()}">
                <span th:text="${' - ' + project.getName()}"></span><br/>
                <th:block th:each="item : ${items}">
                    <span th:text="${' --- ' + item.getId()}"></span><br/>
                </th:block>
            </th:block>
        </th:block>


        <th:block th:each="mapEntry : ${fathers}" th:with="father = ${mapEntry.getKey()}, childList = ${mapEntry.getValue()}">
            <!--/*@thymesVar id="father" type="dyn.model.Character"*/-->
            <a th:name="${'char'+father.getId()}"></a>
            <div class="well" align="center">
                <div class="well" style="display: inline-block; padding: 5px;" th:styleappend="${father.getSpouse() != null?'background-color: #dff0d8; border: solid 1px mediumseagreen':''}">
                    <div style="display: inline-block;">
                        <th:block th:replace="fragments/char :: char-panel (character=${father})"></th:block>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    style="width: 180px; border-top-right-radius: 0; border-top-left-radius: 0; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                                Действия <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                    <th:block th:if="${father.getSpouse() != null}">
                        <div style="display: inline-block;">
                            <th:block th:replace="fragments/char :: char-panel (character=${father.getSpouse()})"></th:block>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        style="width: 180px; border-top-right-radius: 0; border-top-left-radius: 0; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                                    Действия <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                    </th:block>
                </div>
                <br/>
                <th:block th:each="child : ${childList}">
                    <div class="well" style="display: inline-block; padding: 5px;" th:styleappend="${child.getSpouse() != null?'background-color: #dff0d8; border: solid 1px mediumseagreen':''}">
                        <!--/*@thymesVar id="child" type="dyn.model.Character"*/-->
                        <div style="display: inline-block;">
                            <th:block th:replace="fragments/char :: char-panel (character=${child})"></th:block>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        style="width: 180px; border-top-right-radius: 0; border-top-left-radius: 0; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                                    Действия <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <th:block th:if="${child.getSex() == 'male'}">
                                        <th:block th:if="${child.getSpouse() == null and family.getPairsNum() lt family.getHouse().getPairsNum()}">
                                            <li data-toggle="tooltip" th:title="'Можно создать еще пар: '+${family.getHouse().getPairsNum()-family.getPairsNum()}">
                                                <form th:action="@{/game/chooseFiancee}" method="post" id="form_choose_fiancee" style="padding: 3px 20px;">
                                                    <input type="hidden" name="characterId" th:value="${child.getId()}"/>
                                                    <button type="submit" class="btn btn-primary">
                                                        Выбрать невесту
                                                    </button>
                                                </form>
                                            </li>
                                        </th:block>
                                        <th:block th:if="${child.getSpouse() != null}">
                                            <th:block th:replace="fragments/char :: li-for-buff-married (character=${child}, projectItemsMap = ${buffsMarried})"></th:block>
                                        </th:block>
                                    </th:block>
                                    <th:block th:if="${child.getSex() == 'female'}">
                                        <th:block th:if="${child.getSpouse() == null and child.isFiancee() == false and family.getFianceeNum() lt family.getHouse().getFianceeNum()}">
                                            <li data-toggle="tooltip" th:title="'Введите стоимость выкупа и нажмите кнопку. Можно опубликовать еще анкет: '+${family.getHouse().getFianceeNum()-family.getFianceeNum()}">
                                                <a href="#">Анкета невесты:</a>
                                                <form class="form-inline" th:action="@{/game/putUpForFiancee}" method="post" style="margin-left: 30px;">
                                                    <input type="text" name="cost" class="form-control" th:value="${family.getLevel()}*50" style="width: 60px; margin-left: 4px;"/>
                                                    <input type="hidden" name="female" th:value="${child.getId()}"/>
                                                    <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-ok"></span></button>
                                                </form>
                                            </li>
                                        </th:block>
                                    </th:block>
                                    <th:block th:replace="fragments/char :: li-for-improve-education (character=${child})"></th:block>
                                    <th:block th:replace="fragments/char :: li-for-buff-improve-skill (character=${child}, projectItemsMap = ${buffsSkillImprovement})"></th:block>

                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                        <th:block th:if="${child.getSpouse() != null}">
                            <div style="display: inline-block;">
                                <th:block th:replace="fragments/char :: char-panel (character=${child.getSpouse()})"></th:block>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                            style="width: 180px; border-top-right-radius: 0; border-top-left-radius: 0; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                                        Действия <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <th:block th:replace="fragments/char :: li-for-improve-education (character=${child.getSpouse()})"></th:block>
                                        <th:block th:replace="fragments/char :: li-for-buff-improve-skill (character=${child.getSpouse()}, projectItemsMap = ${buffsSkillImprovement})"></th:block>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </th:block>
            </div>
        </th:block>
        <!--
        <div align="center" style="overflow-x: scroll; white-space: nowrap;">

            <div align="center" class="well" th:each="father : ${fathers}">
                <a th:name="${'char'+father.getId()}"></a>
                <div align="center">
                    <div class="char-view-div">
                        <div th:replace="fragments/char :: char-view (character=${father})"></div>
                    </div>
                    &lt;!&ndash;/*@thymesVar id="father" type="dyn.model.Character"*/&ndash;&gt;
                    <div class="char-view-div" style="vertical-align: top" th:if="${father.getSpouse() != null}">
                        <div th:replace="fragments/char :: char-view (character=${father.getSpouse()})"></div>
                    </div>
                    <br></br>
                </div>
                <div style="display: inline-block; margin-bottom: 3px; border: 2px solid lightgreen; vertical-align: top"
                     th:each="child : ${father.getChildren()}">
                    &lt;!&ndash;/*@thymesVar id="child" type="dyn.model.Character"*/&ndash;&gt;
                    <a th:name="${'char'+child.getId()}"></a>
                    <div class="char-view-div" style="vertical-align: top;">
                        <div th:replace="fragments/char :: char-view (character=${child}, education=${@careerService.mayImproveEducation(child.getCareer())})"></div>
                    </div>
                    <div class="char-view-div" th:if="${child.getSpouse() != null}">
                        <div th:replace="fragments/char :: char-view (character=${child.getSpouse()}, education=${@careerService.mayImproveEducation(child.getSpouse().getCareer())})"></div>
                    </div>
                    <br></br>
                    <div th:if="${child.getSex() == 'male' and child.getSpouse() == null and family.getPairsNum() lt family.getHouse().getPairsNum()}"
                         data-toggle="tooltip" th:title="'Можно создать еще пар: '+${family.getHouse().getPairsNum()-family.getPairsNum()}" style="text-align: center;">
                        <form th:action="@{/game/chooseFiancee}" method="post">
                            <input type="hidden" name="characterId" th:value="${child.getId()}"/>
                            <button class="btn btn-xs btn-primary" type="submit" name="chooseFianceeButton">Выбрать невесту</button>
                        </form>
                    </div>
                    <div style="text-align: center; margin-top: 10px;" th:if="${child.getSex() == 'male' and child.getSpouse() != null}">
                        <th:block th:with="buffList = ${@buffService.getBuffListForCharacter(child.getId())}">
                            <form class="form-inline" th:action="@{/game/applyBuff}" method="post" th:if="${#lists.size(buffList) gt 0}">
                                <div class="form-group" data-toggle="tooltip" th:title="'Выберите бафф для пары'">
                                    <select class="form-control input-sm" name="buff">
                                        &lt;!&ndash;getBuffListForCharacter(child.getId())&ndash;&gt;
                                        <option th:each="buff : ${buffList}"
                                                th:value="${buff.getId()}"
                                                th:text="#{${buff.getTitle()}} + ' (' + ${buff.getCost()} + ' р.)'"
                                                th:disabled="${family.getMoney() lt buff.getCost()}">1
                                        </option>
                                    </select>
                                    <input type="hidden" name="characterId" th:value="${child.getId()}"/>
                                    <button class="btn btn-sm btn-primary" type="submit">V</button>
                                </div>
                            </form>
                        </th:block>
                        &lt;!&ndash;
                        <form class="form-inline" th:action="@{/game/chooseBuffs}" method="post">
                            <input type="hidden" name="characterId" th:value="${child.getId()}"/>
                            <button class="btn btn-xs btn-primary" type="submit">Выбрать баффы</button>
                        </form>
                        &ndash;&gt;
                        &lt;!&ndash;<a href="/game/chooseBuffs" th:href="@{/game/chooseBuffs(characterId=${child.getId()})}" th:text="#{game.chooseBuffs}">Choose buffs</a>&ndash;&gt;
                    </div>
                    <div th:if="${child.getSex() == 'female' and child.getSpouse() == null and child.isFiancee() == false and family.getFianceeNum() lt family.getHouse().getFianceeNum()}"
                         data-toggle="tooltip" th:title="'Чтобы поместить анкету этого персонажа в базу невест, введите стоимость выкупа и нажмите кнопку. Можно опубликовать еще анкет: '+${family.getHouse().getFianceeNum()-family.getFianceeNum()}"
                         style="text-align: center;">
                        <form class="form-inline" th:action="@{/game/putUpForFiancee}" method="post">
                            <input type="text" name="cost" class="form-control" th:value="${family.getLevel()}*50" style="width: 60px;height: 23px;margin-left: 4px;"/>
                            <input type="hidden" name="female" th:value="${child.getId()}"/>
                            <button class="btn btn-xs btn-danger" name="postFianceeButton" type="submit">V</button>
                        </form>
                    </div>
                    <div th:if="${child.getSex() == 'female' and child.getSpouse() == null and child.isFiancee() == true}">
                        <span th:text="'Анкета в базе невест'" style="font-size: 10px;"></span>
                    </div>
                </div>
            </div>

        </div>
        -->
        <form th:action="@{/game/turn}" method="post">
            <button class="btn btn-lg btn-primary center-block" type="submit" name="turn" th:text="#{game.turn}" style="margin-bottom: 10px; margin-top: 10px;">Turn!</button>
        </form>
    </div>
</div>

<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip({
            container: 'body'
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('.dropdown-submenu a.test').on("click", function (e) {
            $(this).next('ul').toggle();
            e.stopPropagation();
            e.preventDefault();
        });
    });
</script>
</body>
</html>