<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Игра</title>
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"></link>
    <link th:href="@{/css/common.css}" rel="stylesheet"></link>
</head>
<body>
<div th:replace="fragments/navigation :: nav-for-game"></div>
<div class="container" style="width: 1900px;">
    <!--/*@thymesVar id="user" type="dyn.model.User"*/-->
    <!--/*@thymesVar id="family" type="dyn.model.Family"*/-->
    <th:block th:if="${family.getLevel() == 0}">
        <div class="alert alert-success">
            В начале игры у вас есть два случайно сгенерированных персонажа. Каждый из них имеет свои черты лица, рост, призвание, навыки и т.д. (наведите мышкой на персонажа для получения информации). <br/>
            Сейчас на основателе вашей династии висит бафф "Трое сыновей и дочерей" (под изображением персонажа). Это означает, что в первом поколении количество детей и их пол предопределены.
            Все остальное наследуется от родителей в равной вероятности. Также этот бафф дает старшему сыну генную модификацию (одна из частей тела будет не такая, как у человека).
            Его раса изменится, он станет Генно-Модифицированным Человеком (ГМ-человек).
            Комбинируя обычные черты лица, рост, тело и генные модификации на них, можно добиться появления в вашей семье представителей иных рас, например, Эльфов, Орков, Вампиров. <br/>
            Пожалуйста, перейдите в меню на вкладку Семья.<br/>
            После того, как разберетесь со всеми вкладками меню и у вас появится хоть какая-нибудь мебель в доме, нажмите кнопку "Cледующий ход", чтобы увидеть какие дети получились у вашей первой пары!
        </div>
    </th:block>
    <th:block th:if="${family.getLevel() == 1}">
        <div class="alert alert-success">
            Основатели приобрели профессию и заработали немного деньжат! А еще их призвания принесли вам ресурсы, из которых можно что-нибудь смастерить. Родились дети, все они довольно милые, да? <br/>
            Первым делом вам необходимо поместить анкеты ваших дочерей в базу невест! Нажмите кнопку под портретом дочери. Стоимость выкупа назначается вами в зависимости от
            характеристик персонажа. Следует сделать выкуп больше, если дочь имеет ГМ черты.<br/>
            Теперь необходимо выбрать невест для сыновей. Нажмите кнопку под портретом сына. <br/>
            После выбора невест, вы можете выбрать баффы для пары, которые помогут немного скорректировать случайный выбор. Советуем выбрать бафф "Доминант отца" для старшего сына, чтобы повысить вероятность перехода его ГМ-черты к детям. Не
            помешает и бафф "Плодовитость". Эти баффы подарены вам для начала игры, потом вам придется покупать их на вкладке "Город". Например, бафф "Плодовитость" можно приобрести, посетив парк отдыха.<br/>

        </div>
    </th:block>

    <ul class="list-inline">
        <!--/*@thymesVar id="room" type="dyn.model.Room"*/-->
        <li>
            <button data-toggle="collapse" data-target="#family-log" class="btn">
                Лог <span class="glyphicon glyphicon-menu-down"></span>
            </button>
        </li>
        <li th:if="${#maps.size(buffsFamily) gt 0}">
            <label>Семейные баффы:</label>
        </li>
        <li th:each="mapEntry : ${buffsFamily}" th:with="project = ${mapEntry.getKey()}, items = ${mapEntry.getValue()}">
            <form th:action="@{/game/applyItemFamily}" method="post" style="margin-left: 10px; ">
                <input type="hidden" name="itemId" th:value="${items.get(0).getId()}"/>
                <button type="submit" th:text="${project.getName() + ' (' + #lists.size(items) + ' шт.)'}" class="btn btn-primary" style="width: 200px;"></button>
            </form>
        </li>
    </ul>

    <div id="family-log" class="collapse">
        <!--/*@thymesVar id="familyLog" type="dyn.model.FamilyLog"*/-->
        <pre class="pre-scrollable" style="height: 150px; max-height: 150px;" th:utext="${familyLog?.getText()}"></pre>
    </div>

    <th:block th:each="mapEntry : ${fathers}" th:with="father = ${mapEntry.getKey()}, childList = ${mapEntry.getValue()}">
        <!--/*@thymesVar id="father" type="dyn.model.Character"*/-->
        <a th:name="${'char'+father.getId()}" class="anchor"></a>
        <div align="center">
            <div class="well" style="display: inline-block; padding: 5px;" th:styleappend="${father.getSpouse() != null?'background-color: #dff0d8; border: solid 1px mediumseagreen':''}">
                <div style="display: inline-block;">
                    <th:block th:replace="fragments/char :: char-panel (character=${father})"></th:block>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                style="width: 180px; border-top-right-radius: 0; border-top-left-radius: 0; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;"
                                th:classappend="${#maps.isEmpty(buffsForParents)} ? disabled: ''">
                            <!--${isAdmin} ? adminclass : userclass-->
                            Действия <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" style="width: 300px; font-size: 12px;">
                            <th:block th:replace="fragments/char :: li-for-buff-parents (character=${father}, projectItemsMap = ${buffsForParents})"></th:block>
                        </ul>
                    </div>
                </div>
                <th:block th:if="${father.getSpouse() != null}" th:with="mother=${father.getSpouse()}">
                    <div style="display: inline-block;">
                        <th:block th:replace="fragments/char :: char-panel (character=${mother})"></th:block>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    style="width: 180px; border-top-right-radius: 0; border-top-left-radius: 0; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;"
                                    th:classappend="${#maps.isEmpty(buffsForParents)} ? disabled: ''">
                                Действия <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" style="width: 300px; font-size: 12px;">
                                <th:block th:replace="fragments/char :: li-for-buff-parents (character=${mother}, projectItemsMap = ${buffsForParents})"></th:block>
                            </ul>
                        </div>
                    </div>
                </th:block>
            </div>
            <br/>
            <th:block th:each="child : ${childList}">
                <div class="well" style="display: inline-block; padding: 5px;" th:styleappend="${child.getSpouse() != null?'background-color: #dff0d8; border: solid 1px mediumseagreen':''}">
                    <!--/*@thymesVar id="child" type="dyn.model.Character"*/-->
                    <div style="display: inline-block;">
                        <th:block th:replace="fragments/char :: char-panel (character=${child})"></th:block>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    style="width: 180px; border-top-right-radius: 0; border-top-left-radius: 0; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                                Действия <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" style="width: 330px; font-size: 12px;">

                                <th:block th:if="${child.getSex() == 'male'}">
                                    <!--Выбрать невесту-->
                                    <th:block th:if="${child.getSpouse() == null and family.getPairsNum() lt family.getHouse().getPairsNum()}">
                                        <li data-toggle="tooltip" th:title="'Можно создать еще пар: '+${family.getHouse().getPairsNum()-family.getPairsNum()}">
                                            <form th:action="@{/game/chooseFiancee}" method="post" class="form-inline" style="margin-left: 10px;">
                                                <input type="hidden" name="characterId" th:value="${child.getId()}"/>
                                                <button type="submit" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-ok"></span></button>
                                                <span style="padding-left: 5px;">Выбрать невесту</span>
                                            </form>
                                        </li>
                                        <li role="separator" class="divider"></li>
                                    </th:block>
                                    <!--Баффы на женатого сына-->
                                    <th:block th:if="${child.getSpouse() != null}">
                                        <th:block th:replace="fragments/char :: li-for-buff-married (character=${child}, projectItemsMap = ${buffsMarried})"></th:block>
                                        <li role="separator" class="divider"></li>
                                    </th:block>
                                    <!--Повысить образование-->
                                    <th:block th:replace="fragments/char :: li-for-improve-education (character=${child})"></th:block>
                                    <!--Баффы навыков и карьеры-->
                                    <th:block th:replace="fragments/char :: li-for-buff-improve-skill (character=${child}, projectItemsMap = ${buffsSkillImprovement})"></th:block>
                                    <!--Изменение-->
                                    <th:block th:replace="fragments/char :: li-for-buff-change (character=${child}, projectItemsMap = ${buffsForChildrenChange})"></th:block>

                                </th:block>

                                <th:block th:if="${child.getSex() == 'female'}">
                                    <th:block th:if="${child.getSpouse() == null and child.isFiancee() == false}">
                                        <!--Запостить анкету невесты-->
                                        <th:block th:if="${family.getFianceeNum() lt family.getHouse().getFianceeNum()}">
                                            <li data-toggle="tooltip" th:title="'Введите стоимость выкупа и нажмите кнопку. Можно опубликовать еще анкет: '+${family.getHouse().getFianceeNum()-family.getFianceeNum()}">
                                                <form class="form-inline" th:action="@{/game/putUpForFiancee}" method="post" style="margin-left: 10px;">
                                                    <input type="hidden" name="female" th:value="${child.getId()}"/>
                                                    <button class="btn btn-primary btn-xs" type="submit"><span class="glyphicon glyphicon-ok"></span></button>
                                                    <span style="padding-left: 5px;">Анкета невесты: </span>
                                                    <input type="text" name="cost" class="form-control input-sm" th:value="${family.getLevel()}*50" style="width: 60px; margin-left: 4px;"/>
                                                </form>
                                            </li>
                                        </th:block>
                                        <!--Повысить образование-->
                                        <th:block th:replace="fragments/char :: li-for-improve-education (character=${child})"></th:block>
                                        <!--Баффы навыков и карьеры-->
                                        <th:block th:replace="fragments/char :: li-for-buff-improve-skill (character=${child}, projectItemsMap = ${buffsSkillImprovement})"></th:block>
                                        <!--Изменение-->
                                        <th:block th:replace="fragments/char :: li-for-buff-change (character=${child}, projectItemsMap = ${buffsForChildrenChange})"></th:block>
                                    </th:block>
                                </th:block>
                            </ul>
                        </div>
                    </div>
                    <th:block th:if="${child.getSpouse() != null}" th:with="spouse=${child.getSpouse()}">
                        <div style="display: inline-block;">
                            <th:block th:replace="fragments/char :: char-panel (character=${spouse})"></th:block>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        style="width: 180px; border-top-right-radius: 0; border-top-left-radius: 0; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                                    Действия <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <th:block th:if="${spouse.getSex() == 'female'}">
                                        <!--Повысить образование-->
                                        <th:block th:replace="fragments/char :: li-for-improve-education (character=${spouse})"></th:block>
                                        <!--Баффы навыков и карьеры-->
                                        <th:block th:replace="fragments/char :: li-for-buff-improve-skill (character=${spouse}, projectItemsMap = ${buffsSkillImprovement})"></th:block>
                                        <!--Изменение-->
                                        <th:block th:replace="fragments/char :: li-for-buff-change (character=${child}, projectItemsMap = ${buffsForChildrenChange})"></th:block>
                                    </th:block>
                                    <!--
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                    -->
                                </ul>
                            </div>
                        </div>
                    </th:block>
                </div>
            </th:block>
        </div>
        <hr style="height: 1px; size: 2px; color: black;border-width: 4px;" size="2px"/>
    </th:block>
    <form th:action="@{/game/turn}" method="post">
        <button class="btn btn-lg btn-primary center-block" type="submit" name="turn" th:text="#{game.turn}" style="margin-bottom: 10px; margin-top: 10px;">Turn!</button>
    </form>
</div>

<th:block th:replace="fragments/scripts :: webjars"></th:block>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip({
            container: 'body'
        });
    });
</script>

<script>
    $('.dropdown-menu').find('form').click(function (e) {
        e.stopPropagation();
    });
</script>
</body>
</html>