<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="Это браузерная пошаговая многопользовательская онлайн игра, в которой вам предстоит создать династию!"/>
    <title>Дом Для Династии</title>
    <th:block th:replace="fragments/custom :: headLinks"></th:block>
</head>
<body>
<th:block th:replace="fragments/scripts :: counters"></th:block>
<div th:replace="fragments/navigation :: nav-for-index"></div>
<div class="container">

    <div align="center">
        <img th:src="@{'/graphics/logo.png' }"/>
    </div>
    <div>
        <p align="center">
            Это браузерная пошаговая многопользовательская игра, в которой вам предстоит создать династию! Начав с двух персонажей-людей и комбинируя случайные генетические модификации, вы сможете добиться появления в вашей семье
            представителей других рас: эльфов, орков, гоблинов и т.д. <br/>
            Каждый персонаж имеет призвание, работает и приносит в семью деньги и ресурсы, на которые вы сможете купить или скрафтить вещи для вашего родового поместья: мебель, технику, автомобили. Все предметы в игре можно создавать,
            продавать, покупать и.... рисовать!<br/>
            Создайте уникальный дом для своей династии!
            <br/>
            <br/>
            Это не коммерческий проект. Игра находится в стадии разработки, поэтому возможны ошибки и лаги. Заранее приносим извинения. <br/>
            Обо всех неполадках просим сообщать через форму обратной связи - спасибо!
        </p>
    </div>

</div>

<th:block th:replace="fragments/scripts :: webjarsSite"></th:block>
<th:block th:replace="fragments/custom :: footerSite"></th:block>
</body>
</html>