<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="yandex-verification" content="4ff61037c0e948ef"/>
    <meta name="description" content="Это браузерная пошаговая многопользовательская онлайн игра, в которой вам предстоит создать династию!"/>
    <title>Дом Для Династии</title>
    <th:block th:replace="fragments/custom :: headLinks"></th:block>
    <link rel="stylesheet" th:href="@{/css/lightbox.css}"></link>
</head>
<body>
<th:block th:replace="fragments/scripts :: counters"></th:block>
<div th:replace="fragments/navigation :: nav-for-index"></div>
<div align="center" style="width: 946px; margin-right: auto; margin-left: auto;">
    <img th:src="@{'/graphics/logo.png' }" align="center"/>
    <p align="center">
        Дом Для Династии - это браузерная пошаговая многопользовательская игра, в которой вам предстоит создать династию!
    </p>
    <div class="row" style="margin-right: auto; margin-left: auto;">
        <div class="col-sm-6" style="text-align: left; padding: 10px; ">
            <div class="row">
                <div class="col-sm-2"><img th:src="@{'/graphics/index_01.png' }" height="50" style="filter: grayscale(100%);"/></div>
                <div class="col-sm-10"><label>Генетика</label>
                    <p>Сколько поколений понадобится вашей династии, чтобы перейти от человеческой расы к эльфийской? </p>
                    <p>
                    <li>20+ рас из разных вселенных</li>
                    <li>наследование и случайные мутации</li>
                    <li>80+ особенностей внешности</li>
                    <li>30+ генетических модификаций</li>
                    </p>
                </div>
            </div>

        </div>
        <div class="col-sm-6" style="text-align: left; padding: 10px; ">
            <div class="row">
                <div class="col-sm-2"><img th:src="@{'/graphics/index_02.png' }" height="50" style="filter: grayscale(100%);"/></div>
                <div class="col-sm-10">
                    <label>Крафт</label>
                    <p>Обустройте дом вашей династии: мебель, техника, автомобили и даже бассейн! Наладьте производство баффов в Городе для себя и других игроков. </p>
                    <p>
                    <li>150+ видов предметов для дома и бизнеса</li>
                    <li>400+ различных вариантов этих предметов</li>
                    <li>10 типов домов, от 3 до 14 комнат</li>
                    <li>27 городских зданий</li>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-right: auto; margin-left: auto; margin-top: 10px;">
        <div class="col-sm-6" style="text-align: left; padding: 10px;">
            <div class="row">
                <div class="col-sm-2"><img th:src="@{'/graphics/index_04.png' }" height="50" style="filter: grayscale(100%);"/></div>
                <div class="col-sm-10">
                    <label>Торговля</label>
                    <p>Любой предмет продается и покупается. Анализируйте рынок, сравнивайте цены, зарабатывайте! </p>
                    <p>
                    <li>демпинг и монополия - все в ваших руках</li>
                    <li>заявки на изготовление предметов</li>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="text-align: left; padding: 10px; ">
            <div class="row">
                <div class="col-sm-2"><img th:src="@{'/graphics/index_03.png' }" height="50" style="filter: grayscale(100%);"/></div>
                <div class="col-sm-10">
                    <label>Творчество</label>
                    <p>Нарисуйте уникальный кухонный гарнитур или мебель для детской, загрузите в игру и следите, как другие игроки покупают ваши проекты! </p>
                    <p>
                    <li>фирменный стиль династии</li>
                    <li>ваши произведения оценят все игроки</li>
                    <li>доход от продажи проекта</li>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <h3 style="text-align:center; margin-top: 10px; margin-bottom: 10px;">Скриншоты</h3>

    <img id="img1" th:src="@{'/graphics/screenshots/Крафт.png' }" onclick="imgView('img1')" alt="Крафт стула" height="124" style="display: inline-block;"/>
    <img id="img2" th:src="@{'/graphics/screenshots/Кухня.png' }" onclick="imgView('img2')" alt="Кухня в уютном домике" height="124" style="display: inline-block;"/>
    <img id="img3" th:src="@{'/graphics/screenshots/Семья.png' }" onclick="imgView('img3')" alt="Родословная" height="124" style="display: inline-block;"/>
    <img id="img4" th:src="@{'/graphics/screenshots/Выбор невесты.png' }" onclick="imgView('img4')" alt="Выбор невесты для одного из персонажей" height="124" style="display: inline-block;"/>
    <img id="img5" th:src="@{'/graphics/screenshots/Бизнес.png' }" onclick="imgView('img5')" alt="Парк отдыха в городе" height="124" style="display: inline-block;"/>
    <br/>
    <h3 style="text-align:center">Отзывы</h3>
    <p>"моя семья из двух русалок и четырех мутантов живет в хижине, в которой даже сортира нет, зато у меня есть деньги на покупку парка в городе..."</p><br/>
    <p>"у меня вампир с ушами гоблина, что делать? - пластическая хирургия в городе, заменит уши на обычные - отрезать уши?!"</p><br/>
    <p>"мне же нужна невеста не абы какая с любыми косыми глазами, а например с глазами кошки..."</p><br/>
    <p>"вопрос о приемной ребенке. он будет рандомный мутант?"</p><br/>
    <p>"и вот сижу я с кучей инопланетян, портить жалко их, а денег не хватает ни на невест хороших, ни на бафы для поддержания гена"</p><br/>
    <p>"а это нормально, что у моей почти-эльфийки-дочери появился бабочк-мужик?"</p><br/>
    <p>"ну вот. гарпии зашли в тупик. нарожали девок(("</p><br/>
</div>


<!-- The Modal -->
<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01"/>
    <div id="caption"></div>
</div>

<script>
    /*<![CDATA[*/
    function imgView(imgId) {
        // Get the modal
        var modal = document.getElementById('myModal');

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById(imgId);
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        modal.style.display = "block";
        modalImg.src = img.src;
        captionText.innerHTML = img.alt;

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }
    }
    /*]]>*/
</script>


<th:block th:replace="fragments/scripts :: webjarsSite"></th:block>
<th:block th:replace="fragments/custom :: footerSite"></th:block>
</body>
</html>