<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Login</title>
    <th:block th:replace="fragments/custom :: headLinks"></th:block>
</head>
<body>
<div th:replace="fragments/navigation :: nav-for-index"></div>
<div class="container">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <span th:if="${param.logout}" style="color: darkslategrey;"> You have been logged out. </span>
        <div id="legend">
            <legend class="">Авторизация</legend>
        </div>
        <span th:if="${param.error}" style="color: palevioletred;">Invalid email or password.</span>
        <form th:action="@{/login}" method="post" class="form-horizontal">
            <div class="form-group">
                <input type="text" name="username" th:object="${username}" class="form-control" placeholder="Email"
                       autofocus="true"/>

            </div>
            <div class="form-group">
                <input type="password" name="password" th:object="${password}" class="form-control" placeholder="Password"/>

            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit" name="buttonSubmit">Log In</button>

            </div>
            <div class="form-group">
                <h4 class="text-center"><a href="/reg">Создать новый аккаунт</a></h4>
            </div>
            <div class="form-group">
                <h4 class="text-center"><a href="/forgot">Сбросить пароль</a></h4>
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>
<th:block th:replace="fragments/scripts :: webjarsSite"></th:block>
<th:block th:replace="fragments/custom :: footerSite"></th:block>
</body>
</html>