<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Registration</title>
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"></link>
</head>
<body>
<nav role="navigation" class="navbar navbar-default">
    <div>
        <a href="http://www.yandex.ru" class="navbar-brand">Dynasty</a>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/login">Login</a></li>
            <li class="active"><a href="/reg">Registration</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="?language=en">en</a></li>
            <li><a href="?language=ru">ru</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <p>Registration</p>
</div>
<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>