<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Регистрация</title>
    <th:block th:replace="fragments/custom :: headLinks"></th:block>
</head>
<body>
<div th:replace="fragments/navigation :: nav-for-index"></div>
<div class="container" width="350px">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <!--/*@thymesVar id="regUser" type="dyn.model.User"*/-->
        <div id="legend">
            <legend class="">Регистрация</legend>
        </div>
        <form class="form-horizontal" th:action="@{/reg}" th:object="${regUser}" method="POST">
            <div class="form-group">
                <!-- Username -->
                <label for="username">Имя пользователя в игре (будет видно всем игрокам)</label>
                    <p class="has-error" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></p>
                <input type="text" id="userName" name="userName" th:field="*{userName}" placeholder="" class="form-control"></input>
                    <p class="help-block">Имя пользователя может содержать любые символы, количеством от 6 до 45</p>
            </div>

            <div class="form-group">
                <!-- E-mail -->
                <label for="email">E-mail</label>
                <div class="controls">
                    <p class="has-error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                    <input type="text" id="email" name="email" th:field="*{email}" placeholder="" class="form-control"></input>
                    <p class="help-block">E-mail нужен для входа в игру и восстановления пароля</p>
                </div>
            </div>

            <div class="form-group">
                <!-- Password-->
                <label for="password">Пароль</label>
                <div class="controls">
                    <p class="has-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                    <input type="password" id="password" name="password" th:field="*{password}" placeholder="" class="form-control"></input>
                    <p class="help-block">Пароль должен состоять минимум из 6 символов</p>
                </div>
            </div>

            <div class="form-group">
                <!-- Password -->
                <label for="passwordConfirm">Пароль (подтверждение)</label>
                <div class="controls">
                    <p class="has-error" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></p>
                    <input type="password" id="passwordConfirm" name="passwordConfirm" placeholder="" class="form-control"></input>
                    <p class="help-block">Повторите пароль для исключения ошибок</p>
                </div>
            </div>

            <div class="form-group">
                <!-- Checkbox -->
                <label><span class="glyphicon glyphicon-ok-sign" style="color: green;"></span>
                    Я принимаю условия Пользовательского соглашения и Положения о конфиденциальности.
                </label>
            </div>

            <div class="form-group" style="margin-top: 10px;">
                <!-- Button -->
                <button class="btn btn-success btn-block">Готово!</button>
                </div>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>
<th:block th:replace="fragments/scripts :: webjarsSite"></th:block>
<th:block th:replace="fragments/custom :: footerSite"></th:block>
</body>
</html>