<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Новый пароль</title>
    <th:block th:replace="fragments/custom :: headLinks"></th:block>
</head>
<body>
<div th:replace="fragments/navigation :: nav-for-index"></div>
<div class="container">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <!--/*@thymesVar id="regUser" type="dyn.model.User"*/-->
        <div id="legend">
            <legend class="">Сброс пароля</legend>
        </div>
        <!--/*@thymesVar id="regUser" type="dyn.model.User"*/-->
        <form class="form-horizontal" th:action="@{/reset}" method="POST">
            <p class="has-error" th:if="${error != ''}" th:text="${error}"></p>
            <input type="hidden" name="token" th:value="${resetToken}"/>
            <div class="form-group">
                <!-- Password-->
                <label for="password">Новый пароль</label>
                <div class="controls">
                    <input type="password" id="password" name="password" placeholder="" class="form-control"></input>
                    <p class="help-block">Пароль должен состоять минимум из 6 символов</p>
                </div>
            </div>

            <div class="form-group">
                <!-- Password -->
                <label for="passwordConfirm">Новый пароль (подтверждение)</label>
                <div class="controls">
                    <input type="password" id="passwordConfirm" name="passwordConfirm" placeholder="" class="form-control"></input>
                    <p class="help-block">Повторите пароль для исключения ошибок</p>
                </div>
            </div>

            <div class="form-group" style="margin-top: 10px;">
                <button class="btn btn-success btn-block">Готово!</button>
            </div>
        </form>
</div>
    <div class="col-md-4"></div>
</div>
<th:block th:replace="fragments/scripts :: webjarsSite"></th:block>
<th:block th:replace="fragments/custom :: footerSite"></th:block>
</body>
</html>