<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Новый пароль</title>
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"></link>
    <link th:href="@{/css/common.css}" rel="stylesheet"></link>
</head>
<body>
<div th:replace="fragments/navigation :: nav-for-index"></div>
<div class="container">
    <!--/*@thymesVar id="regUser" type="dyn.model.User"*/-->
    <form class="form-horizontal" th:action="@{/reset}" method="POST">
        <p class="has-error" th:if="${error != ''}" th:text="${error}"></p>
        <input type="hidden" name="token" th:value="${resetToken}"/>
        <div class="control-group">
            <!-- Password-->
            <label class="control-label" for="password">Новый пароль</label>
            <div class="controls">
                <input type="password" id="password" name="password" placeholder="" class="input-xlarge"></input>
                <p class="help-block">Пароль должен состоять минимум из 6 символов</p>
            </div>
        </div>

        <div class="control-group">
            <!-- Password -->
            <label class="control-label" for="passwordConfirm">Новый пароль (подтверждение)</label>
            <div class="controls">
                <input type="password" id="passwordConfirm" name="passwordConfirm" placeholder="" class="input-xlarge"></input>
                <p class="help-block">Повторите пароль для исключения ошибок</p>
            </div>
        </div>

        <div class="control-group" style="margin-top: 10px;">
            <!-- Button -->
            <div class="controls">
                <button class="btn btn-success">Готово!</button>
            </div>
        </div>
    </form>
</div>
<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>